// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 Boundary Devices
 */

#include "imx8mq-nitrogen8m_som_sd.dts"

/ {
	model = "Boundary Devices i.MX8MQ Nitrogen8M SOM AGS";
	compatible = "boundary,imx8mq-nitrogen8m_som-ags", "fsl,imx8mq";

	pcie1_refclk: pcie1-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};
	/delete-node/ sound-wm8960;
};

&iomuxc {
	/delete-node/ pcie0grp;

	pinctrl_pcie1: pcie1grp {
		fsl,pins = <
#define GP_PCIE1_RESET		<&gpio1 10 GPIO_ACTIVE_LOW>
			MX8MQ_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x19	/* Pin 105 */
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK			0x03
			MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD			0xc3
			MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0		0xc3
			MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1		0xc3
			MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2		0xc3
			MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3		0xc3
#define GP_USDHC2_CD	<&gpio2 12 GPIO_ACTIVE_LOW>
			MX8MQ_IOMUXC_SD2_CD_B_GPIO2_IO12		0x19
		>;
	};
};

/delete-node/ &pinctrl_i2c4_pca9546;
/delete-node/ &pinctrl_i2c4b_wm8960;
&i2c4 {
	/delete-node/ i2cmux@70;

	rtc@68 {
		compatible = "microcrystal,rv4162";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c4d_rv4162>;
		reg = <0x68>;
		interrupts-extended = GPIRQ_RV4162;
		wakeup-source;
	};
};

/delete-node/ &pcie0;

&pcie1 {
	/delete-property/ hard-wired;
#if 0
	/* Leave in hog group for now */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie1>;
#endif
	reset-gpio = GP_PCIE1_RESET;
	clocks = <&clk IMX8MQ_CLK_PCIE2_ROOT>,
		<&clk IMX8MQ_CLK_PCIE2_AUX>,
		<&clk IMX8MQ_CLK_PCIE2_PHY>,
		<&pcie1_refclk>;
	clock-names = "pcie", "pcie_bus", "pcie_phy", "pcie_ext_src";
	ext_osc = <0>;
	status = "okay";
};

&usdhc2 {
	/delete-property/ non-removable;
	/delete-property/ vmmc-supply;
	/* carrier has 1.8 to 3.3 level translator */
	vqmmc-1-8-v;
	bus-width = <4>;
	cd-gpios = GP_USDHC2_CD;
	pinctrl-names = "default";
	status = "okay";
};
