// SPDX-License-Identifier: GPL-2.0+
// Copyright NXP 2020

#include "imx8qxp-mek-rpmsg.dts"

&img_subsys {
	status = "disabled";
};

&dc0_subsys {
	status = "disabled";
};

&lvds_subsys {
	status = "disabled";
};

&vehicle_core {
	status = "okay";
};

&vehicle_rpmsg_m4 {
	#address-cells = <2>;
	#size-cells = <2>;
	status = "okay";
	ranges;
	fsl,resources = <&lvds_subsys>,
			<&dc0_subsys>,
			<&img_subsys>;

	pd_post: imx8qxp-pd {
		compatible = "fsl,imx8qxp-scu-pd-post";
		#power-domain-cells = <1>;
	};

	clk_post: clk1 {
		compatible = "fsl,imx8qxp-clk-post";
		#clock-cells = <2>;
	};
};

&lvds_bridge0 {
	/delete-property/ reset-gpios;
};
&lvds_bridge1 {
        /delete-property/ reset-gpios;
};

&lvds_backlight0 {
	status = "disabled";
};

&lvds_backlight1 {
        status = "disabled";
};

&mipi0_dphy {
        status = "disabled";
};

&mipi0_dsi_host {
        status = "disabled";
};

&adv_bridge0 {
        status = "disabled";
};

&mipi1_dphy {
	status = "disabled";
};

&mipi1_dsi_host {
	status = "disabled";
};

&adv_bridge1 {
	status = "disabled";
};
