// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2022 Boundary Devices
 */

/dts-v1/;

#include "imx8ulp.dtsi"
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/input/ti-drv260x.h>

&iomuxc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX8ULP_PAD_PTF8__ENET0_MDIO	0x43
			MX8ULP_PAD_PTF9__ENET0_MDC	0x43
			MX8ULP_PAD_PTF6__ENET0_CRS_DV	0x43
			MX8ULP_PAD_PTF5__ENET0_RXER	0x43
			MX8ULP_PAD_PTF1__ENET0_RXD0	0x43
			MX8ULP_PAD_PTF0__ENET0_RXD1	0x43
			MX8ULP_PAD_PTF4__ENET0_TXEN	0x43
			MX8ULP_PAD_PTF3__ENET0_TXD0	0x43
			MX8ULP_PAD_PTF2__ENET0_TXD1	0x43
			MX8ULP_PAD_PTF7__ENET0_REFCLK	0x10043
			MX8ULP_PAD_PTE13__ENET0_1588_CLKIN 0x10043
			MX8ULP_PAD_PTE12__ENET0_1588_TMR0 0x10043
			MX8ULP_PAD_PTF12__ENET0_1588_TMR1 0x10043
			MX8ULP_PAD_PTF13__ENET0_1588_TMR2 0x10043
			MX8ULP_PAD_PTF14__ENET0_1588_TMR3 0x10043
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8ULP_PAD_PTD13__PTD13		0x7
			MX8ULP_PAD_PTD15__PTD15		0x7	/* IMU_IRQ */
			MX8ULP_PAD_PTD16__PTD16		0x7	/* 29 */
			MX8ULP_PAD_PTD17__PTD17		0x7	/* 30 */
			MX8ULP_PAD_PTD18__PTD18		0x7	/* 39 */
			MX8ULP_PAD_PTD19__PTD19		0x7	/* 26 */
			MX8ULP_PAD_PTD20__PTD20		0x7	/* 33 */
			MX8ULP_PAD_PTE0__PTE0		0x7	/* 64 */
			MX8ULP_PAD_PTE2__PTE2		0x7	/* BACK */
			MX8ULP_PAD_PTE3__PTE3		0x7	/* 19 */
			MX8ULP_PAD_PTE6__PTE6		0x7	/* 34 */
			MX8ULP_PAD_PTE8__TPM4_CH0	0x7	/* 20 */
			MX8ULP_PAD_PTE9__PTE9		0x7	/* 31 */
			MX8ULP_PAD_PTE10__PTE10		0x7	/* 55 */
			MX8ULP_PAD_PTE14__PTE14		0x7	/* 41 */
			MX8ULP_PAD_PTE16__PTE16		0x7	/* Start */
			MX8ULP_PAD_PTE17__PTE17		0x7	/* Up */
			MX8ULP_PAD_PTE18__PTE18		0x7	/* Right */
			MX8ULP_PAD_PTE19__PTE19		0x7	/* Down */
			MX8ULP_PAD_PTF15__TPM4_CH3	0x7	/* pwm4 */
			MX8ULP_PAD_PTF18__PTF18		0x7	/* 54 */
			MX8ULP_PAD_PTF19__PTF19		0x7	/* 47 */
			MX8ULP_PAD_PTF20__PTF20		0x7	/* 48 */
			MX8ULP_PAD_PTF21__PTF21		0x7	/* 37 */
			MX8ULP_PAD_PTF24__PTF24		0x7	/* 49 */
			MX8ULP_PAD_PTF25__PTF25		0x7	/* 27 */
			MX8ULP_PAD_PTF26__PTF26		0x7	/* 51 */
			MX8ULP_PAD_PTF27__PTF27		0x7	/* 57 */
			MX8ULP_PAD_PTF29__PTF29		0x7	/* pmic_mode0 */
			MX8ULP_PAD_PTF30__PTF30		0x7	/* pmic_mode1 */
			MX8ULP_PAD_PTF31__PTF31		0x7	/* pmic_mode2 */
		>;
	};

	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <
			MX8ULP_PAD_PTE4__LPI2C5_SCL	0x27
			MX8ULP_PAD_PTE5__LPI2C5_SDA	0x27
		>;
	};

	pinctrl_lpi2c6: lpi2c6grp {
		fsl,pins = <
			MX8ULP_PAD_PTF16__LPI2C6_SCL	0x27
			MX8ULP_PAD_PTF17__LPI2C6_SDA	0x27
		>;
	};

	pinctrl_lpi2c6_hd3ss3220: lpi2c6-hd3ss3220grp {
		fsl,pins = <
#define GPIRQ_HD3SS3220		<&gpioe 1 IRQ_TYPE_LEVEL_LOW>
			MX8ULP_PAD_PTE1__PTE1		0x7
			MX8ULP_PAD_PTD12__PTD12		0x3
		>;
	};

	pinctrl_lpi2c6_haptics: lpi2c6-hapticsgrp {
		fsl,pins = <
#define GP_I2C6_HAPTICS_EN	<&gpiod 11 GPIO_ACTIVE_HIGH>
			MX8ULP_PAD_PTD11__PTD11		0x02
		>;
	};

	pinctrl_lpspi5: lpspi5grp {
		fsl,pins = <
			MX8ULP_PAD_PTE20__LPSPI5_SIN	0x10043
			MX8ULP_PAD_PTE21__LPSPI5_SOUT	0x00043
			MX8ULP_PAD_PTE22__LPSPI5_SCK	0x00043
			MX8ULP_PAD_PTE23__LPSPI5_PCS0	0x00043
		>;
	};

	pinctrl_lpuart4: lpuart4grp {
		fsl,pins = <
			MX8ULP_PAD_PTF10__LPUART4_TX	0x03
			MX8ULP_PAD_PTF11__LPUART4_RX	0x03
		>;
	};

	pinctrl_lpuart5: lpuart5grp {
		fsl,pins = <
			MX8ULP_PAD_PTE22__LPUART5_TX	0x03
			MX8ULP_PAD_PTE23__LPUART5_RX	0x03
		>;
	};

	pinctrl_lpuart7: lpuart7grp {
		fsl,pins = <
			MX8ULP_PAD_PTF22__LPUART7_TX	0x03
			MX8ULP_PAD_PTF23__LPUART7_RX	0x03
		>;
	};

	pinctrl_mipi_com35h3r04uly: mipi-com35h3r04ulygrp {
		fsl,pins = <
#define GP_LCD_RESET	<&gpioe 7 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE7__PTE7		0x02
		>;
	};

	pinctrl_mipi_q035_014: mipi-q035-014grp {
		fsl,pins = <
#define GP_LCD_RESET	<&gpioe 7 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE7__PTE7		0x02
		>;
	};

	pinctrl_reg_usbotg1_vbus: reg-usbotg1-vbusgrp {
		fsl,pins = <
#define GP_REG_USB_OTG1_VBUS	<&gpiof 28 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTF28__PTF28		0x03
		>;
	};

	pinctrl_ts_atmel: ts-atmelgrp {
		fsl,pins = <
#define GPIRQ_TS_ATMEL	<&gpioe 15 IRQ_TYPE_EDGE_FALLING>
#define GP_TS_ATMEL	<&gpioe 15 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE15__PTE15		0x03
#define GP_TS_ATMEL_RESET	<&gpioe 11 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE11__PTE11		0x03
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
			MX8ULP_PAD_PTD14__USB0_OC	0x10003
		>;
	};

	pinctrl_usbotg2: usbotg2grp {
		fsl,pins = <
			MX8ULP_PAD_PTD21__USB1_PWR	0x00003
			MX8ULP_PAD_PTD23__USB1_ID	0x10003
			MX8ULP_PAD_PTD22__USB1_OC	0x10003
		>;
	};

	pinctrl_usdhc0: usdhc0grp {
		fsl,pins = <
			MX8ULP_PAD_PTD0__SDHC0_RESET_B  0x43
			MX8ULP_PAD_PTD1__SDHC0_CMD	0x43
			MX8ULP_PAD_PTD2__SDHC0_CLK	0x10042
			MX8ULP_PAD_PTD10__SDHC0_D0	0x43
			MX8ULP_PAD_PTD9__SDHC0_D1	0x43
			MX8ULP_PAD_PTD8__SDHC0_D2	0x43
			MX8ULP_PAD_PTD7__SDHC0_D3	0x43
			MX8ULP_PAD_PTD6__SDHC0_D4	0x43
			MX8ULP_PAD_PTD5__SDHC0_D5	0x43
			MX8ULP_PAD_PTD4__SDHC0_D6	0x43
			MX8ULP_PAD_PTD3__SDHC0_D7	0x43
		>;
	};
};

#include "panel-com35h3r04uly.dtsi"
#include "panel-q035-014.dtsi"

/ {
	model = "NXP i.MX 8ULP tag";
	compatible = "boundary,imx8ulp-tag", "fsl,imx8ulp";

	aliases {
		backlight_mipi = &backlight_mipi;
		fb_mipi = &fb_mipi;
		mipi = &fb_mipi;
		mipi_dsi = &dsi;
		mipi_dsi_bridge = &dsi;
		mipi_dsi_phy = &dphy;
		pwm_mipi = &tpm4;
		t_mipi = &t_mipi;
	};

	backlight_mipi: backlight-mipi {
		compatible = "pwm-backlight";
		enable-gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
		pwms = <&tpm4 0 50000 0>;
		brightness-levels = <
				0  /*1  2  3  4  5  6  7  8  9
				10 11 12 13 14 15 16 17 18 19*/
				20 21 22 23 24 25 26 27 28 29
				30 31 32 33 34 35 36 37 38 39
				40 41 42 43 44 45 46 47 48 49
				50 51 52 53 54 55 56 57 58 59
				60 61 62 63 64 65 66 67 68 69
				70 71 72 73 74 75 76 77 78 79
				80 81 82 83 84 85 86 87 88 89
				90 91 92 93 94 95 96 97 98 99
				100
				>;
		default-brightness-level = <81>;
		status = "okay";
	};

	chosen {
		stdout-path = &lpuart7;
		bootargs = "console=ttyLP3,115200 earlycon";
	};

	connector {
		compatible = "usb-c-connector";
		label = "USB-C";
		data-role = "dual";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				hs_ep: endpoint {
					remote-endpoint = <&usb3_hs_ep>;
				};
			};

			port@1 {
				reg = <1>;
				ss_ep: endpoint {
					remote-endpoint = <&hd3ss3220_in_ep>;
				};
			};
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0 0x80000000>;
	};

	reg_usbotg1_vbus: regulator-usbotg1-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg1_vbus>;
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = GP_REG_USB_OTG1_VBUS;
		enable-active-high;
	};

	reg_vref_3p3v: regulator-vref-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "vref-3p3v";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vref_5v: regulator-vref-5v {
		compatible = "regulator-fixed";
		regulator-name = "vref-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	rpmsg_keys: rpmsg-keys {
		compatible = "fsl,rpmsg-keys";

		volume-up {
			label = "VolumeUp";
			linux,code = <KEY_VOLUMEUP>;
			rpmsg-key,wakeup;
		};

		volume-down {
			label = "VolumeDown";
			linux,code = <KEY_VOLUMEDOWN>;
			rpmsg-key,wakeup;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x28000000>;
			linux,cma-default;
		};

		dsp_reserved: dsp_reserved@8e000000 {
			reg = <0 0x8e000000 0 0x1000000>;
			no-map;
		};
		dsp_reserved_heap: dsp_reserved_heap {
			reg = <0 0x8f000000 0 0xef0000>;
			no-map;
		};
		dsp_vdev0vring0: vdev0vring0@8fef0000 {
			reg = <0 0x8fef0000 0 0x8000>;
			no-map;
		};
		dsp_vdev0vring1: vdev0vring1@8fef8000 {
			reg = <0 0x8fef8000 0 0x8000>;
			no-map;
		};
		dsp_vdev0buffer: vdev0buffer@8ff00000 {
			compatible = "shared-dma-pool";
			reg = <0 0x8ff00000 0 0x100000>;
			no-map;
		};

		audio_reserved: audio@a8500000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0 0xa8500000 0 0x100000>;
		};
	};

};

&crypto {
	status = "disabled";
};

&dcnano {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	fb_mipi: panel@0 {
		backlight = <&backlight_mipi>;
		bits-per-color = <8>;
		bridge-de-active = <0>;
		bus-format = "rgb888";
		clocks = <&dphy 0>,
			<&pcc5 IMX8ULP_CLK_DC_NANO>;
		clock-names = "mipi_clk", "pixel_clock";
		compatible = "panel,common";
		delay-power-up = <2>;
		dsi-format = "rgb888";
		dsi-lanes = <4>;
		mode-skip-eot;
		mode-video;
		mode-video-burst;
		panel-height-mm = <136>;
		panel-width-mm = <217>;
		power-supply = <&reg_vref_5v>;
		reg = <0>;
		spwg;

		display-timings {
			t_mipi: t-dsi-default {
				/* m101nwwb by default */
				clock-frequency = <70000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <5>;
				hfront-porch = <123>;
				vback-porch = <3>;
				vfront-porch = <24>;
				hsync-len = <1>;
				vsync-len = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};

		port {
			panel1_in: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_out: endpoint {
				remote-endpoint = <&panel1_in>;
			};
		};
	};
};

&dsp {
	assigned-clocks = <&cgc2 IMX8ULP_CLK_HIFI_SEL>;
	assigned-clock-parents = <&cgc2 IMX8ULP_CLK_PLL4>;
	memory-region = <&dsp_vdev0buffer>, <&dsp_vdev0vring0>,
			<&dsp_vdev0vring1>, <&dsp_reserved>;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rmii";
	phy-handle = <&ethphy>;
	status = "disabled";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy: ethernet-phy@1 {
			reg = <1>;
			micrel,led-mode = <1>;
		};
	};
};

&lpi2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-1 = <&pinctrl_lpi2c5>;
	status = "okay";

	ts_atmel_mt: touchscreen@4a {
		compatible = "atmel,maxtouch";
		interrupts-extended = GPIRQ_TS_ATMEL;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts_atmel>;
		reg = <0x4a>;
		reset-gpios = GP_TS_ATMEL_RESET;
	};
};

&lpi2c6 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c6>;
	pinctrl-1 = <&pinctrl_lpi2c6>;
	status = "okay";

	hd3ss3220@60 {
		/* tusb320 is compatible with hd3ss3220 */
		compatible = "ti,hd3ss3220";
		interrupts-extended = GPIRQ_HD3SS3220;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lpi2c6_hd3ss3220>;
		reg = <0x60>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&ss_ep>;
				};
			};

			port@1 {
				reg = <1>;
				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&usb3_role_switch>;
				};
			};
		};
	};

	haptics: haptics@5a {
		compatible = "ti,drv2605";
		reg = <0x5a>;
		vbat-supply = <&reg_vref_3p3v>;
		enable-gpio = GP_I2C6_HAPTICS_EN;
		mode = <DRV260X_LRA_MODE>;
		library-sel = <DRV260X_LIB_LRA>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lpi2c6_haptics>;
		vib-rated-mv = <3200>;
		vib-overdrive-mv = <3200>;
	};
};

&lpspi5 {
	/* must disable uart5 to use */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi5>;
	status = "disabled";
};

&lpuart4 {
	/* GPS */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart4>;
	pinctrl-1 = <&pinctrl_lpuart4>;
	status = "okay";
};

&lpuart5 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart5>;
	pinctrl-1 = <&pinctrl_lpuart5>;
	status = "okay";
};

&lpuart7 {
	/* console */
	/* Let probe happen earlier */
	/delete-property/ dmas;
	/delete-property/ dma-names;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart7>;
	pinctrl-1 = <&pinctrl_lpuart7>;
	status = "okay";
};

&mu {
	status = "okay";
};

&mu3 {
	status = "okay";
};

&tpm4 {
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	over-current-active-low;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_usbotg1>;
	pinctrl-1 = <&pinctrl_usbotg1>;
	power-active-high;
	status = "okay";
	vbus-supply = <&reg_usbotg1_vbus>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb3_hs_ep: endpoint {
				remote-endpoint = <&hs_ep>;
			};
		};

		port@1 {
			reg = <1>;
			usb3_role_switch: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&usbphy1 {
	fsl,tx-d-cal = <88>;
	status = "okay";
};

&usbmisc2 {
	status = "okay";
};

&usbotg2 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	over-current-active-low;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_usbotg2>;
	pinctrl-1 = <&pinctrl_usbotg2>;
	srp-disable;
	status = "okay";
};

&usbphy2 {
	fsl,tx-d-cal = <88>;
	status = "okay";
};

&usdhc0 {
	bus-width = <8>;
	no-mmc-hs400;
	non-removable;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc0>;
	pinctrl-1 = <&pinctrl_usdhc0>;
	pinctrl-2 = <&pinctrl_usdhc0>;
	status = "okay";
};
