// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Ezurio LLC
 */

#include "imx8mp-nitrogen_smarc.dts"

/ {
	model = "Ezurio Nitrogen8MP SMARC board + OV5645 sensors";
	compatible = "ezurio,imx8mp-nitrogen_smarc-ov5645", "fsl,imx8mp";
};

&dewarp {
	status = "okay";
};

&i2c6a {
	/delete-node/ camera@10;

	ov5645_0: camera@3c {
		compatible = "ovti,ov5645";
		clocks = <&csi_mclk>;
		clock-names = "xclk";
		clock-frequency = <24000000>;
		enable-gpios = <&mcp23018 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
		reg = <0x3c>;
		status = "okay";

		port {
			ov5645_0_ep: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&mipi_csi0_ep>;
			};
		};
	};
};


&i2c6b {
	/delete-node/ camera@10;

	ov5645_1: camera@3c {
		compatible = "ovti,ov5645";
		clocks = <&csi_mclk>;
		clock-names = "xclk";
		clock-frequency = <24000000>;
		enable-gpios = <&mcp23018 3 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
		reg = <0x3c>;
		status = "okay";

		port {
			ov5645_1_ep: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&mipi_csi1_ep>;
			};
		};
	};
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isi_1 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&isp_0 {
	status = "disabled";
};

&isp_1 {
	status = "disabled";
};

&mipi_csi_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&ov5645_0_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};


&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		reg = <1>;
		mipi_csi1_ep: endpoint {
			remote-endpoint = <&ov5645_1_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};
