// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 Boundary Devices
 */

#include "imx8mq-nitrogen8m_som_sd.dts"

/ {
	model = "Boundary Devices i.MX8MQ Nitrogen8M SOM AGS";
	compatible = "boundary,imx8mq-nitrogen8m_som-ags", "fsl,imx8mq";

	pcie1_refclk: pcie1-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};
};

&iomuxc {
	/delete-node/ pcie0grp;

	pinctrl_pcie1: pcie1grp {
		fsl,pins = <
#define GP_PCIE1_RESET		<&gpio1 10 GPIO_ACTIVE_LOW>
			MX8MQ_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x19	/* Pin 105 */
		>;
	};
};

/delete-node/ &pcie0;

&pcie1 {
	/delete-property/ hard-wired;
#if 0
	/* Leave in hog group for now */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie1>;
#endif
	reset-gpio = GP_PCIE1_RESET;
	clocks = <&clk IMX8MQ_CLK_PCIE2_ROOT>,
		<&clk IMX8MQ_CLK_PCIE2_AUX>,
		<&clk IMX8MQ_CLK_PCIE2_PHY>,
		<&pcie1_refclk>;
	clock-names = "pcie", "pcie_bus", "pcie_phy", "pcie_ext_src";
	ext_osc = <0>;
	status = "okay";
};
