// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 Boundary Devices
 */

#define TOUCHSCREEN_I2C_BUS	i2c4
#include "imx8mm-nitrogen8mm.dts"

&iomuxc {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;

	/delete-node/ ecspi2-mcp2515tgrp;
	/delete-node/ hoggrp;

	pinctrl_sn65dsi83: sn65dsi83grp {
		fsl,pins = <
#define GPIRQ_SN65DSI83	<&gpio1 1 IRQ_TYPE_LEVEL_HIGH>
			MX8MMN(IOMUXC_GPIO1_IO01_GPIO1_IO1, 0x04)
#undef  GP_SN65DSI83_EN
#define GP_SN65DSI83_EN	<&gpio5 0 GPIO_ACTIVE_HIGH>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x106)
		>;
	};

	/delete-node/ i2c3a-rv4162grp;
	/delete-node/ i2c3b-ov5640-mipigrp;

	pinctrl_i2c2_rv4162: i2c2-rv4162grp {
		fsl,pins = <
#undef  GPIRQ_RV4162
#define GPIRQ_RV4162		<&gpio1 3 IRQ_TYPE_LEVEL_LOW>
			MX8MMN(IOMUXC_GPIO1_IO03_GPIO1_IO3, 0x1c0)
		>;
	};

	pinctrl_i2c3_ov5640_mipi: i2c3-ov5640-mipigrp {
		fsl,pins = <
#undef GP_OV5640_MIPI_POWER_DOWN
#define GP_OV5640_MIPI_POWER_DOWN	<&gpio1 11 GPIO_ACTIVE_HIGH>
			MX8MMN(IOMUXC_GPIO1_IO11_GPIO1_IO11, 0x141)
#undef  GP_OV5640_MIPI_RESET
#define GP_OV5640_MIPI_RESET	<&gpio1 9 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_GPIO1_IO09_GPIO1_IO9, 0x101)
		>;
	};

	pinctrl_lt8912: lt8912grp {
		fsl,pins = <
#undef GP_LT8912_RESET
#define GP_LT8912_RESET	<&gpio5 0 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x16)
#define GPIRQ_LT8912	<&gpio1 1 IRQ_TYPE_LEVEL_LOW>
			MX8MMN(IOMUXC_GPIO1_IO01_GPIO1_IO1, 0x1c0)
		>;
	};

	pinctrl_mipi_com50h5n03ulc: mipi-com50h5n03ulcgrp {
		fsl,pins = <
#undef GP_MIPI_RESET
#define GP_MIPI_RESET	<&gpio5 0 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x16)
		>;
	};

	pinctrl_mipi_lcd133_070: mipi-lcd133-070grp {
		fsl,pins = <
#define GP_LCD133_070_RESET		<&gpio1 1 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_GPIO1_IO01_GPIO1_IO1, 0x116)
#undef GP_LCD133_070_ENABLE
#define GP_LCD133_070_ENABLE		<&gpio5 0 GPIO_ACTIVE_HIGH>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x116)
		>;
	};

	pinctrl_mipi_lcm_jm430: mipi-lcm-jm430grp {
		fsl,pins = <
#undef GP_TC358762_EN
#define GP_TC358762_EN	<&gpio5 0 GPIO_ACTIVE_HIGH>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x16)
		>;
	};

	pinctrl_mipi_ltk0680ytmdb: mipi-ltk0680ytmdbgrp {
		fsl,pins = <
#undef GP_MIPI_RESET
#define GP_MIPI_RESET	<&gpio5 0 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x16)
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX8MMN(IOMUXC_GPIO1_IO15_PWM4_OUT, 0x16)
		>;
	};

	pinctrl_sc18is602b: sc18is602bgrp {
		fsl,pins = <
#undef  GP_SC18IS602B_RESET
#define GP_SC18IS602B_RESET	<&gpio5 0 GPIO_ACTIVE_LOW>
			MX8MMN(IOMUXC_SAI3_TXC_GPIO5_IO0, 0x101)
		>;
	};

	pinctrl_usbotg2: usbotg2grp {
		fsl,pins = <
			MX8MMN(IOMUXC_GPIO1_IO14_USB2_OTG_PWR, 0x16)
			MX8MMN(IOMUXC_GPIO1_IO08_GPIO1_IO8, 0x16)
		>;
	};
};

/ {
	model = "Boundary Devices i.MX8MMini Nitrogen8MM Som";
	compatible = "boundary,imx8mm-nitrogen8mm_som", "fsl,imx8mm";

	mipi_xclk: mipi-xclk {
		assigned-clocks = <&clk IMX8MMN(CLK_PWM4)>;
		assigned-clock-parents = <&clk IMX8MMN(SYS_PLL1_40M)>;
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
		clock-output-names = "mipi_pwm4";
		pwms = <&pwm4 0 50>; /* 20 MHz */
	};
};

&A53_0 {
	cpu-supply = <&reg_sw3>;
};

&ecspi2 {
	/delete-node/ can@0;

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <2000000>;
		reg = <0>;
	};
};

&i2c2 {
	rtc@68 {
		compatible = "microcrystal,rv4162";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_rv4162>;
		reg = <0x68>;
		interrupts-extended = GPIRQ_RV4162;
		wakeup-source;
	};
};

&i2c3 {
	/delete-node/ i2cmux@70;

	ov5640-mipi1@3c {
		AVDD-supply = <&reg_vref_2v5>;
		DOVDD-supply = <&reg_vref_1v8>;
		DVDD-supply = <&reg_vref_3v3>;
		clocks = <&mipi_xclk>;
		clock-names = "csi_mclk";
		compatible = "ovti,ov5640_mipisubdev";
		csi_id = <0>;
		mclk = <20000000>;
		mipi_csi;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ov5640_mipi>;
		pwn-gpios = GP_OV5640_MIPI_POWER_DOWN;
		reg = <0x3c>;
		rst-gpios = GP_OV5640_MIPI_RESET;
		status = "okay";

		port {
			ov5640_mipi1_ep: endpoint {
				remote-endpoint = <&mipi1_ov5640_ep>;
			};
		};
	};
};

&lt8912 {
	reset-gpios = GP_LT8912_RESET;
};

&mipi_to_lvds {
	enable-gpios = GP_SN65DSI83_EN;
};

&reg_sw4 {
	/delete-property/ dual-phase;
};

&spi_lcd {
	reset-gpios = GP_SC18IS602B_RESET;
};

&usbotg2 {
	disable-over-current;
};

&wdog1 {
	/delete-property/ reset-gpios;
	/delete-property/ pinctrl-1;
};
