// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Ezurio LLC
 */

/dts-v1/;

#include "imx8mp-nitrogen_smarc-nx611.dts"

/ {
	model = "Ezurio Nitrogen8MP SMARC NX611 HMI board";
	compatible = "ezurio,imx8mp-nitrogen_smarc-hmi", "fsl,imx8mp";

};

/* The following sections are needed if you are using U-Boot ezurio-lf_v2024.04
 * It will still work for boundary-v2022.04.
 */

&backlight_lvds2 {
	status = "okay";
};

/* I2C_PM */
&i2c4 {
	ts_lvds_goodix_hmi_2: touchscreen@ba {
		   compatible = "goodix,gt928";
		   esd-recovery-timeout-ms = <2000>;
		   interrupts-extended = <&gpio4 2 IRQ_TYPE_LEVEL_HIGH>;
		   irq-gpios = <&gpio4 2 GPIO_ACTIVE_HIGH>;
		   pinctrl-names = "default";
		   pinctrl-0 = <&pinctrl_ts_lvds_gt911>;
		   reg = <0xba>;
		   reset-gpios = <&mcp23018 8 (GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
		   status = "okay";
	};
};

&lcdif2 { /* fb_lvds */
	interface_pix_fmt = "RGB24";
	status = "okay";
};

&lcdif3 { /* fb_hdmi */
	status = "disabled"; /* TODO */
};

&ldb {
	status = "okay";

	lvds-channel@0 {  /* TODO LVDS0 */
		status = "disabled";
	};

	lvds-channel@1 { /* LVDS1 */
		primary;
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		/* 10.1" HMI display timings here */
		display-timings {
			t_lvds2: t_lvds_default {
				clock-frequency = <74250000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <88>;
				hfront-porch = <72>;
				vback-porch = <23>;
				vfront-porch = <15>;
				hsync-len = <20>;
				vsync-len = <10>;
				de-active = <1>;
			};
		};
	};
};

&mipi_dsi {
	status = "disabled";
};

&sound_hdmi {
	status = "disabled";
};

/* End of U-Boot ezurio-lf_v2024.04 section */
