// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2022 Boundary Devices
 */

/dts-v1/;

#include "imx8ulp-tag-som.dtsi"

&iomuxc1 {
	pinctrl-0 = <&pinctrl_hog_som>, <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8ULP_PAD_PTD13__PTD13		0x7
			MX8ULP_PAD_PTD15__PTD15		0x7	/* IMU_IRQ */
			MX8ULP_PAD_PTD16__PTD16		0x7	/* 29 */
			MX8ULP_PAD_PTD17__PTD17		0x7	/* 30 */
			MX8ULP_PAD_PTD18__PTD18		0x7	/* 39 */
			MX8ULP_PAD_PTD19__PTD19		0x7	/* 26 */
			MX8ULP_PAD_PTD20__PTD20		0x7	/* 33 */
			MX8ULP_PAD_PTE0__PTE0		0x7	/* 64 */
			MX8ULP_PAD_PTE2__PTE2		0x7	/* BACK */
			MX8ULP_PAD_PTE3__PTE3		0x7	/* 19 */
			MX8ULP_PAD_PTE6__PTE6		0x7	/* 34 */
			MX8ULP_PAD_PTE9__PTE9		0x7	/* 31 */
			MX8ULP_PAD_PTE10__PTE10		0x7	/* 55 */
			MX8ULP_PAD_PTE14__PTE14		0x7	/* 41 */
			MX8ULP_PAD_PTE16__PTE16		0x7	/* Start */
			MX8ULP_PAD_PTE17__PTE17		0x7	/* Up */
			MX8ULP_PAD_PTE18__PTE18		0x7	/* Right */
			MX8ULP_PAD_PTE19__PTE19		0x7	/* Down */
			MX8ULP_PAD_PTF15__TPM4_CH3	0x7	/* pwm4 */
			MX8ULP_PAD_PTF18__PTF18		0x7	/* 54 */
			MX8ULP_PAD_PTF19__PTF19		0x7	/* 47 */
			MX8ULP_PAD_PTF20__PTF20		0x7	/* 48 */
			MX8ULP_PAD_PTF21__PTF21		0x7	/* 37 */
			MX8ULP_PAD_PTF24__PTF24		0x7	/* 49 */
			MX8ULP_PAD_PTF25__PTF25		0x7	/* 27 */
			MX8ULP_PAD_PTF26__PTF26		0x7	/* 51 */
			MX8ULP_PAD_PTF27__PTF27		0x7	/* 57 */
		>;
	};

	pinctrl_lpspi5: lpspi5grp {
		fsl,pins = <
			MX8ULP_PAD_PTE20__LPSPI5_SIN	0x10043
			MX8ULP_PAD_PTE21__LPSPI5_SOUT	0x00043
			MX8ULP_PAD_PTE22__LPSPI5_SCK	0x00043
			MX8ULP_PAD_PTE23__LPSPI5_PCS0	0x00043
		>;
	};

	pinctrl_lpuart4: lpuart4grp {
		fsl,pins = <
			MX8ULP_PAD_PTF10__LPUART4_TX	0x03
			MX8ULP_PAD_PTF11__LPUART4_RX	0x03
		>;
	};

	pinctrl_lpuart5: lpuart5grp {
		fsl,pins = <
			MX8ULP_PAD_PTE22__LPUART5_TX	0x03
			MX8ULP_PAD_PTE23__LPUART5_RX	0x03
		>;
	};

	pinctrl_lpuart7: lpuart7grp {
		fsl,pins = <
			MX8ULP_PAD_PTF22__LPUART7_TX	0x03
			MX8ULP_PAD_PTF23__LPUART7_RX	0x03
		>;
	};

	pinctrl_mipi_com35h3r04uly: mipi-com35h3r04ulygrp {
		fsl,pins = <
#define GP_LCD_RESET	<&gpioe 7 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE7__PTE7		0x02
		>;
	};

	pinctrl_mipi_q035_014: mipi-q035-014grp {
		fsl,pins = <
#define GP_LCD_RESET	<&gpioe 7 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE7__PTE7		0x02
		>;
	};

	pinctrl_reg_usbotg1_vbus: reg-usbotg1-vbusgrp {
		fsl,pins = <
#define GP_REG_USB_OTG1_VBUS	<&gpiof 28 GPIO_ACTIVE_HIGH>
			MX8ULP_PAD_PTF28__PTF28		0x03
		>;
	};

	pinctrl_tpm4: tpm4grp {
		fsl,pins = <
			MX8ULP_PAD_PTE8__TPM4_CH0	0x7
		>;
	};

	pinctrl_ts_atmel: ts-atmelgrp {
		fsl,pins = <
#define GPIRQ_TS_ATMEL	<&gpioe 15 IRQ_TYPE_EDGE_FALLING>
#define GP_TS_ATMEL	<&gpioe 15 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE15__PTE15		0x03
#define GP_TS_ATMEL_RESET	<&gpioe 11 GPIO_ACTIVE_LOW>
			MX8ULP_PAD_PTE11__PTE11		0x03
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
			MX8ULP_PAD_PTD14__USB0_OC	0x10003
		>;
	};

	pinctrl_usbotg2: usbotg2grp {
		fsl,pins = <
			MX8ULP_PAD_PTD21__USB1_PWR	0x00003
			MX8ULP_PAD_PTD23__USB1_ID	0x10003
			MX8ULP_PAD_PTD22__USB1_OC	0x10003
		>;
	};
};

#include "panel-com35h3r04uly.dtsi"
#include "panel-q035-014.dtsi"

/ {
	model = "NXP i.MX 8ULP tag";
	compatible = "boundary,imx8ulp-tag", "fsl,imx8ulp";

	aliases {
		backlight_mipi = &backlight_mipi;
		fb_mipi = &fb_mipi;
		mipi = &fb_mipi;
		mipi_dsi = &dsi;
		mipi_dsi_bridge = &dsi;
		mipi_dsi_phy = &dphy;
		pwm_mipi = &tpm4;
		t_mipi = &t_mipi;
		ts_atmel_mt = &ts_mipi_atmel_mt;
	};

	backlight_mipi: backlight-mipi {
		compatible = "pwm-backlight";
		enable-gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
		pwms = <&tpm4 0 50000 0>;
		brightness-levels = <
				0  /*1  2  3  4  5  6  7  8  9
				10 11 12 13 14 15 16 17 18 19*/
				20 21 22 23 24 25 26 27 28 29
				30 31 32 33 34 35 36 37 38 39
				40 41 42 43 44 45 46 47 48 49
				50 51 52 53 54 55 56 57 58 59
				60 61 62 63 64 65 66 67 68 69
				70 71 72 73 74 75 76 77 78 79
				80 81 82 83 84 85 86 87 88 89
				90 91 92 93 94 95 96 97 98 99
				100
				>;
		default-brightness-level = <81>;
		status = "okay";
	};

	chosen {
		stdout-path = &lpuart7;
		bootargs = "console=ttyLP3,115200 earlycon";
	};

	reg_usbotg1_vbus: regulator-usbotg1-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg1_vbus>;
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = GP_REG_USB_OTG1_VBUS;
		enable-active-high;
	};
};

&dcnano {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	fb_mipi: panel@0 {
		backlight = <&backlight_mipi>;
		bits-per-color = <8>;
		bridge-de-active = <0>;
		bus-format = "rgb888";
		clocks = <&dphy 0>,
			<&pcc5 IMX8ULP_CLK_DC_NANO>;
		clock-names = "mipi_clk", "pixel_clock";
		compatible = "panel,common";
		delay-power-up = <2>;
		dsi-format = "rgb888";
		dsi-lanes = <4>;
		mode-skip-eot;
		mode-video;
		mode-video-burst;
		panel-height-mm = <136>;
		panel-width-mm = <217>;
		power-supply = <&reg_vref_5v>;
		reg = <0>;
		spwg;

		display-timings {
			t_mipi: t-dsi-default {
				/* m101nwwb by default */
				clock-frequency = <70000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <5>;
				hfront-porch = <123>;
				vback-porch = <3>;
				vfront-porch = <24>;
				hsync-len = <1>;
				vsync-len = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};

		port {
			panel1_in: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_out: endpoint {
				remote-endpoint = <&panel1_in>;
			};
		};
	};
};

&lpi2c5 {
	ts_mipi_atmel_mt: touchscreen@4a {
		compatible = "atmel,maxtouch";
		interrupts-extended = GPIRQ_TS_ATMEL;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts_atmel>;
		reg = <0x4a>;
		reset-gpios = GP_TS_ATMEL_RESET;
	};
};

&lpspi5 {
	/* must disable uart5 to use */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi5>;
	status = "disabled";
};

&lpuart4 {
	/* GPS */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart4>;
	pinctrl-1 = <&pinctrl_lpuart4>;
	status = "okay";
};

&lpuart5 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart5>;
	pinctrl-1 = <&pinctrl_lpuart5>;
	status = "okay";
};

&lpuart7 {
	/* console */
	/* Let probe happen earlier */
	/delete-property/ dmas;
	/delete-property/ dma-names;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpuart7>;
	pinctrl-1 = <&pinctrl_lpuart7>;
	status = "okay";
};

&tpm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm4>;
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	over-current-active-low;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_usbotg1>;
	pinctrl-1 = <&pinctrl_usbotg1>;
	power-active-high;
	status = "okay";
	vbus-supply = <&reg_usbotg1_vbus>;
};

&usbphy1 {
	fsl,tx-d-cal = <88>;
	status = "okay";
};

&usbmisc2 {
	status = "okay";
};

&usbotg2 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	over-current-active-low;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_usbotg2>;
	pinctrl-1 = <&pinctrl_usbotg2>;
	srp-disable;
	status = "okay";
};

&usbphy2 {
	fsl,tx-d-cal = <88>;
	status = "okay";
};
