// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "imx8mp-pinfunc.h"

&uart1 {
	bluetooth {
		compatible = "ti,cc33xx-bt";
		cc33xx-supply = <&reg_vref_3v3>;
		max-speed = <115200>;
	};
};

&usdhc3 { /* WiFi / Bluetooth */
	max-frequency = <50000000>;
	cap-power-off-card;

	wifi@2 {
		reg = <2>;
		compatible = "ti,cc33xx";
	};
};

&iomuxc {
	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK	0x10
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD	0x150
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x150
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x150
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x150
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x150
			MX8MP_IOMUXC_NAND_DQS__GPIO3_IO14	0x180a /*PULL_DOWN */
			MX8MP_IOMUXC_SAI5_RXD0__GPIO3_IO21	0x1c0
		>;
	};
};

&wifi {
	status = "disabled";
};
