// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Ezurio LLC
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mp.dtsi"

#include "../panel-com35h3r04uly.dtsi"
#include "../panel-q035-014.dtsi"

/ {
	model = "Ezurio i.MX 8MP TAG board";
	compatible = "boundary,imx8mp-tag", "fsl,imx8mp";

	aliases {
		backlight_mipi = &backlight_mipi;
		ethernet0 = &eqos;
		/delete-property/ ethernet1;
		lcdif = &lcdif1;
		fb_mipi = &fb_mipi;
		mipi = &fb_mipi;
		mipi_dsi = &mipi_dsi;
		mipi_dsi_bridge = &mipi_dsi;
		pwm_mipi = &pwm1;
		t_mipi = &t_mipi;
		ts_atmel_mt = &ts_mipi_atmel_mt;
		usb_mux = &usb_mux;
	};

	backlight_mipi: backlight-mipi {
		brightness-levels = <
				0  /*1  2  3  4  5  6  7  8  9
				10 11 12 13 14 15 16 17 18 19*/
				20 21 22 23 24 25 26 27 28 29
				30 31 32 33 34 35 36 37 38 39
				40 41 42 43 44 45 46 47 48 49
				50 51 52 53 54 55 56 57 58 59
				60 61 62 63 64 65 66 67 68 69
				70 71 72 73 74 75 76 77 78 79
				80 81 82 83 84 85 86 87 88 89
				90 91 92 93 94 95 96 97 98 99
				100
				>;
		compatible = "pwm-backlight";
		default-brightness-level = <81>;
		pwms = <&pwm1 0 50000 0>;
		status = "okay";
	};

	chosen {
		stdout-path = &uart2;
	};

	connector {
		compatible = "usb-c-connector";
		label = "USB-C";
		data-role = "dual";

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;
				hs_ep: endpoint {
					remote-endpoint = <&usb3_hs_ep>;
				};
			};

			port@1 {
				reg = <1>;
				ss_ep: endpoint {
					remote-endpoint = <&hd3ss3220_in_ep>;
				};
			};
		};
	};

	reserved-memory {
		linux,cma {
			size = <0 0x20000000>;
		};
	};

	reg_vref_1v8: regulator-vref-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vref-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_vref_3v3: regulator-vref-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vref-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vref_5v0: regulator-vref-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vref-5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

};

&A53_0 {
	cpu-supply = <&buck2>;
};

&A53_1 {
	cpu-supply = <&buck2>;
};

&A53_2 {
	cpu-supply = <&buck2>;
};

&A53_3 {
	cpu-supply = <&buck2>;
};

&clk {
	init-on-array = <IMX8MP_CLK_HSIO_ROOT>;

	video_pll1 {
		modulation-frequency = <10000>;
	};
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: mt25qu256aba@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <80000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&gpio1 {
	gpio-line-names = "", "MAIN_PWM", "WDOG_B", "", "",	/* 0 - 4 */
		"", "", "", "", "",				/* 5 - 9 */
		"PWM3", "DRV_PWM", "", "", "PMIC_nINT",		/* 10 - 14 */
		"", "", "", "", "",			/* 15 - 19 */
		"", "", "", "BL_EN", "",		/* 20 - 24 */
		"", "", "", "", "TS_ATM_RST",		/* 25 - 29 */
		"", "";					/* 30 - 31 */
};

&gpio2 {
	gpio-line-names = "", "", "", "", "",		/* 0 - 4 */
		"", "", "", "", "",			/* 5 - 9 */
		"", "", "", "", "",			/* 10 - 14 */
		"", "", "", "", "",			/* 15 - 19 */
		"", "", "", "", "",			/* 20 - 24 */
		"", "", "", "", "",			/* 25 - 29 */
		"", "";					/* 30 - 31 */
};

&gpio3 {
	gpio-line-names = "", "", "", "", "",		/* 0 - 4 */
		"", "", "", "", "",			/* 5 - 9 */
		"", "", "", "", "",			/* 10 - 14 */
		"TS_ATM_IRQ", "", "", "", "",		/* 15 - 19 */
		"", "", "", "", "",			/* 20 - 24 */
		"", "", "", "", "",			/* 25 - 29 */
		"", "";					/* 30 - 31 */
};

&gpio4 {
	gpio-line-names = "", "", "", "", "",		/* 0 - 4 */
		"", "", "", "", "",			/* 5 - 9 */
		"", "", "", "", "",			/* 10 - 14 */
		"", "", "", "", "",			/* 15 - 19 */
		"", "", "", "", "",			/* 20 - 24 */
		"", "", "", "", "",			/* 25 - 29 */
		"", "";					/* 30 - 31 */
};

&gpio5 {
	gpio-line-names = "ETH_RST", "ETH_IRQ", "", "", "USB_MUX_IRQ",	/* 0 - 4 */
		"", "", "", "", "",				/* 5 - 9 */
		"", "", "", "", "I2C1_SCL",			/* 10 - 14 */
		"I2C1_SDA", "", "", "", "",			/* 15 - 19 */
		"", "", "", "", "",				/* 20 - 24 */
		"", "", "", "", "",				/* 25 - 29 */
		"", "";						/* 30 - 31 */
};

&gpu_2d {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&mipi_dsi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	fb_mipi: panel@0 {
		backlight = <&backlight_mipi>;
		bits-per-color = <8>;
		bridge-de-active = <0>;
		bus-format = "rgb888";
		clocks = <&mipi_dsi 0>,
			<&clk IMX8MP_CLK_MEDIA_DISP1_PIX_ROOT>;
		clock-names = "mipi_clk", "pixel_clock";
		compatible = "panel,common";
		delay-power-up = <2>;
		dsi-format = "rgb888";
		dsi-lanes = <4>;
		mode-skip-eot;
		mode-video;
		mode-video-burst;
		panel-height-mm = <136>;
		panel-width-mm = <217>;
		power-supply = <&reg_vref_5v0>;
		reg = <0>;
		spwg;

		display-timings {
			t_mipi: t-dsi-default {
				clock-frequency = <70000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <5>;
				hfront-porch = <123>;
				vback-porch = <3>;
				vfront-porch = <24>;
				hsync-len = <1>;
				vsync-len = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};
	};
};

&mix_gpu_ml {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	status = "disabled";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@7 {
			compatible = "ethernet-phy-ieee802.3-c22";
			interrupts-extended = <&gpio5 1 IRQ_TYPE_LEVEL_LOW>;
			max-speed = <100>;
			reset-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
			reg = <7>;
			reset-assert-us = <10000>;
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_1>;
	scl-gpios = <&gpio5 14 GPIO_OPEN_DRAIN>;
	sda-gpios = <&gpio5 15 GPIO_OPEN_DRAIN>;
	status = "okay";

	pmic: pca9450@25 {
		reg = <0x25>;
		compatible = "nxp,pca9450c";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupts-extended = <&gpio1 14 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-limit-microvolt = <1025000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <950000>;
				nxp,dvs-standby-voltage = <850000>;
			};

			buck4: BUCK4 {
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5 {
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	ts_mipi_atmel_mt: touchscreen@4a {
		compatible = "atmel,maxtouch";
		interrupts-extended = <&gpio3 15 IRQ_TYPE_EDGE_FALLING>; /* NAND_RE_B */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts_atmel>;
		reg = <0x4a>;
		reset-gpios = <&gpio1 29 GPIO_ACTIVE_LOW>; /* ENET_RD3 */
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	usb_mux: hd3ss3220@60 {
		compatible = "ti,hd3ss3220";
		interrupts-extended = <&gpio5 4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c4_hd3ss3220>;
		reg = <0x60>;

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;
				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&ss_ep>;
				};
			};

			port@1 {
				reg = <1>;
				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&usb3_role_switch>;
				};
			};
		};
	 };
};

&lcdif1 {
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&uart2 {
	/* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usb3_0 {
	fsl,over-current-active-low;
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "otg";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb3_0>;
	status = "okay";
	usb-role-switch;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb3_hs_ep: endpoint {
				remote-endpoint = <&hs_ep>;
			};
		};

		port@1 {
			reg = <1>;
			usb3_role_switch: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&usb3_phy0 {
	fsl,phy-tx-preemp-amp-tune = <2>;
	status = "okay";
	vbus-supply = <&reg_vref_5v0>;
};

&usb3_phy1 {
	fsl,phy-tx-preemp-amp-tune = <2>;
	status = "okay";
	vbus-supply = <&reg_vref_5v0>;
};

&usdhc1 {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	status = "okay";
	vmmc-supply = <&reg_vref_3v3>;
	vqmmc-1-8-v;
	vqmmc-supply = <&reg_vref_1v8>;
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};

&vpu_vc8000e {
	status = "okay";
};

&vpu_v4l2 {
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_backlight_lvds: backlight-lvdsgrp {
		fsl,pins = <
			MX8MP_IOMUXC_ENET_TXC__GPIO1_IO23		0x106 /* BL_EN */
		>;
	};

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC		0x110
			MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO		0xa0
			MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL	0x1f
			MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0	0x1f
			MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1	0x1f

			MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL	0x91
			MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x91
			MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0	0x91
			MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1	0x1D1

			MX8MP_IOMUXC_SAI3_TXC__GPIO5_IO00		0x1c3	/* RST */
			MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01		0x10	/* INT */
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_ALE__FLEXSPI_A_SCLK		0x1c2
			MX8MP_IOMUXC_NAND_CE0_B__FLEXSPI_A_SS0_B	0x82
			MX8MP_IOMUXC_NAND_DATA00__FLEXSPI_A_DATA00	0x82
			MX8MP_IOMUXC_NAND_DATA01__FLEXSPI_A_DATA01	0x82
			MX8MP_IOMUXC_NAND_DATA02__FLEXSPI_A_DATA02	0x82
			MX8MP_IOMUXC_NAND_DATA03__FLEXSPI_A_DATA03	0x82
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO09__GPIO1_IO09		0x1c0
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL		0x400001c3
			MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA		0x400001c3
		>;
	};

	pinctrl_i2c1_1: i2c1-1grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C1_SCL__GPIO5_IO14	0x1c3
			MX8MP_IOMUXC_I2C1_SDA__GPIO5_IO15	0x1c3
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL		0x400001c3
			MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA		0x400001c3
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL		0x400001c3
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA		0x400001c3
		>;
	};

	pinctrl_i2c4_hd3ss3220: i2c4-hd3ss3220grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_RX__GPIO5_IO04	0x16
		>;
	};

	pinctrl_mipi_com35h3r04uly: mipi-com35h3r04ulygrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_TX__GPIO5_IO03	0x02
		>;
	};

	pinctrl_mipi_q035_014: mipi-q035-014grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_TX__GPIO5_IO03	0x02
		>;
	};

	pinctrl_pmic: pmicirq {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14	0x41
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_MCLK__PWM1_OUT	0x160
		>;
	};

	pinctrl_ts_atmel: ts-atmelgrp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_RE_B__GPIO3_IO15	0x03
			MX8MP_IOMUXC_ENET_RD3__GPIO1_IO29	0x03
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART2_RXD__UART2_DCE_RX	0x140
			MX8MP_IOMUXC_UART2_TXD__UART2_DCE_TX	0x140
		>;
	};

	pinctrl_usb3_0: usb3-0grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO13__USB1_OC	0x1c0
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x10
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x150
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x150
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x150
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x150
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x150
			MX8MP_IOMUXC_SD1_DATA4__USDHC1_DATA4	0x150
			MX8MP_IOMUXC_SD1_DATA5__USDHC1_DATA5	0x150
			MX8MP_IOMUXC_SD1_DATA6__USDHC1_DATA6	0x150
			MX8MP_IOMUXC_SD1_DATA7__USDHC1_DATA7	0x150
			MX8MP_IOMUXC_SD1_STROBE__USDHC1_STROBE	0x10
			MX8MP_IOMUXC_SD1_RESET_B__USDHC1_RESET_B 0x140
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp-100mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x14
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x154
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x154
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x154
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x154
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x154
			MX8MP_IOMUXC_SD1_DATA4__USDHC1_DATA4	0x154
			MX8MP_IOMUXC_SD1_DATA5__USDHC1_DATA5	0x154
			MX8MP_IOMUXC_SD1_DATA6__USDHC1_DATA6	0x154
			MX8MP_IOMUXC_SD1_DATA7__USDHC1_DATA7	0x154
			MX8MP_IOMUXC_SD1_STROBE__USDHC1_STROBE	0x14
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp-200mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x12
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x152
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x152
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x152
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x152
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x152
			MX8MP_IOMUXC_SD1_DATA4__USDHC1_DATA4	0x152
			MX8MP_IOMUXC_SD1_DATA5__USDHC1_DATA5	0x152
			MX8MP_IOMUXC_SD1_DATA6__USDHC1_DATA6	0x152
			MX8MP_IOMUXC_SD1_DATA7__USDHC1_DATA7	0x152
			MX8MP_IOMUXC_SD1_STROBE__USDHC1_STROBE	0x12
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO02__WDOG1_WDOG_B	0xc6
		>;
	};
};
