// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2018 Boundary Devices
 */

#include "imx8mm-nitrogen8mm.dts"

/ {
	model = "Boundary Devices i.MX8MMini Nitrogen8MM Rev2";
	compatible = "boundary,imx8mm-nitrogen8mm_rev2", "fsl,imx8mm";
};

&A53_0 {
	arm-supply = <&reg_sw3>;
};

&reg_sw4 {
	/delete-property/ dual-phase;
};

&wdog1 {
	/delete-property/ reset-gpios;
	/delete-property/ pinctrl-1;
};
