// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2024 Boundary Devices
 *
 */

/dts-v1/;

#include "imx93-nitrogen-smarc.dtsi"

/ {
        model = "Boundary Devices Nitrogen93 SMARC DSI(sn65) 7\" or 10\"";
        compatible = "fsl,imx93-nitrogen-smarc", "fsl,imx93";

};
