// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Ezurio LLC
 */

#include "imx93-nitrogen-smarc.dts"

/ {
	model = "Boundary Devices Nitrogen93 SMARC + OV5640 sensor";
	compatible = "ezurio,imx93-nitrogen-smarc-ov5640", "fsl,imx93";

	csi_mclk: csi-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "csi_mclk";
	};
};

&dphy_rx {
	status = "okay";
};

&i2c_mux_som_csi0 {
	camera@3c {
		compatible = "ovti,ov5640";
		clocks = <&csi_mclk>;
		clock-names = "xclk";
		powerdown-gpios = <&gpio3 26 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
		reg = <0x3c>;
		status = "okay";

		port {
			ov5640_mipi_ep: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&mipi_csi_ep>;
			};
		};
	};
};

&isi {
	status = "okay";

	port {
		isi_in: endpoint {
			remote-endpoint = <&mipi_csi_out>;
		};
	};
};

&mipi_csi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			mipi_csi_ep: endpoint {
				remote-endpoint = <&ov5640_mipi_ep>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};

		port@1 {
			reg = <1>;

			mipi_csi_out: endpoint {
				remote-endpoint = <&isi_in>;
			};
		};
	};
};
