// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/fsl,imx95-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

#include "imx95-pinfunc.h"

&{/} {
	dsi_backlight: dsi-backlight {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		pwms = <&tpm4 2 30000 0>;
	};

	dsi-panel {
		compatible = "infovision,ivo-m101nwwb";

		port {
			panel_dsi_in: endpoint {
				remote-endpoint = <&sn65dsi84_out>;
			};
		};
	};
};

&display_pixel_link {
	status = "okay";
};

&displaymix_irqsteer {
	status = "okay";
};

&dpu {
	assigned-clocks = <&scmi_clk IMX95_CLK_DISP1PIX>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-parents = <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-rates = <0>, <3360000000>, <420000000>;
	status = "okay";
};

&i2c_lcd_dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	dsi0_sn65dsi84: bridge@2c {
		compatible = "ti,sn65dsi84";
		reg = <0x2c>;
		enable-gpios = <&pcal6524 1 GPIO_ACTIVE_HIGH>;
		vcc-supply = <&reg_1p8v>;
		status = "okay";

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;

				sn65dsi84_in: endpoint {
					remote-endpoint = <&dsi_out>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@2 {
				reg = <2>;

				sn65dsi84_out: endpoint {
					remote-endpoint = <&panel_dsi_in>;
				};
			};

		};
	};

	ts_dsi_goodix: touchscreen@5d {
		compatible = "goodix,gt9271";
		reg = <0x5d>;
		interrupts-extended = <&pcal6524 20 IRQ_TYPE_EDGE_RISING>;
		irq-gpios = <&pcal6524 20 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&sn65dsi84_in>;
			};
		};
	};
};

&pixel_interleaver {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@0 {
		reg = <0>;
		status = "okay";
	};
};

&tpm4 {
	status = "okay";
};
