// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2025 Ezurio LLC
 *
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/usb/pd.h>
#include "imx93.dtsi"

/ {
	model = "Ezurio BDX (i.MX 93)";
	compatible = "ezurio,imx93-bdx", "fsl,imx93";

	aliases {
		eth0 = &eqos;
		rtc0 = &rv3028;
		rtc1 = &bbnsm_rtc;
	};

#if 0
	amplifier {
		compatible = "maxim,max9759"; /* U43 TPA2012D2RTJR */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_amp>;
		shutdown-gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
		// mute-gpios = <&gpio3 19 GPIO_ACTIVE_LOW>;
		gain-gpios = <&gpio4 28 GPIO_ACTIVE_LOW>,
			<&gpio4 29 GPIO_ACTIVE_LOW>;
	};
#endif

	chosen {
		stdout-path = &lpuart1;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "sgtl5000-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&codec_dai>;
		simple-audio-card,bitclock-master = <&codec_dai>;
		simple-audio-card,widgets = "Headphone", "Headphone Jack";
		simple-audio-card,routing = "Headphone Jack", "HP_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};

		codec_dai: simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
		};
	};

	lvds_backlight: lvds_backlight {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&lcdif>;
		pwms = <&tpm4 1 30000 0>;		/* 33.3 Khz */
	};

	lvds_panel {
		compatible = "tianma,tm070jdhg30";	/* BD070LIC3 */
		backlight = <&lvds_backlight>;
		/* Done in u-boot. enable-gpios = <&gpio3 25 GPIO_ACTIVE_LOW>;  XS_LCD_PWR_EN_N */

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
#if 0
	dsi_backlight: dsi-backlight {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&lcdif>;
		pwms = <&tpm4 1 30000 0>; /* 42 = 24MHz  30000 = 3.3 Khz */
		status = "okay";
	};

	panel_dsi: panel-dsi {
		compatible = "tianma,tm070jdhg30"; /* BD070LIC3 */
		power-supply = <&reg_vref_1v8>;
		backlight = <&dsi_backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&sn65dsi84_bridge_out>;
			};
		};
	};

#endif

	leds {
		compatible = "pwm-leds";

		led-kybd-bklt {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_RED>;
			label = "KYBD_BKLT_PWM";
			max-brightness = <248>;
			pwms = <&tpm5 2 200000 0>; /* 5KHz */
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;
			size = <0 0x10000000>;
			linux,cma-default;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	reg_vref_5v0: regulator-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vref_5V0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_vdd_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vref_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vref_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	status = "disabled";

#if 0
	ports {
		port@1 {
			reg = <1>;
			dsi_out: endpoint {
				remote-endpoint = <&sn65dsi84_bridge_in>;
			};
		};
	};
#endif
};

&ele_fw2 {
	memory-region = <&ele_reserved>;
};

&eqos {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_eqos>;
	pinctrl-1 = <&pinctrl_eqos_sleep>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@7 {
			compatible = "ethernet-phy-ieee802.3-c22";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_phy>;
			reg = <7>;
			interrupts-extended = <&gpio3 22 IRQ_TYPE_LEVEL_LOW>;
			reset-gpios =<&gpio3 23 GPIO_ACTIVE_LOW>;
			reset-assert-us = <25>;
			reset-deassert-us = <60000>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
		};
	};
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "",	/* 0 - 5 */
			"", "", "", "", "",		/* 6 - 10 */
			"", "", "", "", "",		/* 11 - 15 */
			"", "", "", "", "",		/* 16 - 20 */
			"", "BKUP_ARM", "LCD_BL_EN", "XS_WD_STRB", "WDO_BUF_N",	/* 21 - 25 */
			"", "VBKUP_SRC_EN_N", "VBKUP_SRC_TST_N", "XS_ID_ENBL_L", "", /* 26 - 30 */
			"";							/* 31 */
};

&gpio3 {
	gpio-line-names = "SD2_CD_B", "MON_LT", "BATT_LT", "REV0", "REV1", "REV2",	/* 0 - 5 */
			"REV3", "REV4", "", "", "",					/* 6 - 10 */
			"", "", "", "", "",						/* 11 - 15 */
			"", "", "", "", "TP_INT",					/* 16 - 20 */
			"BL_EN_N", "ENET1_INTR", "ENET1_RST", "PMIC_IRQ", "XS_LCD_PWR_EN_N", /* 21 - 25 */
			"GPIO26", "GPIO27", "", "", "",					/* 26 - 30 */
			"";								/* 31 */
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "",					/* 0 - 5 */
			"", "", "", "", "",						/* 6 - 10 */
			"", "", "", "XS_MMC_MMCCMD", "XS_AUX_DET1",			/* 11 - 15 */
			"XS_GPIO109", "PCAP_INT", "XS_AUX_DET3", "XS_AUX_DET2", "XS_LI_BAT_TEST", /* 16 - 20 */
			"CODEC_LI_BAT_TEST", "TP_RST", "MIPI_RST", "BKUP_ALM_OFF", "AMP_SHDN",	/* 21 - 25 */
			"EMMC_RESET_N", "RTC_INT_B", "AUD_GAIN_0", "AUD_GAIN_1", "",	/* 26 - 30 */
			"";								/* 31 */
};

&lcdif {
	assigned-clock-rates = <498000000>, <71142857>, <400000000>, <133333333>;
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};

};

&ldb_phy {
	status = "okay";
};

&lpi2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1>;
	status = "okay";

	sgtl5000: audio-codec@a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;

		clocks = <&clk IMX93_CLK_SAI3_GATE>;
		#sound-dai-cells = <0>;

		VDDA-supply  = <&reg_vdd_3v3>;
		VDDD-supply  = <&reg_vref_1v8>;
		VDDIO-supply = <&reg_vref_1v8>;
	};
};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupts-extended = <&gpio3 24 IRQ_TYPE_EDGE_FALLING>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <2237500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	rv3028: rtc@52 {
		#clock-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rv3028>;
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		interrupts-extended = <&gpio4 27 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&lpi2c7 { /* TP */
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c7>;
	pinctrl-1 = <&pinctrl_lpi2c7>;
	status = "okay";

#if 0
	/* 0x5d or 0x14 */
	ts_goodix_dsi: touchscreen_dsi@5d {
		compatible = "goodix,gt9271";
		AVDD28-supply = <&reg_vref_1v8>; /* Real supply is on the display */
		VDDIO-supply = <&reg_vref_1v8>;
		esd-recovery-timeout-ms = <2000>;
		interrupts-extended = <&gpio4 17 IRQ_TYPE_EDGE_RISING>;
		irq-gpios = <&gpio4 17 GPIO_ACTIVE_HIGH>; /* PCAP_INT */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts_dsi_gt911>;
		reg = <0x5d>;
		reset-gpios = <&gpio4 22 GPIO_ACTIVE_HIGH>; /* TP_RST */
		status = "okay";
	};
#else
       ts_ft5x06_lvds: touchscreen@38 {
               compatible = "edt,ft5x06-ts";
               interrupts-extended = <&gpio4 17 IRQ_TYPE_EDGE_FALLING>;
               pinctrl-names = "default";
               pinctrl-0 = <&pinctrl_ts_dsi_gt911>;
               reg = <0x38>;
               status = "okay";
               //reset-gpios = <&gpio4 22 GPIO_ACTIVE_LOW>;
               wakeup-gpios = <&gpio4 17 GPIO_ACTIVE_LOW>;
       };
#endif

#if 0
	dsi0_sn65dsi84: dsi0@2c {
		compatible = "ti,sn65dsi84";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sn65>;
		enable-gpios = <&gpio4 23 GPIO_ACTIVE_HIGH>; /* MIPI_RST */
		/* This driver does NOT use the interrupt pin */
		reg = <0x2c>;
		vcc-supply = <&reg_vref_1v8>;
		status = "okay";

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;

				sn65dsi84_bridge_in: endpoint {
					remote-endpoint = <&dsi_out>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@2 {
				reg = <2>;

				sn65dsi84_bridge_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};

		};
	};
#endif
};

&lpm {
	soc-supply = <&buck1>;
	status = "okay";
};

&lpspi1 { /* SPI1 MOSI ONLY */
	fsl,spi-num-chipselects = <0>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi1>;
	pinctrl-1 = <&pinctrl_lpspi1>;
	status = "okay";

	spi1dev0: spi1@0 {
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

&lpspi3 { /* SPI0_PKB */
	#address-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi3>;
	pinctrl-1 = <&pinctrl_lpspi3>;
	spi-slave;
	status = "okay";

	slave {
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

&lpuart1 { /* Console / UART1_SIO */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart2 { /* UART2_XS_FF / M33 console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&lpuart3 { /* UART3_SPARE */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&lpuart6 { /* UART6_XS_BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&lpuart8 { /* UART8_PS */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart8>;
	status = "okay";
};

&sai3 { /* I2S1 */
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX93_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <12288000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&tpm4 { /* LCD Backlight */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_backlight_lcd>;
	status = "okay";
};

&tpm5 { /* KYBD_BKLT_PWM */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_kybd_bklt>;
	status = "okay";
};

&usbotg1 { /* USB1 */
	dr_mode = "peripheral";
	vbus-supply = <&reg_vref_5v0>;
	status = "okay";
};

&usbotg2 { /* USB2 - J1 */
	dr_mode = "host";
	disable-over-current;
	vbus-supply = <&reg_vref_5v0>;
	status = "okay";
};

&usdhc1 { /* eMMC */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog3 {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO22__GPIO2_IO22		0x31e /* BKUP_ARM */
			MX93_PAD_GPIO_IO23__GPIO2_IO23		0x31e /* LCD_BL_EN */
			MX93_PAD_GPIO_IO24__GPIO2_IO24		0x31e /* XS_WD_STRB */
			MX93_PAD_GPIO_IO25__GPIO2_IO25		0x31e /* WDO_BUF_N */
			MX93_PAD_GPIO_IO27__GPIO2_IO27		0x31e /* VBKUP_SRC_EN_N */
			MX93_PAD_GPIO_IO28__GPIO2_IO28		0x31e /* VBKUP_SRC_TST_N */
			MX93_PAD_GPIO_IO29__GPIO2_IO29		0x31e /* XS_ID_ENBL_L */
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e /* SD2_CD_B */
			MX93_PAD_SD2_CLK__GPIO3_IO01		0x31e /* MON_LT */
			MX93_PAD_SD2_CMD__GPIO3_IO02		0x31e /* BATT_LT */
			MX93_PAD_SD2_DATA0__GPIO3_IO03		0x31e /* REV0 */
			MX93_PAD_SD2_DATA1__GPIO3_IO04		0x31e /* REV1 */
			MX93_PAD_SD2_DATA2__GPIO3_IO05		0x31e /* REV2 */
			MX93_PAD_SD2_DATA3__GPIO3_IO06		0x31e /* REV3 */
			MX93_PAD_SD2_RESET_B__GPIO3_IO07	0x31e /* REV4 */
			MX93_PAD_SD3_CLK__GPIO3_IO20		0x31e /* TP_INT */
			MX93_PAD_SD3_CMD__GPIO3_IO21		0x31e /* BL_EN_N */
			MX93_PAD_CCM_CLKO1__GPIO3_IO26		0x31e /* GPIO26 */
			MX93_PAD_CCM_CLKO2__GPIO3_IO27		0x31e /* GPIO27 */
			MX93_PAD_ENET2_MDC__GPIO4_IO14		0x31e /* XS_MMC_MMCCMD */
			MX93_PAD_ENET2_MDIO__GPIO4_IO15		0x31e /* XS_AUX_DET1 */
			MX93_PAD_ENET2_TD3__GPIO4_IO16		0x31e /* XS_GPIO109 */
			MX93_PAD_ENET2_TD1__GPIO4_IO18		0x31e /* XS_AUX_DET3 */
			MX93_PAD_ENET2_TD0__GPIO4_IO19		0x31e /* XS_AUX_DET2 */
			MX93_PAD_ENET2_TX_CTL__GPIO4_IO20	0x31e /* XS_LI_BAT_TEST */
			MX93_PAD_ENET2_TXC__GPIO4_IO21		0x31e /* CODEC_LI_BAT_TEST */
			MX93_PAD_ENET2_RD0__GPIO4_IO24		0x31e /* BKUP_ALM_OFF */
			MX93_PAD_ENET2_RD2__GPIO4_IO26		0x31e /* EMMC_RESET_N */
		>;
	};

	pinctrl_amp: ampgrp {
		fsl,pins = <
			MX93_PAD_ENET2_RD1__GPIO4_IO25		0x31e /* AMP_SHDN */
			MX93_PAD_CCM_CLKO3__GPIO4_IO28		0x31e /* AUD_GAIN_0 */
			MX93_PAD_CCM_CLKO4__GPIO4_IO29		0x31e /* AUD_GAIN_1 */
		>;
	};

	pinctrl_backlight_lcd: backlight-lcdgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__TPM4_CH1		0x02
			MX93_PAD_SD3_DATA3__GPIO3_IO25		0x31e /* XS_LCD_PWR_EN_N */
		>;
	};

	pinctrl_sn65: sn65grp {
		fsl,pins = <
			MX93_PAD_ENET2_RXC__GPIO4_IO23		0x31e /* MIPI_RST */
		>;
	};

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC			0x57e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO			0x57e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x37e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x37e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2			0x37e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3			0x37e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x3fe
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2			0x57e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3			0x57e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x5fe
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x57e
		>;
	};

	pinctrl_eqos_sleep: eqosgrpsleep {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__GPIO4_IO00				0x31e
			MX93_PAD_ENET1_MDIO__GPIO4_IO01				0x31e
			MX93_PAD_ENET1_RD0__GPIO4_IO10				0x31e
			MX93_PAD_ENET1_RD1__GPIO4_IO11				0x31e
			MX93_PAD_ENET1_RD2__GPIO4_IO12				0x31e
			MX93_PAD_ENET1_RD3__GPIO4_IO13				0x31e
			MX93_PAD_ENET1_RXC__GPIO4_IO09				0x31e
			MX93_PAD_ENET1_RX_CTL__GPIO4_IO08			0x31e
			MX93_PAD_ENET1_TD0__GPIO4_IO05				0x31e
			MX93_PAD_ENET1_TD1__GPIO4_IO04				0x31e
			MX93_PAD_ENET1_TD2__GPIO4_IO03				0x31e
			MX93_PAD_ENET1_TD3__GPIO4_IO02				0x31e
			MX93_PAD_ENET1_TXC__GPIO4_IO07				0x31e
			MX93_PAD_ENET1_TX_CTL__GPIO4_IO06			0x31e
		>;
	};

	pinctrl_kybd_bklt: kybd-bkltgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO18__TPM5_CH2				0x02 /* KYBD_BKLT_PWM */
		>;
	};

	pinctrl_phy: ethphygrp {
		fsl,pins = <
			MX93_PAD_SD3_DATA0__GPIO3_IO22				0x31e /* ENET1_INTR */
			MX93_PAD_SD3_DATA1__GPIO3_IO23				0x31e /* ENET1_RST */
		>;
	};

	pinctrl_pmic: pmicgrp {
		fsl,pins = <
			MX93_PAD_SD3_DATA2__GPIO3_IO24				0x31e /* PMIC_IRQ */
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL				0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA				0x40000b9e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SCL__LPI2C2_SCL				0x40000b9e
			MX93_PAD_I2C2_SDA__LPI2C2_SDA				0x40000b9e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__LPI2C3_SDA				0x40000b9e
			MX93_PAD_GPIO_IO01__LPI2C3_SCL				0x40000b9e
		>;
	};

	pinctrl_lpi2c7: lpi2c7grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO06__LPI2C7_SDA				0x40000b9e
			MX93_PAD_GPIO_IO07__LPI2C7_SCL				0x40000b9e
		>;
	};

	pinctrl_lpspi1: lpspi1grp {
		fsl,pins = <
			MX93_PAD_SAI1_RXD0__LPSPI1_SOUT				0x3fe
		>;
	};

	pinctrl_lpspi3: lpspi3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO08__LPSPI3_PCS0				0x3fe
			MX93_PAD_GPIO_IO09__LPSPI3_SIN				0x3fe
			MX93_PAD_GPIO_IO10__LPSPI3_SOUT				0x3fe
			MX93_PAD_GPIO_IO11__LPSPI3_SCK				0x3fe
		>;
	};

	pinctrl_rv3028: rv3028grp {
		fsl,pins = <
			MX93_PAD_ENET2_RD3__GPIO4_IO27				0x31e /* RTC_INT_B */
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO16__SAI3_TX_BCLK			0x302
			MX93_PAD_GPIO_IO17__SAI3_MCLK				0x302
			MX93_PAD_GPIO_IO19__SAI3_TX_DATA00			0x302
			MX93_PAD_GPIO_IO20__SAI3_RX_DATA00			0x302
			MX93_PAD_GPIO_IO26__SAI3_TX_SYNC			0x302
		>;
	};

	pinctrl_ts_dsi_gt911: ts-dsi-gt911grp {
		fsl,pins = <
			MX93_PAD_ENET2_TD2__GPIO4_IO17				0x31e /* PCAP_INT */
			MX93_PAD_ENET2_RX_CTL__GPIO4_IO22			0x31e /* TP_RST */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX				0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX				0x31e
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX93_PAD_UART2_RXD__LPUART2_RX				0x31e
			MX93_PAD_UART2_TXD__LPUART2_TX				0x31e
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__LPUART3_TX				0x31e
			MX93_PAD_GPIO_IO15__LPUART3_RX				0x31e
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO04__LPUART6_TX				0x31e
			MX93_PAD_GPIO_IO05__LPUART6_RX				0x31e
		>;
	};

	pinctrl_uart8: uart8grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO13__LPUART8_RX				0x31e
			MX93_PAD_GPIO_IO12__LPUART8_TX				0x31e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x1582
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x40001382
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x40001382
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x40001382
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x40001382
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x40001382
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x40001382
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x40001382
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x40001382
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x40001382
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x1582
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x158e
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x4000138e
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x4000138e
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x4000138e
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x4000138e
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x4000138e
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x4000138e
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x4000138e
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x4000138e
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x4000138e
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x158e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x15fe
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x400013fe
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x400013fe
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x400013fe
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x400013fe
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x400013fe
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x400013fe
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x400013fe
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x400013fe
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x400013fe
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x15fe
		>;
	};
};
