menuconfig AMLOGIC_CPUFREQ
	bool "AMLOGIC CPU frequency driver support"
	depends on AMLOGIC_DRIVER
	depends on CPU_FREQ
	select PM_OPP
	default n
	help
		CPU DVFS driver support for Amlogic SOC chips;
		You can use this driver to change cpu frequency.

config AMLOGIC_M8B_CPUFREQ
	bool "Meson CPU Frequency scaling support for m8/m8b"
	depends on MACH_MESON8B && AMLOGIC_CPUFREQ
	default n
	help
		cpufreq driver support for m8/m8b, select
		it if your chip belongs this group

config AMLOGIC_MESON_CPUFREQ
	bool  "MESON based CPUfreq driver"
	depends on AMLOGIC_CPUFREQ
	default n
        help
          This adds the CPUfreq driver support for ARM big.LITTLE platforms
          using MESON dt for CPU power management.

          This driver uses meson cpufreq driver to interact with the
          firmware providing the CPU DVFS functionality.

config AMLOGIC_INPUT_BOOST
    bool "Meson BOOST cpufreq when key input"
    depends on CPU_FREQ_GOV_INTERACTIVE
    help
        This adds boost cpuferq support when key input detected.
        This adds boost cpuferq support when key input detected.
        When key input, cpufreq is boosted.
        And boost_duration is decideded by AMLOGIC_INPUT_BOOST_DURATION

config AMLOGIC_INPUT_BOOST_DURATION
    int "Input boost duration"
    range 0 5000
    default 1000
    depends on AMLOGIC_INPUT_BOOST
    help
        This set boost cpuferq duration.
        unit is ms.

