config SND_MXC_SOC
	tristate "SoC Audio for Freescale i.MX CPUs"
	depends on ARCH_MXC
	select SND_PCM
	help
	  Say Y or M if you want to add support for codecs attached to
	  the i.MX SSI interface.

if SND_MXC_SOC

config SND_MXC_SOC_SSI
        tristate

config SND_MXC_SOC_WM1133_EV1
	tristate "Audio on the the i.MX31ADS with WM1133-EV1 fitted"
	depends on SND_IMX_SOC && MACH_MX31ADS_WM1133_EV1 && EXPERIMENTAL
	select SND_SOC_WM8350
	select SND_MXC_SOC_SSI
	help
	  Enable support for audio on the i.MX31ADS with the WM1133-EV1
	  PMIC board with WM8835x fitted.

config SND_SOC_PHYCORE_AC97
	tristate "SoC Audio support for Phytec phyCORE (and phyCARD) boards"
	depends on MACH_PCM043 || MACH_PCA100
	select SND_MXC_SOC_SSI
	select SND_SOC_WM9712
	help
	  Say Y if you want to add support for SoC audio on Phytec phyCORE
	  and phyCARD boards in AC97 mode

config SND_MXC_SOC_ESAI
	tristate

config SND_MXC_SOC_AC97
	tristate

config SND_MXC_SOC_IRAM
	bool "Locate Audio DMA playback buffers in IRAM"
	help
	  Say Y if you don't want Audio playback buffers in external ram

config SND_SOC_IMX_3STACK_WM8350
	tristate "SoC Audio support for IMX - WM8350"
	depends on MFD_WM8350
	select SND_MXC_SOC_SSI
	select SND_SOC_WM8350
	help
	  Say Y if you want to add support for SoC audio on IMX 3STACK
	  with the WM8350.

config SND_SOC_IMX_3STACK_SGTL5000
	tristate "SoC Audio support for IMX - SGTL5000"
	select SND_MXC_SOC_SSI
	select SND_SOC_SGTL5000
	help
	  Say Y if you want to add support for SoC audio on IMX 3STACK
	  with the SGTL5000.

config SND_SOC_IMX_3STACK_AK4647
	tristate "SoC Audio support for IMX - AK4647"
	select SND_MXC_SOC_SSI
	select SND_SOC_AK4647
	help
	  Say Y if you want to add support for SoC audio on IMX 3STACK
	  with the AK4647.

config SND_SOC_IMX_3STACK_WM8580
	tristate "SoC Audio support for IMX - WM8580"
	select SND_MXC_SOC_ESAI
	select SND_SOC_WM8580
	help
	  Say Y if you want to add support for Soc audio on IMX 3STACK
	  with the WM8580

config SND_SOC_IMX_3STACK_AK5702
	tristate "SoC Audio support for IMX - AK5702"
	select SND_MXC_SOC_ESAI
	select SND_SOC_AK5702
	help
	  Say Y if you want to add support for Soc audio on IMX 3STACK
	  with the AK5702

config SND_SOC_IMX_3STACK_BLUETOOTH
	tristate "SoC Audio support for IMX - BLUETOOTH"
	select SND_MXC_SOC_SSI
	select SND_SOC_BLUETOOTH
	help
	  Say Y if you want to add support for Soc audio on IMX 3STACK
	  with the BLUETOOTH

config SND_SOC_IMX_3STACK_CS42888
	tristate "SoC Audio support for IMX - CS42888"
	select SND_MXC_SOC_ESAI
	select SND_SOC_CS42888
	help
	  Say Y if you want to add support for Soc audio on IMX 3STACK
	  with the CS42888

config MXC_SSI_DUAL_FIFO
	bool "MXC SSI enable dual fifo"
	def_bool n
	depends on SND_MXC_SOC_SSI && (ARCH_MX51 || ARCH_MX53)
	help
	  Say Y if you want to use 2 ssi fifo for audio transfer,
	  NOTE: ONLY support MX51 and MX53.
endif
