# Amlogic PINCTRL


config AMLOGIC_PINCTRL
    bool "PINCTRL/GPIO support"
    select OF
    select PINCTRL
    select PINMUX
    select PINCONF
    select GENERIC_PINCONF
    select GPIOLIB
    select OF_GPIO
    select GPIOLIB_IRQCHIP
    help
      This is the Amlogic PINCTRL/GPIO  driver
