menuconfig AMLOGIC_PINCTRL
	bool "PINCTRL/GPIO support"
	select OF
	select PINCTRL
	select PINMUX
	select PINCONF
	select GENERIC_PINCONF
	select GPIOLIB
	select OF_GPIO
	select REGMAP_MMIO

if AMLOGIC_PINCTRL

config AMLOGIC_PINCTRL_MESON8B
	bool "Meson 8b SoC pinctrl driver"
	depends on ARM
	select AMLOGIC_PINCTRL_MESON8_PMX
	default n

config AMLOGIC_PINCTRL_MESON_GXL
	bool "Meson gxl SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON8_PMX
	default n

config AMLOGIC_PINCTRL_MESON_AXG
	bool "Meson axg SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON_AXG_PMX
	default n

config AMLOGIC_PINCTRL_MESON_TXLX
	bool "Meson txlx SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON8_PMX
	default n

config AMLOGIC_PINCTRL_MESON_G12A
	bool "Meson g12a SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON_AXG_PMX
	select AMLOGIC_PINCONF_MESON_G12A
	default n

config AMLOGIC_PINCTRL_MESON_TXL
	bool "Meson txl SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON8_PMX
	default n

config AMLOGIC_PINCTRL_MESON_TL1
	bool "Meson tl1 SoC pinctrl driver"
	depends on ARM64 || ARM64_A32
	select AMLOGIC_PINCTRL_MESON_AXG_PMX
	select AMLOGIC_PINCONF_MESON_G12A
	default n

config AMLOGIC_PINCONF_MESON_G12A
	bool

config AMLOGIC_PINCTRL_MESON8_PMX
	bool

config AMLOGIC_PINCTRL_MESON_AXG_PMX
	bool
endif
