
menu "Amlogic Crypto Support"

config AMLOGIC_CRYPTO
  bool "amlogic HW CRYPTO module"
	select CRYPTO_ALGAPI
	select CRYPTO_BLKCIPHER
	select CRYPTO_HASH
	default n

config AMLOGIC_CRYPTO_DMA
  bool "amlogic HW CRYPTO module based on DMA"
	depends on AMLOGIC_CRYPTO
	default n
	help
		New Crypto DMA engine starting from S905-X
		Current supported Socs are S905-X, S905-D, S912
		Drivers using new dma engine are in file name
		such aml-xxx-dma.c

config AMLOGIC_CRYPTO_BLKMV
  bool "amlogic HW CRYPTO module based on BLKMV"
	depends on AMLOGIC_CRYPTO
	default n
	help
		Legacy Crypto engine based on module BLKMV
		Drivers using new dma engine are in file name
		such aml-xxx-blkmv.c

endmenu
