menuconfig ARCH_MESON
	bool "Amlogic Meson SoCs"
	depends on ARCH_MULTI_V7
	select GPIOLIB
	select GENERIC_IRQ_CHIP
	select ARM_GIC
	select CACHE_L2X0 if !ARM64_A32
	select PINCTRL
	select COMMON_CLK

if ARCH_MESON

config MACH_MESON6
	bool "Amlogic Meson6 (8726MX) SoCs support"
	default !ARM64_A32
	select MESON6_TIMER

config MACH_MESON8
	bool "Amlogic Meson8 SoCs support"
	default !ARM64_A32
	select MESON6_TIMER

config MACH_MESON8B
	bool "Amlogic Meson8b SoCs support"
	default !ARM64_A32

config ARM64_A32
	tristate "ARMV8 Run in A32"
	default n
	help
	  amlogic armv8 chip support 32bit.

endif
