#
# Codec configuration
#

menu "MXC VPU(Video Processing Unit) support"

config MXC_VPU
	  tristate "Support for MXC VPU(Video Processing Unit)"
	  depends on (ARCH_MX3 || ARCH_MX27 || ARCH_MX37 || ARCH_MX5)
	  default y
	---help---
	  The VPU codec device provides codec function for H.264/MPEG4/H.263,
	  as well as MPEG2/VC-1/DivX on some platforms.

config MXC_VPU_IRAM
	  tristate "Use IRAM as temporary buffer for VPU to enhance performace"
	  depends on (ARCH_MX37 || ARCH_MX5)
	  default y
	---help---
	  The VPU can use internal RAM as temporary buffer to save external
	  memroy bandwith, thus to enhance video performance.

config MXC_VPU_DEBUG
	bool "MXC VPU debugging"
	depends on MXC_VPU != n
	help
	  This is an option for the developers; most people should
	  say N here.  This enables MXC VPU driver debugging.

endmenu
