menuconfig AMLOGIC_SND_SOC_MESON
	bool "Amlogic Meson ASoC"
	default n
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Amlogic Asoc interface. You will also need
	  to select the audio interfaces to support below.

if AMLOGIC_SND_SOC_MESON

config AMLOGIC_SND_SPLIT_MODE
	bool "AIU split/interleave mode"
	depends on AMLOGIC_SND_SOC_MESON
	default n
	help
	  Say Y to enable AIU split mode. If not, it is normal  block mode.
	  Say Y to enable AIU split mode. If not, it is normal  block mode.
	  Say Y to enable AIU split mode. If not, it is normal  block mode.
	  Say Y to enable AIU split mode. If not, it is normal  block mode.

config AMLOGIC_SND_SPLIT_MODE_MMAP
	bool "AIU split/interleave and mmap mode"
	depends on AMLOGIC_SND_SOC_MESON
	default n
	help
	  Say Y to enable AIU split mode. If not, it is normal  block mode.
	  Say Y to enable mmap mode. If not, it is copy mode.
	  Say Y to enable AIU split mode. If not, it is normal  block mode.
	  Say Y to enable mmap mode. If not, it is copy mode.

endif # AMLOGIC_SND_SOC_MESON

