/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/mediatek,mt8188-pinfunc.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target = <&i2c0>;
		__overlay__ {
			touchscreen@5d {
				status = "disabled";
			};
			
			it6122: it6122@6c {
				compatible = "ite,it6122";
				reg = <0x6c>;
				pinctrl-names = "default";
				pinctrl-0 = <&it6122_pins_default>;
				vio33tp1-gpio = <&pio 119 GPIO_ACTIVE_HIGH>;
				ite,reset-gpio = <&pio 5 GPIO_ACTIVE_HIGH>;
			};
		};
	};
	
	fragment@1 {
		target = <&dsi0>;
		__overlay__ {
			panel@0 {
				status = "disabled";
			};
			
			panel@1 {
				compatible = "koe,tx18d204vm0baa";
				status = "okay";
				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&panel_pins_default>;
				bl-gpios = <&pio 45 GPIO_ACTIVE_HIGH>;
				pwr-gpios = <&pio 111 GPIO_ACTIVE_HIGH>;
				mediatek,it6122-attached;
				port {
					panel0_in: endpoint {
						remote-endpoint = <&dsi0_out>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&lcm1_tp_avdd>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@3 {
		target = <&edp_tx>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&edp_pin>;
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					edp_in: endpoint {
					remote-endpoint = <&dp_intf0_out>;
					};
				};

				port@1 {
					reg = <1>;
					edp_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};
		};
	};

	fragment@4 {
		target = <&dp_intf0>;
		__overlay__ {
			status = "okay";
			ports {
				port {
					dp_intf0_out: endpoint {
						remote-endpoint = <&edp_in>;
					};
				};
			};
		};
	};

	fragment@5 {
		target-path = "/";
		__overlay__ {
			edp_panel: panel {
				compatible = "auo,g156han03";
				power-supply = <&edp_panel_fixed_3v3>;
				backlight = <&backlight_lcd0>;
				width-mm = <350>;
				height-mm = <216>;
				status = "okay";

				port {
					panel_in: endpoint {
						remote-endpoint = <&edp_out>;
					};
				};
			};
		};
	};

	fragment@6 {
		target = <&edp_panel_fixed_3v3>;
		__overlay__ {
			regulator-state-mem {
				regulator-on-in-suspend;
			};
		};
	};

	fragment@7 {
		target = <&backlight_lcd0>;
		__overlay__ {
			default-on;
			power-supply = <&edp_panel_fixed_3v3>;
			enable-active-high;
			status = "okay";
		};
	};

	fragment@8 {
		target = <&disp_pwm0>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&disp_pwm0_pin_default>;
		};
	};

	fragment@9 {
		target = <&pio>;
		__overlay__ {
			it6122_pins_default: it6122_pins_default {
				pins-cmd-dat {
					pinmux = <PINMUX_GPIO119__FUNC_B_GPIO119>,
					<PINMUX_GPIO5__FUNC_B_GPIO5>;
					output-high;
				};
			};
		
			edp_pin: edp-pin-default {
				pins-cmd-dat {
					pinmux = <PINMUX_GPIO17__FUNC_I0_EDP_TX_HPD>;
					bias-pull-up;
				};
			};

			disp_pwm0_pin_default: disp-pwm0-pin-default {
				pins1 {
					pinmux = <PINMUX_GPIO29__FUNC_O_DISP_PWM0>;
				};
			};
		};
	};

	fragment@10 {
		target = <&dpi1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@11 {
		target = <&hdmi0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@12 {
		target = <&hdmi_phy>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@13 {
		target = <&sound>;
		__overlay__ {
			dai-link-1 { /* HDMI */
				status = "disabled";
			};

			dai-link-2 { /* DPTX */
				status = "disabled";
			};
		};
	};
};
