#
# Amlogic key device configuration
#

menu "key management Support"

config AMLOGIC_KEY_MANAGE
	bool "key management Driver"
	default n
	help
	    key management device driver.
	    y here, means select key manage
	    n here, means don't use key manage

endmenu
