#
# vehicle rpmsg configuration
#

menu "MXC vehicle rpmsg setting"

config VEHICLE_RPMSG
       tristate "NXP RPMSG VEHICLE support"
       select EXTCON
       help
          If you say yes here you get support for the NXP RPMSG
          vehicle module.

config VEHICLE_DRIVER_OREO
	tristate "NXP vehicle driver for android o"
	help
	   If you say yes here, you can get support for vehicle protocol
	   in android o, otherwise it support android p.

endmenu
