#
# Amlogic video Sink configuation
#

menu "Amlogic Video Sink Driver Support"

config AMLOGIC_MEDIA_VIDEO
	bool "Amlogic Video Sink Driver"
	default n
	help
		Amlogic Video Sink module support.
		This module driver include basic
		video, vpp etc.

if AMLOGIC_MEDIA_VIDEO

config  AMLOGIC_MEDIA_VSYNC_RDMA
	bool "VSYNC CBUS RDMA"
	default n
    depends on AMLOGIC_MEDIA_RDMA
	help
		Select to enable VSYNC CBUS RDMA.

endif

config AMLOGIC_MEDIA_VIDEOCAPTURE
    bool "Amlogic Video Capture support"
    default n
    help
		Internal Video Capture driver

endmenu
