menu "PCI host controller drivers"
	depends on PCI

config PCI_MVEBU
	bool "Marvell EBU PCIe controller"
	depends on ARCH_MVEBU || ARCH_KIRKWOOD

config PCIE_DW
	bool

config PCI_EXYNOS
	bool "Samsung Exynos PCIe controller"
	depends on SOC_EXYNOS5440
	select PCIEPORTBUS
	select PCIE_DW

config PCI_IMX6
	bool "Freescale i.MX6 PCIe controller"
	depends on SOC_IMX6Q
	select PCIEPORTBUS
	select PCIE_DW

config PCI_IMX6SX_EXTREMELY_PWR_SAVE
	bool "Freescale i.MX6SX PCIe controller extremely power save mode"
	depends on PCI_IMX6

config EP_MODE_IN_EP_RC_SYS
	bool "PCI Express EP mode in the IMX6 RC/EP interconnection system"
	depends on PCI_IMX6

config EP_SELF_IO_TEST
	bool "PCI Express EP_SELF_IO_TEST in EP mode"
	depends on EP_MODE_IN_EP_RC_SYS

config RC_MODE_IN_EP_RC_SYS
	bool "PCI Express RC mode in the IMX6 RC/EP interconnection system"
	depends on PCI_IMX6

config PCI_IMX_EP_DRV
	bool "i.MX6 PCI Express EP skeleton driver"
	depends on RC_MODE_IN_EP_RC_SYS
	default y

config PCI_TEGRA
	bool "NVIDIA Tegra PCIe controller"
	depends on ARCH_TEGRA

endmenu
