#
# IMX Soc drivers
#
menu "NXP IMX SoC drivers"

config ARCH_FSL_IMX8QM
	bool "i.MX8QM"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG

config ARCH_FSL_IMX8QXP
	bool "i.MX8QXP"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG

config ARCH_FSL_IMX8MQ
	bool "i.MX8MQ"
	select HAVE_IMX_MU
	select HAVE_IMX_RPMSG

config HAVE_IMX_MU
	bool

config HAVE_IMX_RPMSG
	select RPMSG_VIRTIO
	select RPMSG
	bool
endmenu
