#
# Amlogic driver configuration
#
config AMLOGIC_DRIVER
	bool "Amlogic Peripheral drivers"
	default n
	help
		this option is provided for control amlogic
		drivers, if you want to use amlogic driver
		please open it
if AMLOGIC_DRIVER
menu "Amlogic Device Drivers"

source "drivers/amlogic/uart/Kconfig"

source "drivers/amlogic/iomap/Kconfig"

source "drivers/amlogic/pinctrl/Kconfig"

source "drivers/amlogic/usb/Kconfig"

source "drivers/amlogic/i2c/Kconfig"

source "drivers/amlogic/secmon/Kconfig"

source "drivers/amlogic/cpu_version/Kconfig"

source "drivers/amlogic/cpu_info/Kconfig"

source "drivers/amlogic/mailbox/Kconfig"

source "drivers/amlogic/reg_access/Kconfig"

source "drivers/amlogic/clocksource/Kconfig"

source "drivers/amlogic/clk/Kconfig"

source "drivers/amlogic/crypto/Kconfig"

source "drivers/amlogic/input/Kconfig"

source "drivers/amlogic/efuse/Kconfig"

source "drivers/amlogic/reboot/Kconfig"

source "drivers/amlogic/ethernet/phy/Kconfig"

source "drivers/amlogic/cpu_hotplug/Kconfig"

source "drivers/amlogic/pwm/Kconfig"

source "drivers/amlogic/media/Kconfig"

source "drivers/amlogic/mmc/Kconfig"

endmenu
endif
