# ALSA ARM drivers

menuconfig SND_ARM
	bool "ARM sound devices"
	depends on ARM
	default y
	help
	  Support for sound devices specific to ARM architectures.
	  Drivers that are implemented on ASoC can be found in
	  "ALSA for SoC audio support" section.

if SND_ARM

config SND_ARMAACI
	tristate "ARM PrimeCell PL041 AC Link support"
	depends on ARM_AMBA
	select SND_PCM
	select SND_AC97_CODEC

config SND_PXA2XX_PCM
	tristate
	select SND_PCM

config SND_PXA2XX_LIB
	tristate
	select SND_AC97_CODEC if SND_PXA2XX_LIB_AC97

config SND_PXA2XX_LIB_AC97
	bool

config SND_PXA2XX_AC97
	tristate "AC97 driver for the Intel PXA2xx chip"
	depends on ARCH_PXA
	select SND_PXA2XX_PCM
	select SND_AC97_CODEC
	select SND_PXA2XX_LIB
	select SND_PXA2XX_LIB_AC97
	help
	  Say Y or M if you want to support any AC97 codec attached to
	  the PXA2xx AC97 interface.

config SND_MXC_SPDIF
        tristate "MXC SPDIF sound card spport"
        select SND_PCM
        help
          Say Y here to enable SPDIF sound card

config SND_MXC_PMIC
	tristate "MXC PMIC sound system"
	depends on ARCH_MXC && MXC_DAM && MXC_SSI && \
		(MXC_MC13783_AUDIO || MXC_PMIC_SC55112_AUDIO)
	default y
	select SND_PCM
	help
	  Say Y here to include support for soundcards based on the
	  MC13783 chip.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-mc13783.

config  SND_MXC_PLAYBACK_MIXING
        bool "Playback Stream Mixing"
        depends on (!ARCH_MX27) && (!ARCH_MXC91131) && ARCH_MXC && MXC_DAM && MXC_SSI && \
                (MXC_MC13783_AUDIO)
        default n
        select SND_PCM
        help
          Say Y here to include support mixing for soundcards based on the
          MC13783 chip. This supports audio stream mixing on VCODEC for mc13783 based platforms.
	  Analog mixng as well as Digital mixing can be tested on these platforms.
	  As of now , mixing of mono files only are supported in Digital Mixing since it is done on VCODEC.
	  SSI 2 channel mode is used to mix 2 streams on a single SSI.  This is supported on all platforms except imx27ads(imx27ads - Analog mixing only).

config HEADSET_DETECT_ENABLE
        bool "Headset Detect Enable"
        depends on (!ARCH_MXC91131) && ARCH_MXC && MXC_DAM && MXC_SSI && \
                (MXC_MC13783_AUDIO)
        default n
        select SND_PCM
        help
        Say Y here to enable Headset Detect Feature.

config SND_MXC_PMIC_IRAM
        bool "MXC PMIC sound system supports IRAM"
        depends on SND_MXC_PMIC && SDMA_IRAM
        default n
        select SND_PCM
        help
          It will use IRAM as the DMA buffer of ALSA playback.

endif	# SND_ARM

