#
# AMLOGIC amvecm devices configuration
#

comment "Amlogic VECM Drivers"

menu "Amlogic amvecm Driver"

config AMLOGIC_MEDIA_ENHANCEMENT_VECM
        bool "Amlogic amvecm driver"
        default n
        help
            "Amlogic amvecm module init"
endmenu
