# SPDX-License-Identifier: GPL-2.0-only
config DRM_MEDIATEK
	tristate "DRM Support for Mediatek SoCs"
	depends on DRM
	depends on ARCH_MEDIATEK || (ARM && COMPILE_TEST)
	depends on COMMON_CLK
	depends on HAVE_ARM_SMCCC
	depends on OF
	depends on MTK_MMSYS
	select DRM_GEM_CMA_HELPER
	select DRM_KMS_HELPER
	select DRM_MIPI_DSI
	select DRM_PANEL
	select MEMORY
	select MTK_SMI
	select PHY_MTK_MIPI_DSI
	select VIDEOMODE_HELPERS
	select DRM_DP_HELPER
	help
	  Choose this option if you have a Mediatek SoCs.
	  The module will be called mediatek-drm
	  This driver provides kernel mode setting and
	  buffer management to userspace.

config DRM_MEDIATEK_HDMI
	tristate "DRM HDMI Support for Mediatek SoCs"
	depends on DRM_MEDIATEK
	select SND_SOC_HDMI_CODEC if SND_SOC
	select PHY_MTK_HDMI
	help
	  DRM/KMS HDMI driver for Mediatek SoCs

config DRM_MEDIATEK_HDMI_HDCP
	tristate "DRM HDMI HDCP Support for MediaTek SoCs"
	depends on OPTEE
	depends on DRM_MEDIATEK_HDMI
	help
	  DRM/KMS HDMI HDCP driver for MediaTek SoCs.
	  Choose this option
	  if you want to enable
	  HDMI HDCP driver.

config DRM_MEDIATEK_CEC
	tristate "DRM CEC Support for MediaTek SoCs"
	depends on DRM_MEDIATEK_HDMI
	select CEC_CORE
	help
	  DRM/KMS HDMI CEC driver for MediaTek 8195 compatible HDMI SoCs.
	  Choose this option if you want to
	  enable the CEC driver. Note that the CEC
	  driver depends on DRM_MEDIATEK_HDMI, so select
	  DRM_MEDIATEK_HDMI before choosing this option.

config DRM_MEDIATEK_CEC_SUSPEND_LOW_POWER
	tristate "DRM CEC SUSPEND LOW POWER Support for MediaTek SoCs"
	depends on DRM_MEDIATEK_CEC
	help
	  DRM/KMS CEC SUSPEND_LOW_POWER for MediaTek SoCs.
	  Choose this option if you want to
	  disable CEC clock when
	  platform enter suspend.

config MTK_DPTX_SUPPORT
	tristate "DRM DPTX Support for Mediatek SoCs"
	depends on DRM_MEDIATEK
	select PHY_MTK_DP
	help
	  DRM/KMS Display Port driver for Mediatek SoCs.

config MTK_LVDS_SUPPORT
	tristate "DRM LVDS Support for MediaTek SoCs"
	depends on DRM_MEDIATEK
	select PHY_MTK_LVDS
	help
	  DRM/KMS LVDS driver for MediaTek SoCs.