#
# Video output configuration
#
menu "Amlogic LCD Output Module"

config AMLOGIC_LCD
	bool "LCD Output Module"
	default n
	help
		LCD output module
		support tv mode and tablet mode
		Through the inside of the DTS file "mode" is
		to choose a TV mode or tablet mode

config AMLOGIC_LCD_TV
	bool "LCD TV Output Module"
	default n
	depends on AMLOGIC_LCD
	help
		LCD TV output module
		Configure the LCD output model for TV output
		TV mode mainly includes vbyone and an LVDS interface display
		Through the environment variable is to choose panel_type lcd_index

config AMLOGIC_LCD_TABLET
	bool "LCD Tablet Output Module"
	default n
	depends on AMLOGIC_LCD
	help
		LCD Tablet output module
		Configure the LCD output model for Tablet output

if AMLOGIC_LCD
source "drivers/amlogic/media/vout/lcd/lcd_extern/Kconfig"
endif

endmenu
