config AMLOGIC_CLK
	bool "Amlogic clock driver  support"
	depends on OF
	select COMMON_CLK
	help
		This is the Amlogic Clock  driver
		Say Y if you want peripherals
		and CPU frequency scaling to work
		.

config AMLOGIC_RESET
        bool "Meson Reset Driver"
        default AMLOGIC_CLK
        help
		This enables the reset driver for Amlogic Meson SoCs.

config AMLOGIC_COMMON_CLK_SCPI
	tristate "Clock driver controlled via SCPI interface"
	depends on ARM_SCPI_PROTOCOL || COMPILE_TEST
	  ---help---
	  This driver provides support for clocks that are controlled
	  by firmware that implements the SCPI interface.

	  This driver uses SCPI Message Protocol to interact with the
	  firmware providing all the clock controls.