config FB_LCDIF
	tristate "lcdif framebuffer support"
	depends on FB_IMX64 && ARCH_FSL_IMX8MQ && FB_IMX_DISPDRV_ENC
	default y
	help
	  Framebuffer support for lcdif controller.

config FB_IMX_DISPDRV_ENC
	tristate "IMX dispdrv framework for encoders"
	depends on FB_IMX64 && ARCH_FSL_IMX8MQ
	default y
	help
	  IMX encoders driver framework which wo-work with IMX
	  framebuffer drivers.
