if PCI && MEDIA_SUPPORT

menuconfig MEDIA_PCI_SUPPORT
	bool "Media PCI Adapters"
	help
	  Enable media drivers for PCI/PCIe bus.
	  If you have such devices, say Y.

if MEDIA_PCI_SUPPORT

	comment "Media capture/analog TV support"
source "drivers/media/pci/TW68/Kconfig"
endif


endif #MEDIA_PCI_SUPPORT
