menu "AO CEC Support"

config AMLOGIC_AO_CEC
	bool "HDMI AO cec driver support"
	help
		HDMI AO cec driver provide cec support on Amlogic SOC chips, you can
		use this driver to implement cec features on TV/MBOX

endmenu
