#
# Amlogic i2c device configuration
#

menu  "I2C Hardware Bus support"

config AMLOGIC_I2C
	bool "Amlogic I2C Driver"
	select I2C
	select I2C_CHARDEV
	select I2C_ALGOBIT
	help
		Amlogic software
		I2C Driver
		Yet another Amlogic I2C Driver,
		normal master.

config AMLOGIC_I2C_SLAVE
	bool "Amlogic I2C Slave Driver"
	depends on AMLOGIC_I2C
	help
		Amlogic software
		I2C Driver
		Yet
		Amlogic I2C Slave Driver.

config AMLOGIC_I2C_MASTER
	bool "Amlogic I2C Master Driver"
	depends on AMLOGIC_I2C
	help
		Amlogic software
		I2C Driver
		Yet
		Amlogic I2C Master Driver.

endmenu

