menu "MXC Security Drivers"

config MXC_SECURITY_SCC
	tristate "MXC SCC Driver"
	default n
	---help---
	  This module contains the core API's for accessing the SCC module.
	  If you are unsure about this, say N here.

config MXC_SECURITY_SCC2
        tristate "MXC SCC2 Driver"
        depends on ARCH_MX37 || ARCH_MX5
        default n
        ---help---
          This module contains the core API's for accessing the SCC2 module.
          If you are unsure about this, say N here.

config SCC_DEBUG
        bool "MXC SCC Module debugging"
        depends on MXC_SECURITY_SCC || MXC_SECURITY_SCC2
        ---help---
        This is an option for use by developers; most people should
        say N here.  This enables SCC module debugging.

config MXC_SECURITY_RNG
	tristate "MXC RNG Driver"
	depends on ARCH_MXC
	depends on !ARCH_MXC91321
	depends on !ARCH_MX27
	default n
	select MXC_SECURITY_CORE
	---help---
	  This module contains the core API's for accessing the RNG module.
	  If you are unsure about this, say N here.

config MXC_RNG_TEST_DRIVER
	bool "MXC RNG debug register"
	depends on MXC_SECURITY_RNG
	default n
	---help---
	  This option enables the RNG kcore driver to provide peek-poke facility
	  into the RNG device registers. Enable this, only for development and
	  testing purposes.
config MXC_RNG_DEBUG
        bool "MXC RNG Module Dubugging"
        depends on MXC_SECURITY_RNG
        default n
        ---help---
         This is an option for use by developers; most people should
         say N here. This enables RNG module debugging.

config MXC_DRYICE
        tristate "MXC DryIce Driver"
        depends on ARCH_MX25
        default n
        ---help---
          This module contains the core API's for accessing the DryIce module.
          If you are unsure about this, say N here.

if (ARCH_MX37 || ARCH_MX5 || ARCH_MX27)
source "drivers/mxc/security/sahara2/Kconfig"
endif

endmenu
