// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (c) 2022 MediaTek Inc.
 *
 */

#include <dt-bindings/clock/mediatek,mt8188-clk.h>
#include <dt-bindings/power/mediatek,mt8188-power.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/memory/mediatek,mt8188-memory-port.h>
#include <dt-bindings/pinctrl/mediatek,mt8188-pinfunc.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/reset/ti-syscon.h>

/ {
	compatible = "mediatek,mt8188";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	clocks {
		clk26m: oscillator0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <26000000>;
			clock-output-names = "clk26m";
		};

		clk13m: oscillator1 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <13000000>;
			clock-output-names = "clk13m";
		};

		clk32k: oscillator2 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-output-names = "clk32k";
		};
	};

	mmc_source_clk: mmc-source-clk{
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <400000000>;
		clock-output-names = "mmc_source_clk";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x000>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x100>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x200>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x300>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu4: cpu@400 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x400>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu5: cpu@500 {
			device_type = "cpu";
			compatible = "arm,cortex-a55", "arm,armv8";
			reg = <0x500>;
			enable-method = "psci";
			performance-domains = <&performance 0>;
			clock-frequency = <2000000000>;
			capacity-dmips-mhz = <282>;
			#cooling-cells = <2>;
		};

		cpu6: cpu@600 {
			device_type = "cpu";
			compatible = "arm,cortex-a78", "arm,armv8";
			reg = <0x600>;
			enable-method = "psci";
			performance-domains = <&performance 1>;
			clock-frequency = <2200000000>;
			capacity-dmips-mhz = <1024>;
			#cooling-cells = <2>;
		};

		cpu7: cpu@700 {
			device_type = "cpu";
			compatible = "arm,cortex-a78", "arm,armv8";
			reg = <0x700>;
			enable-method = "psci";
			performance-domains = <&performance 1>;
			clock-frequency = <2200000000>;
			capacity-dmips-mhz = <1024>;
			#cooling-cells = <2>;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};

				core1 {
					cpu = <&cpu1>;
				};

				core2 {
					cpu = <&cpu2>;
				};

				core3 {
					cpu = <&cpu3>;
				};

				core4 {
					cpu = <&cpu4>;
				};

				core5 {
					cpu = <&cpu5>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu6>;
				};

				core1 {
					cpu = <&cpu7>;
				};
			};
		};

		l2_0: l2-cache0 {
			compatible = "cache";
			next-level-cache = <&l3_0>;
		};

		l2_1: l2-cache1 {
			compatible = "cache";
			next-level-cache = <&l3_0>;
		};

		l3_0: l3-cache {
			compatible = "cache";
		};
	};

	dsu-pmu {
		compatible = "arm,dsu-pmu";
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH 0>;
		cpus = <&cpu0>;
	};

	pmu-a55 {
		compatible = "arm,cortex-a55-pmu";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 7 IRQ_TYPE_LEVEL_HIGH &ppi_cluster0>;
	};


	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer: timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_HIGH 0>,
				<GIC_PPI 14 IRQ_TYPE_LEVEL_HIGH 0>,
				<GIC_PPI 11 IRQ_TYPE_LEVEL_HIGH 0>,
				<GIC_PPI 10 IRQ_TYPE_LEVEL_HIGH 0>;
		clock-frequency = <13000000>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		performance: performance-controller@11bc10 {
			compatible = "mediatek,cpufreq-hw";
			reg = <0 0x0011bc10 0 0x120>, <0 0x0011bd30 0 0x120>;
			#performance-domain-cells = <1>;
		};

		gic: interrupt-controller@c000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <4>;
			#address-cells = <2>;
			#size-cells = <2>;
			#redistributor-regions = <1>;
			interrupt-parent = <&gic>;
			interrupt-controller;
			reg = <0 0x0c000000 0 0x40000>, // distributor
			<0 0x0c040000 0 0x200000>; // redistributor
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH 0>;

			ppi-partitions {
				ppi_cluster0: interrupt-partition-0 {
					affinity = <&cpu0 &cpu1 &cpu2 &cpu3 &cpu4 &cpu5>;
				};

				ppi_cluster1: interrupt-partition-1 {
					affinity = <&cpu6 &cpu7>;
				};
			};
		};

		topckgen: syscon@10000000 {
			compatible = "mediatek,mt8188-topckgen", "syscon";
			reg = <0 0x10000000 0 0x1000>;
			#clock-cells = <1>;
		};

		infracfg_ao: syscon@10001000 {
			compatible = "mediatek,mt8188-infracfg_ao", "syscon", "simple-mfd";
			reg = <0 0x10001000 0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		pericfg: syscon@10003000 {
			compatible = "mediatek,mt8188-pericfg", "syscon";
			reg = <0 0x10003000 0 0x1000>;
			#clock-cells = <1>;
		};

		pio: pinctrl@10005000 {
			compatible = "mediatek,mt8188-pinctrl";
			reg = <0 0x10005000 0 0x1000>,
			<0 0x11c00000 0 0x1000>,
			<0 0x11e10000 0 0x1000>,
			<0 0x11e20000 0 0x1000>,
			<0 0x11ea0000 0 0x1000>,
			<0 0x1000b000 0 0x1000>;
			reg-names = "iocfg0", "iocfg_rm",
				"iocfg_lt", "iocfg_lm", "iocfg_rt",
				"eint";
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pio 0 0 176>;
			interrupt-controller;
			interrupts = <GIC_SPI 235 IRQ_TYPE_LEVEL_HIGH 0>;
			#interrupt-cells = <2>;

			pmif_pin: pmif-default-pin {
				pinmux = <PINMUX_GPIO99__FUNC_I0_RTC32K_CK>,
					 <PINMUX_GPIO92__FUNC_O_PWRAP_SPI0_CSN>,
					 <PINMUX_GPIO93__FUNC_O_PWRAP_SPI0_CK>,
					 <PINMUX_GPIO94__FUNC_B0_PWRAP_SPI0_MO>,
					 <PINMUX_GPIO95__FUNC_B0_PWRAP_SPI0_MI>,
					 <PINMUX_GPIO175__FUNC_B0_SPMI_M_SCL>,
					 <PINMUX_GPIO176__FUNC_B0_SPMI_M_SDA>;
			};
		};

		scpsys: syscon@10006000 {
			compatible = "syscon", "simple-mfd";
			reg = <0 0x10006000 0 0x1000>;
			#power-domain-cells = <1>;

			/* System Power Manager */
			spm: power-controller {
				compatible = "mediatek,mt8188-power-controller";
				#address-cells = <1>;
				#size-cells = <0>;
				#power-domain-cells = <1>;

				/* power domain of the SoC */
				mfg0: mfg0@MT8188_POWER_DOMAIN_MFG0 {
					reg = <MT8188_POWER_DOMAIN_MFG0>;
					#address-cells = <1>;
					#size-cells = <0>;
					#power-domain-cells = <1>;

					mfg1@MT8188_POWER_DOMAIN_MFG1 {
						reg = <MT8188_POWER_DOMAIN_MFG1>;
						clocks = <&topckgen CLK_TOP_MFG_CK_FAST_REF>,
							 <&topckgen CLK_TOP_MFG_CORE_TMP>;
						clock-names= "mfg10", "mfg11";
						mediatek,infracfg = <&infracfg_ao>;
						#address-cells = <1>;
						#size-cells = <0>;
						#power-domain-cells = <1>;

						mfg2@MT8188_POWER_DOMAIN_MFG2 {
							reg = <MT8188_POWER_DOMAIN_MFG2>;
							#power-domain-cells = <0>;
						};

						mfg3@MT8188_POWER_DOMAIN_MFG3 {
							reg = <MT8188_POWER_DOMAIN_MFG3>;
							#power-domain-cells = <0>;
						};

						mfg4@MT8188_POWER_DOMAIN_MFG4 {
							reg = <MT8188_POWER_DOMAIN_MFG4>;
							#power-domain-cells = <0>;
						};
					};
				};

				vppsys0@MT8188_POWER_DOMAIN_VPPSYS0 {
					reg = <MT8188_POWER_DOMAIN_VPPSYS0>;
					clocks = <&topckgen CLK_TOP_VPP>,
						 <&topckgen CLK_TOP_CAM>,
						 <&topckgen CLK_TOP_CCU>,
						 <&topckgen CLK_TOP_IMG>,
						 <&topckgen CLK_TOP_VENC>,
						 <&topckgen CLK_TOP_VDEC>,
						 <&topckgen CLK_TOP_WPE_VPP>,
						 <&topckgen CLK_TOP_CFGREG_CLOCK_EN_VPP0>,
						 <&topckgen CLK_TOP_CFGREG_F26M_VPP0>,
						 <&vppsys0 CLK_VPP0_SMI_COMMON_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VDO0_LARB0_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VDO0_LARB1_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VENCSYS_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VENCSYS_CORE1_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_INFRA_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_CAMSYS_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VPP1_LARB5_MMSRAM>,
						 <&vppsys0 CLK_VPP0_GALS_VPP1_LARB6_MMSRAM>,
						 <&vppsys0 CLK_VPP0_SMI_REORDER_MMSRAM>,
						 <&vppsys0 CLK_VPP0_SMI_IOMMU>,
						 <&vppsys0 CLK_VPP0_GALS_IMGSYS_CAMSYS>,
						 <&vppsys0 CLK_VPP0_GALS_EMI0_EMI1>,
						 <&vppsys0 CLK_VPP0_SMI_SUB_COMMON_REORDER>,
						 <&vppsys0 CLK_VPP0_SMI_RSI>,
						 <&vppsys0 CLK_VPP0_SMI_COMMON_LARB4>,
						 <&vppsys0 CLK_VPP0_GALS_VDEC_VDEC_CORE1>,
						 <&vppsys0 CLK_VPP0_GALS_VPP1_WPESYS>,
						 <&vppsys0 CLK_VPP0_GALS_VDO0_VDO1_VENCSYS_CORE1>;
					clock-names = "vppsys00", "vppsys01", "vppsys02", "vppsys03",
						      "vppsys04", "vppsys05", "vppsys06", "vppsys07",
						      "vppsys08",
						      "vppsys0-0", "vppsys0-1", "vppsys0-2", "vppsys0-3",
						      "vppsys0-4", "vppsys0-5", "vppsys0-6", "vppsys0-7",
						      "vppsys0-8", "vppsys0-9", "vppsys0-10", "vppsys0-11",
						      "vppsys0-12", "vppsys0-13", "vppsys0-14",
						      "vppsys0-15", "vppsys0-16", "vppsys0-17",
						      "vppsys0-18";
					mediatek,infracfg = <&infracfg_ao>;
					#address-cells = <1>;
					#size-cells = <0>;
					#power-domain-cells = <1>;

					vdosys0@MT8188_POWER_DOMAIN_VDOSYS0 {
						reg = <MT8188_POWER_DOMAIN_VDOSYS0>;
						clocks = <&topckgen CLK_TOP_CFGREG_CLOCK_EN_VDO0>,
							 <&topckgen CLK_TOP_CFGREG_F26M_VDO0>,
							 <&vdosys0 CLK_VDO0_SMI_GALS>,
							 <&vdosys0 CLK_VDO0_SMI_COMMON>,
							 <&vdosys0 CLK_VDO0_SMI_EMI>,
							 <&vdosys0 CLK_VDO0_SMI_IOMMU>,
							 <&vdosys0 CLK_VDO0_SMI_LARB>,
							 <&vdosys0 CLK_VDO0_SMI_RSI>,
							 <&vdosys0 CLK_VDO0_APB_BUS>;
						clock-names = "vdosys00", "vdosys01",
							      "vdosys0-0", "vdosys0-1", "vdosys0-2",
							      "vdosys0-3", "vdosys0-4", "vdosys0-5",
							      "vdosys0-6";
						mediatek,infracfg = <&infracfg_ao>;
						#address-cells = <1>;
						#size-cells = <0>;
						#power-domain-cells = <1>;

						vppsys1@MT8188_POWER_DOMAIN_VPPSYS1 {
							reg = <MT8188_POWER_DOMAIN_VPPSYS1>;
							clocks = <&topckgen CLK_TOP_CFGREG_CLOCK_EN_VPP1>,
								 <&topckgen CLK_TOP_CFGREG_F26M_VPP1>,
								 <&vppsys1 CLK_VPP1_GALS5>,
								 <&vppsys1 CLK_VPP1_GALS6>,
								 <&vppsys1 CLK_VPP1_LARB5>,
								 <&vppsys1 CLK_VPP1_LARB6>;
							clock-names = "vppsys10", "vppsys11",
								      "vppsys1-0", "vppsys1-1",
								      "vppsys1-2", "vppsys1-3";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						vdec1@MT8188_POWER_DOMAIN_VDEC1 {
							reg = <MT8188_POWER_DOMAIN_VDEC1>;
							clocks = <&vdecsys CLK_VDE2_LARB1>;
							clock-names = "vdec1-0";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						vdec0@MT8188_POWER_DOMAIN_VDEC0 {
							reg = <MT8188_POWER_DOMAIN_VDEC0>;
							clocks = <&vdecsys_soc CLK_VDE1_SOC_LARB1>;
							clock-names = "vdec0-0";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						cam_vcore: cam-vcore@MT8188_POWER_DOMAIN_CAM_VCORE {
							reg = <MT8188_POWER_DOMAIN_CAM_VCORE>;
							clocks = <&topckgen CLK_TOP_CAM>,
								 <&topckgen CLK_TOP_CCU>,
								 <&topckgen CLK_TOP_CCU_AHB>,
								 <&topckgen CLK_TOP_CFGREG_CLOCK_ISP_AXI_GALS>;
							clock-names = "cam_vcore0", "cam_vcore1",
								      "cam_vcore2", "cam_vcore3";
							mediatek,infracfg = <&infracfg_ao>;
							#address-cells = <1>;
							#size-cells = <0>;
							#power-domain-cells = <1>;

							cam-main@MT8188_POWER_DOMAIN_CAM_MAIN {
								reg = <MT8188_POWER_DOMAIN_CAM_MAIN>;
								clocks = <&camsys CLK_CAM_MAIN_LARB13>,
									 <&camsys CLK_CAM_MAIN_LARB14>,
									 <&camsys CLK_CAM_MAIN_CAM2MM0_GALS>,
									 <&camsys CLK_CAM_MAIN_CAM2MM1_GALS>,
									 <&camsys CLK_CAM_MAIN_CAM2SYS_GALS>;
								clock-names= "cam_main-0", "cam_main-1",
									     "cam_main-2", "cam_main-3",
									     "cam_main-4";
								mediatek,infracfg = <&infracfg_ao>;
								#address-cells = <1>;
								#size-cells = <0>;
								#power-domain-cells = <1>;

								cam-subb@MT8188_POWER_DOMAIN_CAM_SUBB {
									reg =<MT8188_POWER_DOMAIN_CAM_SUBB>;
									clocks = <&camsys CLK_CAM_MAIN_CAM_SUBB>,
										 <&camsys_rawb CLK_CAM_RAWB_LARBX>,
										 <&camsys_yuvb CLK_CAM_YUVB_LARBX>;
									clock-names = "cam_subb-0", "cam_subb-1",
										      "cam_subb-2";
									mediatek,smi = <&smi_cam0>;
									mediatek,larb = \
										<&camsys_rawb &camsys_yuvb>;
									#power-domain-cells = <0>;
								};

								cam-suba@MT8188_POWER_DOMAIN_CAM_SUBA {
									reg =<MT8188_POWER_DOMAIN_CAM_SUBA>;
									clocks = <&camsys CLK_CAM_MAIN_CAM_SUBA>,
										 <&camsys_rawa CLK_CAM_RAWA_LARBX>,
										 <&camsys_yuva CLK_CAM_YUVA_LARBX>;
									clock-names = "cam_suba-0", "cam_suba-1",
										      "cam_suba-2";
									mediatek,smi = <&smi_cam1>;
									mediatek,larb = \
										<&camsys_rawa &camsys_yuva>;
									#power-domain-cells = <0>;
								};
							};
						};

						vdosys1@MT8188_POWER_DOMAIN_VDOSYS1 {
							reg = <MT8188_POWER_DOMAIN_VDOSYS1>;
							clocks = <&topckgen CLK_TOP_CFGREG_CLOCK_EN_VDO1>,
								 <&topckgen CLK_TOP_CFGREG_F26M_VDO1>,
								 <&vdosys1 CLK_VDO1_SMI_LARB2>,
								 <&vdosys1 CLK_VDO1_SMI_LARB3>,
								 <&vdosys1 CLK_VDO1_GALS>;
							clock-names = "vdosys10", "vdosys11",
								      "vdosys1-0", "vdosys1-1", "vdosys1-2";
							mediatek,infracfg = <&infracfg_ao>;
							#address-cells = <1>;
							#size-cells = <0>;
							#power-domain-cells = <1>;

							hdmi-tx@MT8188_POWER_DOMAIN_HDMI_TX {
								reg = <MT8188_POWER_DOMAIN_HDMI_TX>;
								clocks = <&topckgen CLK_TOP_HDMI_APB>,
									 <&topckgen CLK_TOP_HDCP_24M>;
								clock-names = "hdmi_tx0", "hdmi_tx1";
								mediatek,infracfg = <&infracfg_ao>;
								#power-domain-cells = <0>;
							};

							dp-tx@MT8188_POWER_DOMAIN_DP_TX {
								reg = <MT8188_POWER_DOMAIN_DP_TX>;
								mediatek,infracfg = <&infracfg_ao>;
								#power-domain-cells = <0>;
							};

							edp-tx@MT8188_POWER_DOMAIN_EDP_TX {
								reg = <MT8188_POWER_DOMAIN_EDP_TX>;
								mediatek,infracfg = <&infracfg_ao>;
								#power-domain-cells = <0>;
							};
						};

						venc@MT8188_POWER_DOMAIN_VENC {
							reg = <MT8188_POWER_DOMAIN_VENC>;
							clocks = <&vencsys CLK_VEN1_CKE0_LARB>,
								 <&vencsys CLK_VEN1_CKE1_VENC>,
								 <&vencsys CLK_VEN1_CKE5_GALS>,
								 <&vencsys CLK_VEN1_CKE6_GALS_SRAM>;
							clock-names = "venc-0", "venc-1",
								      "venc-2", "venc-3";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						wpe@MT8188_POWER_DOMAIN_WPE {
							reg = <MT8188_POWER_DOMAIN_WPE>;
							clocks = <&wpesys CLK_WPE_TOP_SMI_LARB7>,
								 <&wpesys CLK_WPE_TOP_SMI_LARB7_PCLK_EN>;
							clock-names = "wpe-0", "wpe-1";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						img_vcore: img-vcore@MT8188_POWER_DOMAIN_IMG_VCORE {
							reg = <MT8188_POWER_DOMAIN_IMG_VCORE>;
							clocks = <&topckgen CLK_TOP_IMG>,
								 <&topckgen CLK_TOP_CFGREG_CLOCK_ISP_AXI_GALS>;
							clock-names = "img_vcore0", "img_vcore1";
							mediatek,infracfg = <&infracfg_ao>;
							#address-cells = <1>;
							#size-cells = <0>;
							#power-domain-cells = <1>;

							img-main@MT8188_POWER_DOMAIN_IMG_MAIN {
								reg = <MT8188_POWER_DOMAIN_IMG_MAIN>;
								clocks = <&imgsys CLK_IMGSYS_MAIN_LARB9>,
									 <&imgsys CLK_IMGSYS_MAIN_VCORE_GALS>,
									 <&imgsys CLK_IMGSYS_MAIN_DIP0>,
									 <&imgsys CLK_IMGSYS_MAIN_GALS>;
								clock-names = "img_main-0", "img_main-1",
									      "img_main-2", "img_main-3";
								mediatek,infracfg = <&infracfg_ao>;
								#address-cells = <1>;
								#size-cells = <0>;
								#power-domain-cells = <1>;

								dip@MT8188_POWER_DOMAIN_DIP {
									reg = <MT8188_POWER_DOMAIN_DIP>;
									clocks = <&imgsys CLK_IMGSYS_MAIN_WPE0>,
										 <&imgsys CLK_IMGSYS_MAIN_IPE>,
										 <&imgsys CLK_IMGSYS_MAIN_WPE1>,
										 <&imgsys CLK_IMGSYS_MAIN_WPE2>,
										 <&imgsys1_dip_top CLK_IMGSYS1_DIP_TOP_LARB10>,
										 <&imgsys_wpe1 CLK_IMGSYS_WPE1_LARB11>,
										 <&imgsys_wpe2 CLK_IMGSYS_WPE2_LARB11>,
										 <&imgsys_wpe3 CLK_IMGSYS_WPE3_LARB11>,
										 <&imgsys1_dip_nr CLK_IMGSYS1_DIP_NR_LARB15>;
									clock-names = "dip-0", "dip-1",
										      "dip-2", "dip-3",
										      "dip-4", "dip-5",
										      "dip-6", "dip-7",
										      "dip-8";
									mediatek,smi = <&smi_img0 &smi_img1>;
									mediatek,larb = \
										<&imgsys1_dip_top &imgsys_wpe1
										 &imgsys_wpe3 &imgsys_wpe2
										 &imgsys1_dip_nr>;
									#power-domain-cells = <0>;
								};

								ipe@MT8188_POWER_DOMAIN_IPE {
									reg = <MT8188_POWER_DOMAIN_IPE>;
									clocks = <&topckgen CLK_TOP_IPE>,
										 <&imgsys CLK_IMGSYS_MAIN_IPE>,
										 <&ipesys CLK_IPE_SMI_LARB12>;
									clock-names= "ipe0", "ipe-0", "ipe-1";
									mediatek,smi = <&smi_img1>;
									mediatek,larb = <&ipesys>;
									#power-domain-cells = <0>;
								};
							};
						};
					};
				};

				pextp-mac-p0@MT8188_POWER_DOMAIN_PEXTP_MAC_P0 {
					reg = <MT8188_POWER_DOMAIN_PEXTP_MAC_P0>;
					mediatek,infracfg = <&infracfg_ao>;
					clocks = <&pericfg_ao CLK_PERI_AO_PCIE_P0_FMEM>;
					clock-names = "pextp_mac_p0-0";
					#power-domain-cells = <0>;
				};

				csirx-top@MT8188_POWER_DOMAIN_CSIRX_TOP {
					reg = <MT8188_POWER_DOMAIN_CSIRX_TOP>;
					clocks = <&topckgen CLK_TOP_SENINF>,
						 <&topckgen CLK_TOP_SENINF1>;
					clock-names = "csirx_top0", "csirx_top1";
					#power-domain-cells = <0>;
				};

				pextp-phy-top@MT8188_POWER_DOMAIN_PEXTP_PHY_TOP {
					reg = <MT8188_POWER_DOMAIN_PEXTP_PHY_TOP>;
					#power-domain-cells = <0>;
				};

				adsp-ao@MT8188_POWER_DOMAIN_ADSP_AO {
					reg = <MT8188_POWER_DOMAIN_ADSP_AO>;
					clocks = <&topckgen CLK_TOP_AUDIO_LOCAL_BUS>,
						 <&topckgen CLK_TOP_ADSP>;
					clock-names = "adsp_ao0", "adsp_ao1";
					mediatek,infracfg = <&infracfg_ao>;
					#address-cells = <1>;
					#size-cells = <0>;
					#power-domain-cells = <1>;

					adsp-infra@MT8188_POWER_DOMAIN_ADSP_INFRA {
						reg = <MT8188_POWER_DOMAIN_ADSP_INFRA>;
						mediatek,infracfg = <&infracfg_ao>;
						#address-cells = <1>;
						#size-cells = <0>;
						#power-domain-cells = <1>;

						audio-asrc@MT8188_POWER_DOMAIN_AUDIO_ASRC {
							reg = <MT8188_POWER_DOMAIN_AUDIO_ASRC>;
							clocks = <&topckgen CLK_TOP_ASM_H>;
							clock-names = "audio_asrc0";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						audio@MT8188_POWER_DOMAIN_AUDIO {
							reg = <MT8188_POWER_DOMAIN_AUDIO>;
							clocks = <&topckgen CLK_TOP_A1SYS_HP>,
								 <&topckgen CLK_TOP_AUD_INTBUS>;
							clock-names = "audio0", "audio1";
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};

						adsp@MT8188_POWER_DOMAIN_ADSP {
							reg = <MT8188_POWER_DOMAIN_ADSP>;
							mediatek,infracfg = <&infracfg_ao>;
							#power-domain-cells = <0>;
						};
					};
				};

				ether@MT8188_POWER_DOMAIN_ETHER {
					reg = <MT8188_POWER_DOMAIN_ETHER>;
					clocks = <&pericfg_ao CLK_PERI_AO_ETHERNET_MAC>;
					clock-names = "ether0";
					mediatek,infracfg = <&infracfg_ao>;
					#power-domain-cells = <0>;
				};
			};
		};

		watchdog: watchdog@10007000 {
			compatible = "mediatek,mt8188-wdt",
				     "mediatek,mt6589-wdt";
			reg = <0 0x10007000 0 0x100>;
		};

		apmixedsys: syscon@1000c000 {
			compatible = "mediatek,mt8188-apmixedsys", "syscon";
			reg = <0 0x1000c000 0 0x1000>;
			#clock-cells = <1>;
		};

		pwm: pwm@10048000 {
			compatible = "mediatek,mt8188-pwm";
			reg = <0 0x10048000 0 0x1000>;
			#pwm-cells = <2>;
			clocks = <&infracfg_ao CLK_INFRA_AO_PWM_HCLK>,
				 <&infracfg_ao CLK_INFRA_AO_PWM>,
				 <&infracfg_ao CLK_INFRA_AO_PWM1>,
				 <&infracfg_ao CLK_INFRA_AO_PWM2>,
				 <&infracfg_ao CLK_INFRA_AO_PWM3>,
				 <&infracfg_ao CLK_INFRA_AO_PWM4>;
			clock-names = "top", "main", "pwm1", "pwm2", "pwm3",
				      "pwm4";
			status = "disabled";
		};

		spmi: spmi@10027000 {
			compatible = "mediatek,mt8188-spmi",
				     "mediatek,mt8195-spmi";
			reg = <0 0x10027000 0 0x000e00>,
			      <0 0x10029000 0 0x000100>;
			reg-names = "pmif", "spmimst";
			interrupts = <GIC_SPI 244 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 256 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&infracfg_ao CLK_INFRA_AO_PMIC_AP>,
				 <&infracfg_ao CLK_INFRA_AO_PMIC_TMR>,
				 <&topckgen CLK_TOP_SPMI_M_MST>;
			clock-names = "pmif_sys_ck",
				      "pmif_tmr_ck",
				      "spmimst_clk_mux";
			assigned-clocks = <&topckgen CLK_TOP_SPMI_M_MST>;
			assigned-clock-parents = <&topckgen CLK_TOP_ULPOSC1_D10>;
		};

		iommu_infra: infra-iommu@10315000 {
			compatible = "mediatek,mt8188-iommu-infra";
			reg = <0 0x10315000 0 0x1000>;
			interrupts = <GIC_SPI 795 IRQ_TYPE_LEVEL_HIGH 0>;
			#iommu-cells = <1>;
		};

		uart0: serial@11001100 {
			compatible = "mediatek,mt6577-uart";
			reg = <0 0x11001100 0 0x100>;
			interrupts = <GIC_SPI 141 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&clk26m>, <&infracfg_ao CLK_INFRA_AO_UART0>;
			clock-names = "baud", "bus";
			status = "disabled";
		};

		pericfg_ao: syscon@11003000 {
			compatible = "mediatek,mt8188-pericfg_ao", "syscon";
			reg = <0 0x11003000 0 0x1000>;
			#clock-cells = <1>;
		};

		spi0: spi0@1100a000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x1100a000 0 0x1000>;
			interrupts = <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI0>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		spi1: spi1@11010000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x11010000 0 0x1000>;
			interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI1>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		spi2: spi2@11012000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x11012000 0 0x1000>;
			interrupts = <GIC_SPI 193 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI2>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		spi3: spi3@11013000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x11013000 0 0x1000>;
			interrupts = <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI3>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		spi4: spi4@11018000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x11018000 0 0x1000>;
			interrupts = <GIC_SPI 195 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI4>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		spi5: spi5@11019000 {
			compatible = "mediatek,mt6765-spi";
			reg = <0 0x11019000 0 0x1000>;
			interrupts = <GIC_SPI 196 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_UNIVPLL_D6_D2>,
				 <&topckgen CLK_TOP_SPI>,
				 <&infracfg_ao CLK_INFRA_AO_SPI5>;
			clock-names = "parent-clk", "sel-clk", "spi-clk";
			status = "disabled";
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt8195-mmc",
				     "mediatek,mt8192-mmc",
				     "mediatek,mt8183-mmc";
			reg = <0 0x11230000 0 0x10000>,
			      <0 0x11f50000 0 0x1000>;
			interrupts = <GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&topckgen CLK_TOP_MSDC50_0>,
				 <&infracfg_ao CLK_INFRA_AO_MSDC0>,
				 <&infracfg_ao CLK_INFRA_AO_MSDC0_SRC>,
				 <&infracfg_ao CLK_INFRA_AO_RG_AES_MSDCFDE_CK_0P>;
			clock-names = "source", "hclk", "source_cg", "crypto_clk";
			status = "disabled";
		};

		sys-timer@10017000 {
			compatible = "mediatek,mt6765-timer";
			reg = <0 0x10017000 0 0x1000>;
			reg-names = "sys_timer_base";
			interrupts = <GIC_SPI 265 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&clk13m>;
		};

		pwrap: pwrap@10024000 {
			compatible = "mediatek,mt8188-pwrap", "syscon";
			reg = <0 0x10024000 0 0x1000>;
			reg-names = "pwrap";
			interrupts = <GIC_SPI 243 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&infracfg_ao CLK_INFRA_AO_PMIC_AP>,
				 <&infracfg_ao CLK_INFRA_AO_PMIC_TMR>;
			clock-names = "spi", "wrap";
			pinctrl-names = "default";
			pinctrl-0 = <&pmif_pin>;
		};

		i2c0: i2c@11280000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11280000 0 0x1000>,
			      <0 0x10220080 0 0x80>;
			interrupts = <GIC_SPI 151 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_c CLK_IMP_IIC_WRAP_C_AP_CLOCK_I2C0>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@11281000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11281000 0 0x1000>,
				<0 0x10220180 0 0x80>;
			interrupts = <GIC_SPI 146 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_c CLK_IMP_IIC_WRAP_C_AP_CLOCK_I2C2>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@11282000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11282000 0 0x1000>,
			      <0 0x10220280 0 0x80>;
			interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_c CLK_IMP_IIC_WRAP_C_AP_CLOCK_I2C3>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		imp_iic_wrap_c: syscon@11283000 {
			compatible = "mediatek,mt8188-imp_iic_wrap_c", "syscon";
			reg = <0 0x11283000 0 0x1000>;
			#clock-cells = <1>;
		};

		i2c1: i2c@11e00000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11e00000 0 0x1000>,
			      <0 0x10220100 0 0x80>;
			interrupts = <GIC_SPI 152 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_w CLK_IMP_IIC_WRAP_W_AP_CLOCK_I2C1>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@11e01000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11e01000 0 0x1000>,
			      <0 0x10220380 0 0x80>;
			interrupts = <GIC_SPI 148 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_w CLK_IMP_IIC_WRAP_W_AP_CLOCK_I2C4>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		imp_iic_wrap_w: syscon@11e02000 {
			compatible = "mediatek,mt8188-imp_iic_wrap_w", "syscon";
			reg = <0 0x11e02000 0 0x1000>;
			#clock-cells = <1>;
		};

		i2c5: i2c@11ec0000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11ec0000 0 0x1000>,
			      <0 0x10220480 0 0x80>;
			interrupts = <GIC_SPI 149 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_en CLK_IMP_IIC_WRAP_EN_AP_CLOCK_I2C5>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c6: i2c@11ec1000 {
			compatible = "mediatek,mt8188-i2c";
			reg = <0 0x11ec1000 0 0x1000>,
			      <0 0x10220600 0 0x80>;
			interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH 0>;
			clock-div = <1>;
			clocks = <&imp_iic_wrap_en CLK_IMP_IIC_WRAP_EN_AP_CLOCK_I2C6>,
				 <&infracfg_ao CLK_INFRA_AO_APDMA_BCLK>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		imp_iic_wrap_en: syscon@11ec2000 {
			compatible = "mediatek,mt8188-imp_iic_wrap_en", "syscon";
			reg = <0 0x11ec2000 0 0x1000>;
			#clock-cells = <1>;
		};

		mfgcfg: syscon@13fbf000 {
			compatible = "mediatek,mt8188-mfgcfg", "syscon";
			reg = <0 0x13fbf000 0 0x1000>;
			#clock-cells = <1>;
		};

		vppsys0: syscon@14000000 {
			compatible = "mediatek,mt8188-vppsys0", "syscon";
			reg = <0 0x14000000 0 0x1000>;
			#clock-cells = <1>;
		};

		vpp_smi_common: smi@14012000 {
			compatible = "mediatek,mt8188-smi-common-vpp";
			mediatek,common-id = <1>;
			reg = <0 0x14012000 0 0x1000>;
			clocks = <&vppsys0 CLK_VPP0_SMI_COMMON_LARB4>,
				 <&vppsys0 CLK_VPP0_SMI_SUB_COMMON_REORDER>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VPPSYS0>;
		};

		larb4: larb@14013000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x14013000 0 0x1000>;
			mediatek,larb-id = <SMI_L4_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&vppsys0 CLK_VPP0_SMI_COMMON_LARB4>,
				 <&vppsys0 CLK_VPP0_SMI_COMMON_LARB4>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VPPSYS0>;
		};

		iommu_vpp: iommu@14018000 {
			compatible = "mediatek,mt8188-iommu-vpp";
			reg = <0 0x14018000 0 0x5000>;
			mediatek,larbs = <&larb1 &larb3 &larb4 &larb6 &larb7
					  &larb11b &larb12 &larb14 &larb15
					  &larb16a &larb17a &larb23 &larb27>;
			interrupts = <GIC_SPI 594 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 595 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 596 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 597 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 598 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&vppsys0 CLK_VPP0_SMI_IOMMU>;
			clock-names = "bclk";
			#iommu-cells = <1>;
			power-domains = <&spm MT8188_POWER_DOMAIN_VPPSYS0>;
		};

		wpesys_vpp0: syscon@14e02000 {
			compatible = "mediatek,mt8188-wpesys_vpp0", "syscon";
			reg = <0 0x14e02000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb7: larb@14e04000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x14e04000 0 0x1000>;
			mediatek,larb-id = <SMI_L7_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&wpesys CLK_WPE_TOP_SMI_LARB7>,
				 <&wpesys CLK_WPE_TOP_SMI_LARB7>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_WPE>;
		};

		vppsys1: syscon@14f00000 {
			compatible = "mediatek,mt8188-vppsys1", "syscon";
			reg = <0 0x14f00000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb5: larb@14f02000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x14f02000 0 0x1000>;
			mediatek,larb-id = <SMI_L5_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&vppsys1 CLK_VPP1_GALS5>,
				 <&vppsys1 CLK_VPP1_LARB5>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VPPSYS1>;
		};

		larb6: larb@14f03000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x14f03000 0 0x1000>;
			mediatek,larb-id = <SMI_L6_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&vppsys1 CLK_VPP1_GALS6>,
				 <&vppsys1 CLK_VPP1_LARB6>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VPPSYS1>;
		};

		wpesys: syscon@14e00000 {
			compatible = "mediatek,mt8188-wpesys", "syscon";
			reg = <0 0x14e00000 0 0x1000>;
			#clock-cells = <1>;
		};

		imgsys: syscon@15000000 {
			compatible = "mediatek,mt8188-imgsys", "syscon";
			reg = <0 0x15000000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb9: larb@15001000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15001000 0 0x1000>;
			mediatek,larb-id = <SMI_L9_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_LARB9>,
				 <&imgsys CLK_IMGSYS_MAIN_LARB9>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_IMG_MAIN>;
		};

		larb10: larb@15120000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15120000 0 0x1000>;
			mediatek,larb-id = <SMI_L10_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_DIP0>,
				 <&imgsys1_dip_top CLK_IMGSYS1_DIP_TOP_LARB10>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_DIP>;
		};

		larb15: larb@15140000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15140000 0 0x1000>;
			mediatek,larb-id = <SMI_L15_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&imgsys1_dip_top CLK_IMGSYS1_DIP_TOP_LARB10>,
				 <&imgsys1_dip_nr CLK_IMGSYS1_DIP_NR_LARB15>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_DIP>;
		};

		larb11a: larb@15230000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15230000 0 0x1000>;
			mediatek,larb-id = <SMI_L11A_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_WPE0>,
				 <&imgsys_wpe1 CLK_IMGSYS_WPE1_LARB11>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_DIP>;
		};

		ipesys: syscon@15330000 {
			compatible = "mediatek,mt8188-ipesys", "syscon";
			reg = <0 0x15330000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb12: larb@15340000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15340000 0 0x1000>;
			mediatek,larb-id = <SMI_L12_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_IPE>,
				 <&ipesys CLK_IPE_SMI_LARB12>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_IPE>;
		};

		larb11b: larb@15530000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15530000 0 0x1000>;
			mediatek,larb-id = <SMI_L11B_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_WPE1>,
				 <&imgsys_wpe2 CLK_IMGSYS_WPE2_LARB11>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_DIP>;
		};

		larb11c: larb@15630000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x15630000 0 0x1000>;
			mediatek,larb-id = <SMI_L11C_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&imgsys CLK_IMGSYS_MAIN_WPE2>,
				 <&imgsys_wpe3 CLK_IMGSYS_WPE3_LARB11>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_DIP>;
		};

		larb13: larb@16001000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x16001000 0 0x1000>;
			mediatek,larb-id = <SMI_L13_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_LARB13>,
				 <&camsys CLK_CAM_MAIN_LARB13>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_MAIN>;
		};

		larb14: larb@16002000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x16002000 0 0x1000>;
			mediatek,larb-id = <SMI_L14_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_LARB14>,
				 <&camsys CLK_CAM_MAIN_LARB14>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_MAIN>;
		};

		larb16a: larb@16008000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x16008000 0 0x1000>;
			mediatek,larb-id = <SMI_L16A_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_CAM_SUBA>,
				 <&camsys_rawa CLK_CAM_RAWA_LARBX>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_SUBA>;
		};

		larb17a: larb@16009000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x16009000 0 0x1000>;
			mediatek,larb-id = <SMI_L17A_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_CAM_SUBA>,
				 <&camsys_yuva CLK_CAM_YUVA_LARBX>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_SUBA>;
		};

		larb16b: larb@1600a000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1600a000 0 0x1000>;
			mediatek,larb-id = <SMI_L16B_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_CAM_SUBB>,
				 <&camsys_rawb CLK_CAM_RAWB_LARBX>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_SUBB>;
		};

		larb17b: larb@1600b000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1600b000 0 0x1000>;
			mediatek,larb-id = <SMI_L17B_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&camsys CLK_CAM_MAIN_CAM_SUBB>,
				 <&camsys_yuvb CLK_CAM_YUVB_LARBX>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_SUBB>;
		};

		larb27: larb@17201000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x17201000 0 0x1000>;
			mediatek,larb-id = <SMI_L27_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&ccusys CLK_CCU_CCU0>,
				 <&ccusys CLK_CCU_LARB27>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_CAM_MAIN>;
		};

		larb23: larb@1800d000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1800d000 0 0x1000>;
			mediatek,larb-id = <SMI_L23_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&vdecsys_soc CLK_VDE1_SOC_LARB1>,
				 <&vdecsys_soc CLK_VDE1_SOC_LARB1>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDEC0>;
		};

		larb21: larb@1802e000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1802e000 0 0x1000>;
			mediatek,larb-id = <SMI_L21_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&vdecsys CLK_VDE2_LARB1>,
				 <&vdecsys CLK_VDE2_LARB1>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDEC1>;
		};

		larb19: larb@1a010000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1a010000 0 0x1000>;
			mediatek,larb-id = <SMI_L19_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&vencsys CLK_VEN1_CKE1_VENC>,
				 <&vencsys CLK_VEN1_CKE1_VENC>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VENC>;
		};

		larb0: larb@1c022000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1c022000 0 0x1000>;
			mediatek,larb-id = <SMI_L0_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&vdosys0 CLK_VDO0_SMI_LARB>,
				 <&vdosys0 CLK_VDO0_SMI_LARB>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS0>;
		};

		larb1: larb@1c023000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1c023000 0 0x1000>;
			mediatek,larb-id = <SMI_L1_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&vdosys0 CLK_VDO0_SMI_LARB>,
				 <&vdosys0 CLK_VDO0_SMI_LARB>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS0>;
		};

		vdo_smi_common: smi@1c024000 {
			compatible = "mediatek,mt8188-smi-common-vdo";
			mediatek,common-id = <0>;
			reg = <0 0x1c024000 0 0x1000>;
			clocks = <&vdosys0 CLK_VDO0_SMI_COMMON>,
				 <&vdosys0 CLK_VDO0_SMI_GALS>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS0>;
		};

		iommu_vdo: iommu@1c028000 {
			compatible = "mediatek,mt8188-iommu-vdo";
			reg = <0 0x1c028000 0 0x5000>;
			mediatek,larbs = <&larb0 &larb2 &larb5 &larb9 &larb10
					  &larb11a &larb11c &larb13 &larb16b
					  &larb17b &larb19 &larb21>;
			interrupts = <GIC_SPI 673 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 674 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 675 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 676 IRQ_TYPE_LEVEL_HIGH 0>,
				     <GIC_SPI 677 IRQ_TYPE_LEVEL_HIGH 0>;
			clocks = <&vdosys0 CLK_VDO0_SMI_IOMMU>;
			clock-names = "bclk";
			#iommu-cells = <1>;
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS0>;
		};

		larb2: larb@1c102000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1c102000 0 0x1000>;
			mediatek,larb-id = <SMI_L2_ID>;
			mediatek,smi = <&vdo_smi_common>;
			clocks = <&vdosys1 CLK_VDO1_SMI_LARB2>,
				 <&vdosys1 CLK_VDO1_SMI_LARB2>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS1>;
		};

		larb3: larb@1c103000 {
			compatible = "mediatek,mt8188-smi-larb";
			reg = <0 0x1c103000 0 0x1000>;
			mediatek,larb-id = <SMI_L3_ID>;
			mediatek,smi = <&vpp_smi_common>;
			clocks = <&vdosys1 CLK_VDO1_SMI_LARB3>,
				 <&vdosys1 CLK_VDO1_SMI_LARB3>;
			clock-names = "apb", "smi";
			power-domains = <&spm MT8188_POWER_DOMAIN_VDOSYS1>;
		};

		smi_img0: syscon@15002000 {
			compatible = "mediatek,mt8188-smi-img0", "syscon";
			reg = <0 0x15002000 0 0x1000>;
		};

		smi_img1: syscon@15003000 {
			compatible = "mediatek,mt8188-smi-img1", "syscon";
			reg = <0 0x15003000 0 0x1000>;
		};

		imgsys1_dip_top: syscon@15110000 {
			compatible = "mediatek,mt8188-imgsys1_dip_top", "syscon";
			reg = <0 0x15110000 0 0x1000>;
			#clock-cells = <1>;
		};

		imgsys1_dip_nr: syscon@15130000 {
			compatible = "mediatek,mt8188-imgsys1_dip_nr", "syscon";
			reg = <0 0x15130000 0 0x1000>;
			#clock-cells = <1>;
		};

		imgsys_wpe1: syscon@15220000 {
			compatible = "mediatek,mt8188-imgsys_wpe1", "syscon";
			reg = <0 0x15220000 0 0x1000>;
			#clock-cells = <1>;
		};

		imgsys_wpe2: syscon@15520000 {
			compatible = "mediatek,mt8188-imgsys_wpe2", "syscon";
			reg = <0 0x15520000 0 0x1000>;
			#clock-cells = <1>;
		};

		imgsys_wpe3: syscon@15620000 {
			compatible = "mediatek,mt8188-imgsys_wpe3", "syscon";
			reg = <0 0x15620000 0 0x1000>;
			#clock-cells = <1>;
		};

		camsys: syscon@16000000 {
			compatible = "mediatek,mt8188-camsys", "syscon";
			reg = <0 0x16000000 0 0x1000>;
			#clock-cells = <1>;
		};

		smi_cam0: syscon@16005000 {
			compatible = "mediatek,mt8188-smi-cam0", "syscon";
			reg = <0 0x16005000 0 0x1000>;
		};

		smi_cam1: syscon@16006000 {
			compatible = "mediatek,mt8188-smi-cam1", "syscon";
			reg = <0 0x16006000 0 0x1000>;
		};

		camsys_rawa: syscon@1604f000 {
			compatible = "mediatek,mt8188-camsys_rawa", "syscon";
			reg = <0 0x1604f000 0 0x1000>;
			#clock-cells = <1>;
		};

		camsys_yuva: syscon@1606f000 {
			compatible = "mediatek,mt8188-camsys_yuva", "syscon";
			reg = <0 0x1606f000 0 0x1000>;
			#clock-cells = <1>;
		};

		camsys_rawb: syscon@1608f000 {
			compatible = "mediatek,mt8188-camsys_rawb", "syscon";
			reg = <0 0x1608f000 0 0x1000>;
			#clock-cells = <1>;
		};

		camsys_yuvb: syscon@160af000 {
			compatible = "mediatek,mt8188-camsys_yuvb", "syscon";
			reg = <0 0x160af000 0 0x1000>;
			#clock-cells = <1>;
		};

		ccusys: syscon@17200000 {
			compatible = "mediatek,mt8188-ccusys", "syscon";
			reg = <0 0x17200000 0 0x1000>;
			#clock-cells = <1>;
		};

		vdecsys_soc: syscon@1800f000 {
			compatible = "mediatek,mt8188-vdecsys_soc", "syscon";
			reg = <0 0x1800f000 0 0x1000>;
			#clock-cells = <1>;
		};

		vdecsys: syscon@1802f000 {
			compatible = "mediatek,mt8188-vdecsys", "syscon";
			reg = <0 0x1802f000 0 0x1000>;
			#clock-cells = <1>;
		};

		vencsys: syscon@1a000000 {
			compatible = "mediatek,mt8188-vencsys", "syscon";
			reg = <0 0x1a000000 0 0x1000>;
			#clock-cells = <1>;
		};

		vdosys0: syscon@1c01d000 {
			compatible = "mediatek,mt8188-vdosys0", "syscon";
			reg = <0 0x1c01d000 0 0x1000>;
			#clock-cells = <1>;
		};

		vdosys1: syscon@1c100000 {
			compatible = "mediatek,mt8188-vdosys1", "syscon";
			reg = <0 0x1c100000 0 0x1000>;
			#clock-cells = <1>;
		};

		iommu_apu0: iommu@19010000 {
			compatible = "mediatek,mt8188-iommu-apu";
			reg = <0 0x19010000 0 0x1000>;
			interrupts = <GIC_SPI 433 IRQ_TYPE_LEVEL_HIGH 0>;
			/* mediatek,apu_power = <&apusys_rv>; */
			clocks = <&clk26m>;
			clock-names = "bclk";
			#iommu-cells = <1>;
			/* status = "disabled"; */
		};

		iommu_apu1: iommu@19015000 {
			compatible = "mediatek,mt8188-iommu-apu";
			reg = <0 0x19015000 0 0x1000>;
			interrupts = <GIC_SPI 438 IRQ_TYPE_LEVEL_HIGH 0>;
			/* mediatek,apu_power = <&apusys_rv>; */
			clocks = <&clk26m>;
			clock-names = "bclk";
			#iommu-cells = <1>;
			/* status = "disabled"; */
		};
	};
};

