// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 MediaTek Inc.
 * Author: Chris Chen <chris-qj.chen@mediatek.com>
 *	   Pablo Sun <pablo.sun@mediatek.com>
 *	   Macpaul Lin <macpaul.lin@mediatek.com>
 */
/dts-v1/;

#include "mt8189.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/regulator/mediatek,mt6360-regulator.h>
#include <dt-bindings/spmi/spmi.h>
#include <dt-bindings/usb/pd.h>
#include <dt-bindings/pinctrl/mt8189-pinfunc.h>

/ {
	model = "MediaTek Genio-720 EVK";
	compatible = "mediatek,mt8391-evk", "mediatek,mt8391",
		     "mediatek,mt8189";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0x2 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*
		 * 12 MiB reserved for OP-TEE (BL32)
		 * +-----------------------+ 0x43e0_0000
		 * |      SHMEM 2MiB       |
		 * +-----------------------+ 0x43c0_0000
		 * |        | TA_RAM  8MiB |
		 * + TZDRAM +--------------+ 0x4340_0000
		 * |        | TEE_RAM 2MiB |
		 * +-----------------------+ 0x4320_0000
		 */
		optee_reserved: optee@43200000 {
			no-map;
			reg = <0 0x43200000 0 0x00c00000>;
		};

		scp_mem: memory@50000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x50000000 0 0x2900000>;
			no-map;
		};

		/* 2 MiB reserved for ARM Trusted Firmware (BL31) */
		bl31_secmon_reserved: secmon@54600000 {
			no-map;
			reg = <0 0x54600000 0x0 0x200000>;
		};

		apu_mem: memory@55000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x55000000 0 0x1400000>; /* 20 MB */
		};

		vpu_mem: memory@57000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x57000000 0 0x1400000>; /* 20 MB */
		};
	};

	sdio_fixed_1v8: regulator-3 {
		compatible = "regulator-fixed";
		regulator-name = "sdio_io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
	};

	sdio_fixed_3v3: regulator-4 {
		compatible = "regulator-fixed";
		regulator-name = "sdio_card";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
	};
};

&pio {
	mmc0_pins_default: mmc0default {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				<PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				<PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				<PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				<PINMUX_GPIO161__FUNC_MSDC0_CMD>,
				<PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO166__FUNC_MSDC0_DAT0>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	mmc0_pins_uhs: mmc0@0{
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				<PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				<PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				<PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				<PINMUX_GPIO161__FUNC_MSDC0_CMD>,
				<PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO166__FUNC_MSDC0_DAT0>;
			input-enable;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-ds {
			pinmux = <PINMUX_GPIO167__FUNC_MSDC0_DSL>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};
};

&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	supports-cqe;
	cap-mmc-hw-reset;
	no-sdio;
	no-sd;
	non-removable;
	hs400-ds-delay = <0x1481b>;
	mediatek,hs400-ds-dly3 = <0x14>;
	vmmc-supply = <&mt6359_vemc_1_ldo_reg>;
	vqmmc-supply = <&mt6359_vufs_ldo_reg>;
};

&uart0 {
	status = "okay";
};
