// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 MediaTek Inc.
 * Author: Chris Chen <chris-qj.chen@mediatek.com>
 *	   Pablo Sun <pablo.sun@mediatek.com>
 *	   Macpaul Lin <macpaul.lin@mediatek.com>
 */
/dts-v1/;

#include "mt8189.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/regulator/mediatek,mt6360-regulator.h>
#include <dt-bindings/spmi/spmi.h>
#include <dt-bindings/usb/pd.h>
#include <dt-bindings/pinctrl/mt8189-pinfunc.h>
#include "mt6359.dtsi"

/ {
	model = "MediaTek Genio-720 EVK";
	compatible = "mediatek,mt8391-evk", "mediatek,mt8391",
		     "mediatek,mt8189";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0x2 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*
		 * 12 MiB reserved for OP-TEE (BL32)
		 * +-----------------------+ 0x43e0_0000
		 * |      SHMEM 2MiB       |
		 * +-----------------------+ 0x43c0_0000
		 * |        | TA_RAM  8MiB |
		 * + TZDRAM +--------------+ 0x4340_0000
		 * |        | TEE_RAM 2MiB |
		 * +-----------------------+ 0x4320_0000
		 */
		optee_reserved: optee@43200000 {
			no-map;
			reg = <0 0x43200000 0 0x00c00000>;
		};

		scp_mem: memory@50000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x50000000 0 0x2900000>;
			no-map;
		};

		/* 2 MiB reserved for ARM Trusted Firmware (BL31) */
		bl31_secmon_reserved: secmon@54600000 {
			no-map;
			reg = <0 0x54600000 0x0 0x200000>;
		};

		apu_mem: memory@55000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x55000000 0 0x1400000>; /* 20 MB */
		};

		vpu_mem: memory@57000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x57000000 0 0x1400000>; /* 20 MB */
		};
	};

	sdio_fixed_1v8: regulator-3 {
		compatible = "regulator-fixed";
		regulator-name = "sdio_io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
	};

	sdio_fixed_3v3: regulator-4 {
		compatible = "regulator-fixed";
		regulator-name = "sdio_card";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
	};

	usb_p1_vbus: regulator-5 {
		compatible = "regulator-fixed";
		regulator-name = "usb_p1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&pio 84 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	usb_p3_vbus: regulator-6 {
		compatible = "regulator-fixed";
		regulator-name = "usb_p3_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&pio 86 0>;
		enable-active-high;
	};
};

&mt6359_vmodem_buck_reg {
	regulator-always-on;
};

&mt6359_vsram_proc2_ldo_reg {
	regulator-always-on;
};

&mt6359_vsram_md_ldo_reg {
	regulator-always-on;
};

&mt6359_vpu_buck_reg {
	regulator-always-on;
};

&mt6359_vgpu11_buck_reg{
	regulator-always-on;
};

&mt6359_vcore_buck_reg{
	regulator-always-on;
};

&mt6359_vproc2_buck_reg{
	regulator-always-on;
};

&mt6359_vaux18_ldo_reg{
	regulator-always-on;
};

&mt6359_vrf12_ldo_reg{
	regulator-always-on;
};

&mt6359_vufs_ldo_reg{
	regulator-always-on;
};

&mt6359_va09_ldo_reg{
	regulator-always-on;
};

&mt6359_vrfck_ldo_reg{
	regulator-always-on;
};

&mt6359_vbbck_ldo_reg{
	regulator-always-on;
};

&mt6359_vsram_others_ldo_reg{
	regulator-always-on;
};

&mt6359_vsram_proc1_ldo_reg{
	 /delete-property/ regulator-always-on;
};

&spmi {

	mt6319_7: mt6319@7 {
		compatible = "mediatek,mt6315-regulator";
		reg = <0x7 SPMI_USID>;

		mt6319_7_regulator: mt6319-7-regulator {
			buck1-modeset-mask = <0x3>;

			mt6319_7_vbuck1: 7-vbuck1 {
				regulator-compatible = "vbuck1";
				regulator-name = "7_vbuck1";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
			};
			mt6319_7_vbuck2: 7-vbuck2 {
				regulator-compatible = "vbuck2";
				regulator-name = "7_vbuck2";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
			};
			mt6319_7_vbuck3: 7-vbuck3 {
				regulator-compatible = "vbuck3";
				regulator-name = "7_vbuck3";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
			mt6315_7_vbuck4: 7-vbuck4 {
				regulator-compatible = "vbuck4";
				regulator-name = "7_vbuck4";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
		};
	};

	mt6319_8: mt6319@8 {
		compatible = "mediatek,mt6315-regulator";
		reg = <0x8 SPMI_USID>;

		mt6319_8_regulator: mt6319-8-regulator {
			buck1-modeset-mask = <0xd>;

			mt6319_8_vbuck1: 8-vbuck1 {
				regulator-compatible = "vbuck1";
				regulator-name = "8_vbuck1";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
			mt6319_8_vbuck2: 8-vbuck2 {
				regulator-compatible = "vbuck2";
				regulator-name = "8_vbuck2";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
			mt6319_8_vbuck3: 8-vbuck3 {
				regulator-compatible = "vbuck3";
				regulator-name = "8_vbuck3";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
			mt6319_8_vbuck4: 8-vbuck4 {
				regulator-compatible = "vbuck4";
				regulator-name = "8_vbuck4";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};
		};
	};

};

&pmic {
	interrupts-extended = <&pio 194 IRQ_TYPE_LEVEL_HIGH>;

	/delete-node/ mt6359rtc;
};

&pio {
	mmc0_pins_default: mmc0default {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				<PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				<PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				<PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				<PINMUX_GPIO161__FUNC_MSDC0_CMD>,
				<PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO166__FUNC_MSDC0_DAT0>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	mmc0_pins_uhs: mmc0@0{
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO156__FUNC_MSDC0_DAT7>,
				<PINMUX_GPIO157__FUNC_MSDC0_DAT6>,
				<PINMUX_GPIO158__FUNC_MSDC0_DAT5>,
				<PINMUX_GPIO159__FUNC_MSDC0_DAT4>,
				<PINMUX_GPIO161__FUNC_MSDC0_CMD>,
				<PINMUX_GPIO163__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO164__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO165__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO166__FUNC_MSDC0_DAT0>;
			input-enable;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins-clk {
			pinmux = <PINMUX_GPIO162__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-ds {
			pinmux = <PINMUX_GPIO167__FUNC_MSDC0_DSL>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-rst {
			pinmux = <PINMUX_GPIO160__FUNC_MSDC0_RSTB>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	i2c0_pins:i2c0{
		pins-bus{
			pinmux = <PINMUX_GPIO52__FUNC_SDA0>,
					<PINMUX_GPIO51__FUNC_SCL0>;
			bias-disable;
		};
	};

	i2c1_pins:i2c1{
		pins-bus{
			pinmux = <PINMUX_GPIO54__FUNC_SDA1>,
					<PINMUX_GPIO53__FUNC_SCL1>;
			bias-disable;
		};
	};

	i2c2_pins:i2c2{
		pins-bus{
			pinmux = <PINMUX_GPIO56__FUNC_SDA2>,
					<PINMUX_GPIO55__FUNC_SCL2>;
			bias-disable;
		};
	};

	i2c3_pins:i2c3{
		pins-bus{
			pinmux = <PINMUX_GPIO58__FUNC_SDA3>,
					<PINMUX_GPIO57__FUNC_SCL3>;
			bias-disable;
		};
	};

	i2c4_pins:i2c4{
		pins-bus{
			pinmux = <PINMUX_GPIO60__FUNC_SDA4>,
					<PINMUX_GPIO59__FUNC_SCL4>;
			bias-disable;
		};
	};
	i2c5_pins:i2c5{
		pins-bus{
			pinmux = <PINMUX_GPIO62__FUNC_SDA5>,
					<PINMUX_GPIO61__FUNC_SCL5>;
			bias-disable;
		};
	};

	i2c6_pins:i2c6{
		pins-bus{
			pinmux = <PINMUX_GPIO64__FUNC_SDA6>,
					<PINMUX_GPIO63__FUNC_SCL6>;
			bias-disable;
		};
	};

	i2c7_pins:i2c7{
		pins-bus{
			pinmux = <PINMUX_GPIO66__FUNC_SDA7>,
					<PINMUX_GPIO65__FUNC_SCL7>;
			bias-disable;
		};
	};

	i2c8_pins:i2c8{
		pins-bus{
			pinmux = <PINMUX_GPIO68__FUNC_SDA8>,
					<PINMUX_GPIO67__FUNC_SCL8>;
			bias-disable;
		};
	};

	usb0_default_pins: usb0-default-pins {
		pins-vbus-valid {
			pinmux = <PINMUX_GPIO83__FUNC_VBUSVALID>;
		};
	};
};

&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	supports-cqe;
	cap-mmc-hw-reset;
	no-sdio;
	no-sd;
	non-removable;
	hs400-ds-delay = <0x1481b>;
	mediatek,hs400-ds-dly3 = <0x14>;
	vmmc-supply = <&mt6359_vemc_1_ldo_reg>;
	vqmmc-supply = <&mt6359_vufs_ldo_reg>;
};

&uart0 {
	status = "okay";
};

&ssusb {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_default_pins>;
	wakeup-source;
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	role-switch-default-mode = "peripheral";
};

&xhci1 {
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	vbus-supply = <&usb_p1_vbus>;
	wakeup-source;
	status = "okay";
};

&xhci2 {
	wakeup-source;
	status = "okay";
};

&xhci3 {
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	vbus-supply = <&usb_p3_vbus>;
	wakeup-source;
	status = "okay";
};

&xhci4 {
	wakeup-source;
	status = "okay";
};

&i2c0{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
};

&i2c1{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&i2c2{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";
};

&i2c3{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	status = "okay";
};

&i2c4{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;
	status = "okay";
};

&i2c5{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins>;
	status = "okay";
};

&i2c6{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	status = "okay";
};

&i2c7{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7_pins>;
	status = "okay";
};

&i2c8{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_pins>;
	status = "okay";
};

&auxadc {
	status = "okay";
};
