// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/mediatek,mt8188-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/mediatek,mt8188-pinfunc.h>

#include "mt8390-genio-common-android.dtsi"

&{/} {
	backlight_lcd0: backlight-lcd0 {
		compatible = "pwm-backlight";
		pwms = <&disp_pwm0 0 30000>;
		enable-gpios = <&pio 30 GPIO_ACTIVE_HIGH>;
		brightness-levels = <0 1023>;
		num-interpolated-steps = <1023>;
		default-brightness-level = <768>;
	};
};

&disp_pwm0 {
	pinctrl-names = "default";
	pinctrl-0 = <&disp_pwm0_pin>;
	status = "okay";
};

&disp_dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	poweron-in-hs-mode = <0>;
	status = "okay";

	panel: panel@0 {
		backlight = <&backlight_lcd0>;
		bits-per-color = <8>;
		bridge-de-active = <0>;
		bus-format = "rgb888";
		clocks = <&vdosys0 CLK_VDO0_DSI0_DSI>;
		clock-names = "mipi_clk";
		compatible = "panel,common";
		dsi-format = "rgb888";
		dsi-lanes = <4>;
		mode-skip-eot;
		mode-video;
		mode-video-burst;
		panel-height-mm = <136>;
		panel-width-mm = <217>;
		pinctrl-names = "sn65dsi83";
		pinctrl-0 = <&dsi0_sn65dsi83_pins>;
		power-supply = <&VDD_5V>;
		reg = <0>;
		sn65dsi83 = <&dsi0_to_lvds>;
		spwg;

		display-timings {
			mipi_t: t-dsi-default {
				clock-frequency = <71700000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <5>;
				hfront-porch = <151>;
				vback-porch = <2>;
				vfront-porch = <28>;
				hsync-len = <4>;
				vsync-len = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};

		dsi0_to_lvds: dsi0-to-lvds {
			alias = <&dsi0_to_lvds>;
			enable-gpios = <&pio 25 GPIO_ACTIVE_HIGH>;
			i2c-address = <0x2c>;
			i2c-bus = <&i2c_mux_lcd_dsi0>;
			interrupts-extended = <&pio 128 IRQ_TYPE_LEVEL_HIGH>;
		};

		port {
			panel0_in: endpoint {
				remote-endpoint = <&disp_dsi0_out>;
			};
		};
	};

	ports {
		port {
			disp_dsi0_out: endpoint {
				remote-endpoint = <&panel0_in>;
			};
		};
	};
};

&i2c_mux_lcd_dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	ts_dsi0_goodix: touchscren@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&ts_dsi0_goodix_pins>;
		interrupts-extended = <&pio 146 IRQ_TYPE_LEVEL_HIGH>;
		irq-gpios = <&pio 146 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 7 GPIO_ACTIVE_HIGH>;
	};
};

&mipi_tx_config0 {
	status = "okay";
};

&pio {
	disp_pwm0_pin: disp-pwm0-pin {
		pins1 {
			pinmux = <PINMUX_GPIO29__FUNC_O_DISP_PWM0>;
			bias-pull-down;
		};
	};

	dsi0_sn65dsi83_pins: dsi0-sn65dsi83-pins {
		pins-irq {
			pinmux = <PINMUX_GPIO128__FUNC_B_GPIO128>;
			bias-pull-down;
			input-enable;
		};

		pins-enable {
			pinmux = <PINMUX_GPIO25__FUNC_B_GPIO25>;
			bias-pull-down;
		};
	};

	ts_dsi0_goodix_pins: ts-dsi0-goodix-pins {
		pins-irq {
			pinmux = <PINMUX_GPIO146__FUNC_B_GPIO146>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
			input-enable;
		};

		pins-reset {
			pinmux = <PINMUX_GPIO7__FUNC_B_GPIO7>;
			bias-pull-down;
		};
	};
};
