// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 Boundary Devices
 */
#include "mt6359.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/net/microchip-lan78xx.h>
#include <dt-bindings/pinctrl/mediatek,mt8188-pinfunc.h>
#include <dt-bindings/usb/pd.h>

/ {
	aliases {
		dsi0 = &dsi0;
		ethernet0 = &eth;
		rtc0 = &rv3028;
		rtc1 = &mt6359rtc;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0x1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*
		 * 12 MiB reserved for OP-TEE (BL32)
		 * +-----------------------+ 0x43e0_0000
		 * |      SHMEM 2MiB       |
		 * +-----------------------+ 0x43c0_0000
		 * |        | TA_RAM  8MiB |
		 * + TZDRAM +--------------+ 0x4340_0000
		 * |        | TEE_RAM 2MiB |
		 * +-----------------------+ 0x4320_0000
		 */
		optee_reserved: optee@43200000 {
			no-map;
			reg = <0 0x43200000 0 0x00c00000>;
		};

		scp_mem: memory@50000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x50000000 0 0x2900000>;
			no-map;
		};

		/* 2 MiB reserved for ARM Trusted Firmware (BL31) */
		bl31_secmon_reserved: secmon@54600000 {
			no-map;
			reg = <0 0x54600000 0x0 0x200000>;
		};

		apu_mem: memory@55000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x55000000 0 0x1400000>; /* 20 MB */
		};

		vpu_mem: memory@57000000 {
			compatible = "shared-dma-pool";
			reg = <0 0x57000000 0 0x1400000>; /* 20 MB */
		};

		/*
		 * 24 MiB reserved for Audio AFE and ADSP
		 * +-----------------------+ 0x6180_0000
		 * |  AFE DMA MEM     8MiB |
		 * +-----------------------+ 0x6100_0000
		 * |  ADSP DMA MEM    1MiB |
		 * +-----------------------+ 0x60f0_0000
		 * |  ADSP MEM       15MiB |
		 * +-----------------------+ 0x6000_0000
		 */

		adsp_mem_reserved: adsp-mem-region {
			compatible = "shared-dma-pool";
			reg = <0 0x60000000 0 0xf00000>;
			no-map;
		};

		adsp_dma_mem_reserved: snd-dma-mem-region {
			compatible = "shared-dma-pool";
			reg = <0 0x60f00000 0 0x100000>;
			no-map;
		};

		afe_dma_mem_reserved: adsp-dma-mem-region {
			compatible = "shared-dma-pool";
			reg = <0 0x61000000 0 0x800000>;
			no-map;
		};
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	regulator-efuse {
		compatible = "regulator-output";
		vout-supply = <&mt6359_vefuse_ldo_reg>;
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus { /* USB 2.0 P0 USB-C */
		compatible = "regulator-fixed";
		regulator-name = "usb_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&pio 84 GPIO_ACTIVE_HIGH>; /* USB0_DRV_VBUS */
		enable-active-high;
	};

	onboard_hub: regulator-usb1-hub-reset {
		compatible = "regulator-fixed";
		regulator-name = "hub_reset";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&pio 147 GPIO_ACTIVE_HIGH>; /* USB_HUB_RESET DPI_HSYNC*/
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_hub_reset>;
	};

	usb2_eth_reg: regulator-usb2-eth-reset {
		compatible = "regulator-fixed";
		regulator-name = "eth1_reset";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&pio 80 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&usb2_eth_reset>;
	};

	VDD_5V: VDD-5V {
		compatible = "regulator-fixed";
		regulator-name = "VDD-5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	VDD_3V3: VDD-3V3 {
		compatible = "regulator-fixed";
		regulator-name = "VDD-3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	VDD_1V8: VDD-1V8 {
		compatible = "regulator-fixed";
		regulator-name = "VDD-1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	sdio_fixed_3v3: regulator@2 { /* WiFi */
		compatible = "regulator-fixed";
		regulator-name = "sdio_card";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
	};

	sdio_fixed_1v8: regulator@3 { /* WiFi */
		compatible = "regulator-fixed";
		regulator-name = "sdio_io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
	};

	sdio2_en_3v3: regulator-sdio2 { /* SDCARD */
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-name = "sdio2-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pio 111 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;

		charger-present {
			label = "charger present";
			gpios = <&pio 129 GPIO_ACTIVE_LOW>;
			linux,code = <11>;
		};

		force-recovery {
			label = "force recovery";
			gpios = <&pio 126 GPIO_ACTIVE_LOW>;
			linux,code = <2>;
		};

		lid-open {
			label = "lid open";
			gpios = <&pio 65 GPIO_ACTIVE_LOW>;
			linux,code = <3>;
		};

		pwr-on {
			label = "power on";
			gpios = <&pio 127 GPIO_ACTIVE_LOW>;
			linux,code = <4>;
		};

		sleep {
			label = "sleep";
			gpios = <&pio 66 GPIO_ACTIVE_LOW>;
			linux,code = <5>;
		};
	};

	pmic_temp: pmic-temp {
		compatible = "mediatek,mt6359-pmic-temp";
		io-channels =
			<&pmic_auxadc AUXADC_CHIP_TEMP>,
			<&pmic_auxadc AUXADC_VCORE_TEMP>,
			<&pmic_auxadc AUXADC_VPROC_TEMP>,
			<&pmic_auxadc AUXADC_VGPU_TEMP>;
		io-channel-names =
			"pmic_chip_temp",
			"pmic_buck1_temp",
			"pmic_buck2_temp",
			"pmic_buck3_temp";

		#thermal-sensor-cells = <1>;
		nvmem-cells = <&thermal_efuse_data1>;
		nvmem-cell-names = "e_data1";
	};
};

&afe {
	memory-region = <&afe_dma_mem_reserved>;
	#sound-dai-cells = <0>;
	mediatek,etdm-out1-multi-pin-mode;
	mediatek,etdm-in2-multi-pin-mode;
	mediatek,etdm-in2-cowork-source = <2>;
	status = "okay";
};

&adsp {
	memory-region = <&adsp_dma_mem_reserved>,
		<&adsp_mem_reserved>;
};

&eth {
	/delete-property/ mac-address;
	mediatek,mac-wol;
	phy-mode ="rgmii-rxid";
	phy-handle = <&ethernet_phy0>;
	snps,reset-gpio = <&pio 27 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 11000 1000>;
	mediatek,tx-delay-ps = <2030>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&eth_default_pins>;
	pinctrl-1 = <&eth_sleep_pins>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		ethernet_phy0: ethernet-phy@7 {
			reg = <7>;
			compatible = "ethernet-phy-ieee802.3-c22";
			eee-broken-1000t;
			interrupts-extended = <&pio 148 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&dp_intf1 {
	status = "disabled";
	ports {
		port {
			dp_intf1_out: endpoint {
				remote-endpoint = <&dptx_in>;
			};
		};
	};
};

&dp_tx {
	pinctrl-names = "default";
	pinctrl-0 = <&dptx_pin>;
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			dptx_in: endpoint {
				remote-endpoint = <&dp_intf1_out>;
			};
		};

		port@1 {
			reg = <1>;
			dptx_out: endpoint {
				data-lanes = <0 1 2 3>;
			};
		};
	};
};

&gpu {
	mali-supply = <&mt6359_vproc2_buck_reg>;
	status = "okay";
};

&i2c0 { /* SM_I2C_GP */
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c0_pin>;
	pinctrl-1 = <&i2c0_1_pin>;
	scl-gpios = <&pio 55 GPIO_OPEN_DRAIN>;
	sda-gpios = <&pio 56 GPIO_OPEN_DRAIN>;
	clock-frequency = <100000>;
	status = "okay";

	/* On bd-universal-smarc-carrier */
	i2c_mux_smarc_gp@73 {
		compatible = "nxp,pca9546";
		reg = <0x73>;
		reset-gpios = <&pio 6 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux_smarc_gp_rtc: i2cmuxsmarcgp@rtc {
			/* RTC */
			clock-frequency = <100000>;
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_smarc_gp_usbc: i2cmuxsmarcgp@usb-c {
			/* USB C */
			clock-frequency = <100000>;
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_smarc_gp_aud: i2cmuxsmarcgp@audio {
			/* audio */
			clock-frequency = <100000>;
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_smarc_gp_pcie: i2cmuxsmarcgp@pcie {
			/* pcie */
			clock-frequency = <100000>;
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

};

&i2c1 { /* PMIC I2C bus, but the PMIC is on spmi */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c2 { /* LCD I2C */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pin>;
	clock-frequency = <400000>;
	status = "okay";

	i2c_mux_smarc_lcd@73 { /* On SMARC carrier */
		compatible = "nxp,pca9546";
		pinctrl-names = "default";
		pinctrl-0 = <&mux_smarc_lcd_pin>;
		reg = <0x73>;
		reset-gpios = <&pio 5 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux_lcd_edp0: i2cmuxsmarclcd@edp0 {
			/* EDP0 */
			clock-frequency = <100000>;
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_lcd_edp1: i2cmuxsmarclcd@edp1 {
			/* EDP1 */
			clock-frequency = <100000>;
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_lcd_dsi0: i2cmuxsmarclcd@dsi0 {
			/* DSI0 */
			clock-frequency = <100000>;
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_mux_lcd_dsi1: i2cmuxsmarclcd@dsi1 {
			/* DSI1 */
			clock-frequency = <100000>;
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&i2c3 { /* CSI0 I2C */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c4 { /* CSI1 I2C */
	pinctrl-names = "default", "default";
	pinctrl-0 = <&i2c4_pin>;
	clock-frequency = <400000>;
	status = "okay";

};

&i2c_mux_smarc_gp_rtc {
	rv3028: rtc@52 {
		pinctrl-names = "default";
		pinctrl-0 = <&rv3028_pin>;
		backup-switchover-dsm;
		#clock-cells = <0>;
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		interrupts-extended = <&pio 42 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&i2c_mux_smarc_gp_usbc {
	usb_mux: hd3ss3220@60 {
		compatible = "ti,hd3ss3220";
		interrupts-extended = <&pio 45 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hd3ss3220_pin>;
		reg = <0x60>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&ss_ep>;
				};
			};

			port@1 {
				reg = <1>;
				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&usb_role_switch>;
				};
			};
		};
	};
};

&i2c_mux_smarc_gp_aud {
	wm8962: codec@1a {
		#sound-dai-cells = <0>;
		AVDD-supply = <&VDD_1V8>;
		CPVDD-supply = <&VDD_1V8>;
		DBVDD-supply = <&VDD_3V3>;
		DCVDD-supply = <&VDD_1V8>;
		MICVDD-supply = <&VDD_3V3>;
		PLLVDD-supply = <&VDD_1V8>;
		SPKVDD1-supply = <&VDD_5V>;
		SPKVDD2-supply = <&VDD_5V>;
		clocks = <&topckgen CLK_TOP_I2SO1>;
		compatible = "wlf,wm8962";
		gpio-cfg = <
			0x0000 /* n/c */
			0x0000 /* gpio2: */
			0x0000 /* gpio3: */
			0x0000 /* n/c */
			0x8081 /* gpio5:HP detect */
			0x8095 /* gpio6:Mic detect */
		>;
		reg = <0x1a>;
	};
};

&pmic {
	interrupt-parent = <&pio>;
	interrupts = <222 IRQ_TYPE_LEVEL_HIGH>;

	/delete-node/ mt6359keys;

	pmic_key: pmic-key {
		compatible = "mediatek,mt6359-keys";
		mediatek,long-press-mode = <1>;
		power-off-time-sec = <0>;

		power-key{
			linux,keycodes = <116>; /* KEY_POWER */
			wakeup-source;
		};
	};
};

&scp {
	memory-region = <&scp_mem>;
	status = "okay";
};

&thermal_zones {
	pmic-temp {
		polling-delay = <1000>; /* milliseconds */
		polling-delay-passive = <1000>; /* milliseconds */
		thermal-sensors = <&pmic_temp 0>;

		trips {
			pmic_temp_crit: pmic-temp-crit@0 {
				temperature = <130000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};
	pmic-vcore {
		polling-delay = <0>; /* milliseconds */
		polling-delay-passive = <0>; /* milliseconds */
		thermal-sensors = <&pmic_temp 1>;
		trips {
			pmic_vcore_crit: pmic-vcore-crit {
				temperature = <130000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};
	pmic-vproc {
		polling-delay = <0>; /* milliseconds */
		polling-delay-passive = <0>; /* milliseconds */
		thermal-sensors = <&pmic_temp 2>;
		trips {
			pmic_vproc_crit: pmic-vproc-crit {
				temperature = <130000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};
	pmic-vgpu {
		polling-delay = <0>; /* milliseconds */
		polling-delay-passive = <0>; /* milliseconds */
		thermal-sensors = <&pmic_temp 3>;
		trips {
			pmic_vgpu_crit: pmic-vgpu-crit {
				temperature = <130000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};
};

&mt6359codec {
	mediatek,mic-type-0 = <1>; /* ACC */
	mediatek,mic-type-1 = <3>; /* DCC */
	mediatek,mic-type-2 = <0>;
	mediatek,dmic-mode = <0>;
};

&mt6359_vbbck_ldo_reg {
	regulator-always-on;
};

&mt6359_vcn33_1_bt_ldo_reg {
	regulator-always-on;
};

&mt6359_vcn33_2_bt_ldo_reg {
	regulator-always-on;
};

&mt6359_vcore_buck_reg {
	regulator-always-on;
};

&mt6359_vgpu11_buck_reg {
	regulator-always-on;
};

&mt6359_vpu_buck_reg {
	regulator-always-on;
};

&mt6359_vrf12_ldo_reg {
	regulator-always-on;
};

&mt6359_vufs_ldo_reg {
	regulator-always-on;
};

&mt6359_vsim1_ldo_reg {
	/* Used by mmc1. Limit to 1v8 as this ldo cannot do 3v3 */
	regulator-max-microvolt = <1800000>;
	regulator-enable-ramp-delay = <480>;
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mt6359_vemc_1_ldo_reg {
	regulator-always-on;
};

/* eMMC */
&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	supports-cqe;
	cap-mmc-hw-reset;
	no-sdio;
	no-sd;
	hs400-ds-delay = <0x1481b>;
	vmmc-supply = <&mt6359_vemc_1_ldo_reg>;
	vqmmc-supply = <&mt6359_vufs_ldo_reg>;
	non-removable;
};

/* SDCARD */
&mmc1 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_uhs>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	cd-gpios = <&pio 2 GPIO_ACTIVE_LOW>;
	vqmmc-supply = <&mt6359_vsim1_ldo_reg>;
	vmmc-supply = <&sdio2_en_3v3>;
};

&wifi_pwrseq {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_pwrseq_pin>;

	reset-gpios = <&pio 89 GPIO_ACTIVE_LOW>;
	post-power-on-delay-ms = <200>;
};

/* WiFi */
&mmc2 {
	status = "okay";
	pinctrl-names = "default", "state_uhs", "state_eint",
					"state_dat1";
	pinctrl-0 = <&mmc2_pins_default>;
	pinctrl-1 = <&mmc2_pins_uhs>;
	pinctrl-2 = <&mmc2_pins_eint>;
	pinctrl-3 = <&mmc2_pins_dat1>;
	eint-gpios = <&pio 172 0>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	cap-sdio-async-int;
	cap-sdio-irq;
	no-mmc;
	no-sd;
	non-removable;
	vmmc-supply = <&sdio_fixed_3v3>;
	vqmmc-supply = <&mt6359_vcn18_ldo_reg>; // VCN18_WIFI
	mmc-pwrseq = <&wifi_pwrseq>;
#include "mt7921-mt320-tables.dtsi"
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	mediatek,pad-select = <0>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_pins>;
	pinctrl-names = "default";
	mediatek,pad-select = <0>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
};

&spmi {
	#address-cells = <1>;
	#size-cells = <2>;

	mt6315_6: mt6315@6 {
		compatible = "mediatek,mt6315-regulator";
		reg = <0x6 0 0xb>;

		regulators {
			mt6315_6_vbuck1: vbuck1 {
				regulator-compatible = "vbuck1";
				regulator-name = "vbuck1";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
				mtk,combined-regulator = <2>;
			};

			mt6315_6_vbuck3: vbuck3 {
				regulator-compatible = "vbuck3";
				regulator-name = "vbuck3";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;
			};

			mt6315_6_vbuck4: vbuck4 {
				regulator-compatible = "vbuck4";
				regulator-name = "vbuck4";
				regulator-min-microvolt = <1193750>;
				regulator-max-microvolt = <1193750>;
				regulator-enable-ramp-delay = <256>;
				regulator-allowed-modes = <0 1 2>;
				regulator-always-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1193750>;
				};
			};
		};
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins_default>;
	status = "okay";
};

&pciephy {
	status = "okay";
};

&ssusb0 { /* USB-C */
	pinctrl-names = "default";
	pinctrl-0 = <&usbotg_pins>;
	maximum-speed = "high-speed";
	usb-role-switch;
	dr_mode = "otg";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	mediatek,force-vbus;
	wakeup-source;
	status = "okay";

	connector {
		compatible = "usb-c-connector";
		label = "USB-C";
		data-role = "dual";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				hs_ep: endpoint {
					remote-endpoint = <&usb_hs_ep>;
				};
			};

			port@1 {
				reg = <1>;
				ss_ep: endpoint {
					remote-endpoint = <&hd3ss3220_in_ep>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb_hs_ep: endpoint {
				remote-endpoint = <&hs_ep>;
			};
		};

		port@1 {
			reg = <1>;
			usb_role_switch: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&u2port0 {
	status = "okay";
};

&u3phy0 {
	status = "okay";
};

&xhci0 {
	vbus-supply = <&reg_usb_otg_vbus>;
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	status = "okay";
};

&ssusb1 { /* HUB */
	pinctrl-0 = <&usb1_default>;
	pinctrl-names = "default";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	dr_mode = "host";
	mediatek,force-vbus;
	wakeup-source;
	status = "okay";
};

&u2port1 {
	status = "okay";
};

&u3port1 {
	status = "okay";
};

&u3phy1 {
	status = "okay";
};

&xhci1 {
	vbus-supply = <&onboard_hub>;
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	status = "okay";
};

&ssusb2 { /* USB ETH 7850 */
	maximum-speed = "high-speed";
	dr_mode = "host";
	mediatek,force-vbus;
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	status = "okay";
	wakeup-source;
};

&u2port2 {
	status = "okay";
};

&u3phy2 {
	status = "okay";
};

&xhci2 {
	vbus-supply = <&usb2_eth_reg>;
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	ethernet: ethernet@1 {
		compatible = "usb424,7850";
		reg = <1>;

		#address-cells = <1>;
		#size-cells = <0>;
		mdio {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			eth_phy: ethernet-phy@1 {
				reg = <1>;
				microchip,led-modes = <
					LAN78XX_LINK_1000_ACTIVITY
					LAN78XX_LINK_10_ACTIVITY
					LAN78XX_LINK_10_100_ACTIVITY
					LAN78XX_LINK_ACTIVITY
				>;
			};
		};
	};
};

&mfg0 {
	domain-supply = <&mt6359_vproc2_buck_reg>;
};

&mfg1 {
	domain-supply = <&mt6359_vsram_others_ldo_reg>;
};

&mt6359_vmodem_buck_reg {
	regulator-always-on;
};

&mt6359_vpa_buck_reg {
	regulator-always-on;
};

&mt6359_vsram_md_ldo_reg {
	regulator-always-on;
};

&sound {
	compatible = "mediatek,mt8390-evk";
	pinctrl-names = "default";
	pinctrl-0 = <&aud_pins_default>;
	audio-routing =
		"Headphone", "Headphone L",
		"Headphone", "Headphone R",
		"Headphone", "HPOUTL",
		"Headphone", "HPOUTR",
		"Headphone", "SPKOUTL",
		"Headphone", "SPKOUTR",
		"Headset Mic", "MICBIAS",
		"IN1R", "Headset Mic",
		"IN2R", "Headset Mic",
		"IN3L", "Headset Mic",
		"IN3R", "Headset Mic";
	status = "okay";

	dai-link-0 {
		sound-dai = <&afe>;
		dai-link-name = "ADDA_BE";
		status = "okay";

		codec-0 {
			sound-dai = <&pmic 0>;
		};

	};

	dai-link-1 {
		sound-dai = <&afe>;
		dai-link-name = "ETDM3_OUT_BE";
		status = "disabled";

		codec-0 {
			sound-dai = <&hdmi0>;
		};
	};

	dai-link-2 {
		sound-dai = <&afe>;
		dai-link-name = "DPTX_BE";
		status = "disabled";

		codec-0 {
			sound-dai = <&dp_tx>;
		};
	};

	dai-link-3 {
		sound-dai = <&afe>;
		dai-link-name = "ETDM1_OUT_BE";
		status = "okay";

		codec-0 {
			sound-dai = <&wm8962>;
		};
	};

	dai-link-4 {
		sound-dai = <&afe>;
		dai-link-name = "ETDM2_IN_BE";
		status = "okay";

		codec-0 {
			sound-dai = <&wm8962>;
		};
	};
};

&cam_vcore {
	domain-supply = <&mt6359_vproc1_buck_reg>;
};

&img_vcore {
	domain-supply = <&mt6359_vproc1_buck_reg>;
};

&watchdog {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_watchdog>;
};

&pio {
	aud_pins_default: audiodefault {
		pins-aud-pmic {
			pinmux = <
				PINMUX_GPIO101__FUNC_O_AUD_CLK_MOSI
				PINMUX_GPIO102__FUNC_O_AUD_SYNC_MOSI
				PINMUX_GPIO103__FUNC_O_AUD_DAT_MOSI0
				PINMUX_GPIO104__FUNC_O_AUD_DAT_MOSI1
				PINMUX_GPIO105__FUNC_I0_AUD_DAT_MISO0
				PINMUX_GPIO106__FUNC_I0_AUD_DAT_MISO1
			>;
		};

		pins-pcm-wifi {
			pinmux = <
				PINMUX_GPIO121__FUNC_B0_PCM_CLK
				PINMUX_GPIO122__FUNC_B0_PCM_SYNC
				PINMUX_GPIO123__FUNC_O_PCM_DO
				PINMUX_GPIO124__FUNC_I0_PCM_DI
			>;
		};

		pins-i2s {
			pinmux = <
				PINMUX_GPIO119__FUNC_O_I2SO1_MCK
				PINMUX_GPIO112__FUNC_O_I2SO1_WS
				PINMUX_GPIO120__FUNC_O_I2SO1_BCK
				PINMUX_GPIO113__FUNC_O_I2SO1_D0
				PINMUX_GPIO110__FUNC_I0_I2SIN_D0
			>;
		};
	};

	disp_pwm0_pin: disp-pwm0-pin {
		pins1 {
			pinmux = <PINMUX_GPIO29__FUNC_O_DISP_PWM0>;
			bias-pull-down;
		};
	};

	disp_pwm1_pin: disp-pwm1-pin {
		pins1 {
			pinmux = <PINMUX_GPIO30__FUNC_O_DISP_PWM1>;
			bias-pull-down;
		};
	};

	dptx_pin: dptx-pin {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO46__FUNC_I0_DP_TX_HPD>;
			bias-pull-up;
		};
	};

	edp_panel_3v3_en_pins: edp-panel-3v3-en-pins {
		pins1 {
			pinmux = <PINMUX_GPIO15__FUNC_B_GPIO15>;
			output-high;
		};
	};

	eth_default_pins: eth-default-pins {
		pins-txd {
			pinmux = <PINMUX_GPIO131__FUNC_O_GBE_TXD3>,
				 <PINMUX_GPIO132__FUNC_O_GBE_TXD2>,
				 <PINMUX_GPIO133__FUNC_O_GBE_TXD1>,
				 <PINMUX_GPIO134__FUNC_O_GBE_TXD0>;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		pins-cc {
			pinmux = <PINMUX_GPIO139__FUNC_B0_GBE_TXC>,
				 <PINMUX_GPIO142__FUNC_O_GBE_TXEN>,
				 <PINMUX_GPIO141__FUNC_I0_GBE_RXDV>;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		pins-rxd {
			pinmux = <PINMUX_GPIO135__FUNC_I0_GBE_RXD3>,
				 <PINMUX_GPIO136__FUNC_I0_GBE_RXD2>,
				 <PINMUX_GPIO137__FUNC_I0_GBE_RXD1>,
				 <PINMUX_GPIO138__FUNC_I0_GBE_RXD0>,
				 <PINMUX_GPIO140__FUNC_I0_GBE_RXC>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-mdio {
			pinmux = <PINMUX_GPIO143__FUNC_O_GBE_MDC>,
				 <PINMUX_GPIO144__FUNC_B1_GBE_MDIO>;
			drive-strength = <MTK_DRIVE_8mA>;
			input-enable;
		};
		pins-power {
			pinmux = <PINMUX_GPIO27__FUNC_B_GPIO27>; /* GP_EQOS_RESET */
			output-high;
		};
		pins-intr {
			pinmux = <PINMUX_GPIO148__FUNC_B_GPIO148>; /* GPIRQ_EQOS_PHY */
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
			input-enable;
		};
	};

	eth_sleep_pins: eth-sleep-pins {
		pins-txd {
			pinmux = <PINMUX_GPIO131__FUNC_B_GPIO131>,
				 <PINMUX_GPIO132__FUNC_B_GPIO132>,
				 <PINMUX_GPIO133__FUNC_B_GPIO133>,
				 <PINMUX_GPIO134__FUNC_B_GPIO134>;
		};
		pins-cc {
			pinmux = <PINMUX_GPIO139__FUNC_B_GPIO139>,
				 <PINMUX_GPIO142__FUNC_B_GPIO142>,
				 <PINMUX_GPIO141__FUNC_B_GPIO141>,
				 <PINMUX_GPIO140__FUNC_B_GPIO140>;
		};
		pins-rxd {
			pinmux = <PINMUX_GPIO135__FUNC_B_GPIO135>,
				 <PINMUX_GPIO136__FUNC_B_GPIO136>,
				 <PINMUX_GPIO137__FUNC_B_GPIO137>,
				 <PINMUX_GPIO138__FUNC_B_GPIO138>;
		};
		pins-mdio {
			pinmux = <PINMUX_GPIO143__FUNC_B_GPIO143>,
				 <PINMUX_GPIO144__FUNC_B_GPIO144>;
			input-disable;
			bias-disable;
		};
	};

	gpio_keys_pins: gpio-keys-pins {
		pins-keys {
			pinmux = <PINMUX_GPIO129__FUNC_B_GPIO129>,
				 <PINMUX_GPIO65__FUNC_B_GPIO65>,
				 <PINMUX_GPIO66__FUNC_B_GPIO66>;
			bias-pull-up;
		};
	};

	hd3ss3220_pin: hd3ss3320-pin {
		irq_pins {
			pinmux = <PINMUX_GPIO45__FUNC_B_GPIO45>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
			input-enable;
		};
	};

	i2c0_pin: i2c0-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO56__FUNC_B1_SDA0>,
				 <PINMUX_GPIO55__FUNC_B1_SCL0>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};
	i2c0_1_pin: i2c0-1pin {
		pins-gpio {
			pinmux = <PINMUX_GPIO6__FUNC_B_GPIO6>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			drive-strength-microamp = <1000>;
		};
	};

	i2c1_pin: i2c1-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO58__FUNC_B1_SDA1>,
				 <PINMUX_GPIO57__FUNC_B1_SCL1>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c2_pin: i2c2-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO60__FUNC_B1_SDA2>,
				 <PINMUX_GPIO59__FUNC_B1_SCL2>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c3_pin: i2c3-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO62__FUNC_B1_SDA3>,
				 <PINMUX_GPIO61__FUNC_B1_SCL3>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c4_pin: i2c4-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO64__FUNC_B1_SDA4>,
				 <PINMUX_GPIO63__FUNC_B1_SCL4>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	mmc0_pins_default: mmc0-default {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO161__FUNC_B1_MSDC0_DAT0>,
				 <PINMUX_GPIO160__FUNC_B1_MSDC0_DAT1>,
				 <PINMUX_GPIO159__FUNC_B1_MSDC0_DAT2>,
				 <PINMUX_GPIO158__FUNC_B1_MSDC0_DAT3>,
				 <PINMUX_GPIO154__FUNC_B1_MSDC0_DAT4>,
				 <PINMUX_GPIO153__FUNC_B1_MSDC0_DAT5>,
				 <PINMUX_GPIO152__FUNC_B1_MSDC0_DAT6>,
				 <PINMUX_GPIO151__FUNC_B1_MSDC0_DAT7>,
				 <PINMUX_GPIO156__FUNC_B1_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO157__FUNC_B1_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO155__FUNC_O_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc0_pins_uhs: mmc0-uhs{
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO161__FUNC_B1_MSDC0_DAT0>,
				 <PINMUX_GPIO160__FUNC_B1_MSDC0_DAT1>,
				 <PINMUX_GPIO159__FUNC_B1_MSDC0_DAT2>,
				 <PINMUX_GPIO158__FUNC_B1_MSDC0_DAT3>,
				 <PINMUX_GPIO154__FUNC_B1_MSDC0_DAT4>,
				 <PINMUX_GPIO153__FUNC_B1_MSDC0_DAT5>,
				 <PINMUX_GPIO152__FUNC_B1_MSDC0_DAT6>,
				 <PINMUX_GPIO151__FUNC_B1_MSDC0_DAT7>,
				 <PINMUX_GPIO156__FUNC_B1_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO157__FUNC_B1_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-ds {
			pinmux = <PINMUX_GPIO162__FUNC_B0_MSDC0_DSL>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO155__FUNC_O_MSDC0_RSTB>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc1_pins_default: mmc1-default {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO163__FUNC_B1_MSDC1_CMD>,
				 <PINMUX_GPIO165__FUNC_B1_MSDC1_DAT0>,
				 <PINMUX_GPIO166__FUNC_B1_MSDC1_DAT1>,
				 <PINMUX_GPIO167__FUNC_B1_MSDC1_DAT2>,
				 <PINMUX_GPIO168__FUNC_B1_MSDC1_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-pwr {
			pinmux = <PINMUX_GPIO111__FUNC_B_GPIO111>;
			bias-pull-down;
		};

		pins-pullup {
			pinmux = <PINMUX_GPIO11__FUNC_B_GPIO11>;
			bias-pull-up;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO164__FUNC_B1_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-insert {
			pinmux = <PINMUX_GPIO2__FUNC_B_GPIO2>;
			bias-pull-up;
		};
	};

	mmc1_pins_uhs: mmc1-uhs {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO163__FUNC_B1_MSDC1_CMD>,
				 <PINMUX_GPIO165__FUNC_B1_MSDC1_DAT0>,
				 <PINMUX_GPIO166__FUNC_B1_MSDC1_DAT1>,
				 <PINMUX_GPIO167__FUNC_B1_MSDC1_DAT2>,
				 <PINMUX_GPIO168__FUNC_B1_MSDC1_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO164__FUNC_B1_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
	};

	mmc2_pins_default: mmc2default {
		pins-clk {
			pinmux = <PINMUX_GPIO170__FUNC_B1_MSDC2_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO169__FUNC_B1_MSDC2_CMD>,
				 <PINMUX_GPIO171__FUNC_B1_MSDC2_DAT0>,
				 <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>,
				 <PINMUX_GPIO173__FUNC_B1_MSDC2_DAT2>,
				 <PINMUX_GPIO174__FUNC_B1_MSDC2_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_uhs: mmc2uhs {
		pins-clk {
			pinmux = <PINMUX_GPIO170__FUNC_B1_MSDC2_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO169__FUNC_B1_MSDC2_CMD>,
				 <PINMUX_GPIO171__FUNC_B1_MSDC2_DAT0>,
				 <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>,
				 <PINMUX_GPIO173__FUNC_B1_MSDC2_DAT2>,
				 <PINMUX_GPIO174__FUNC_B1_MSDC2_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_eint: dat1-eint {
		pins-dat1 {
			pinmux = <PINMUX_GPIO172__FUNC_B_GPIO172>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_dat1: sdio-dat1 {
		pins-dat1 {
			pinmux = <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mux_smarc_lcd_pin: mux-smarc-lcd-pin {
		pins-reset {
			pinmux = <PINMUX_GPIO5__FUNC_B_GPIO5>;
			bias-pull-down;
		};
	};

	rv3028_pin: rv3028grp {
		pins-irq {
			pinmux = <PINMUX_GPIO42__FUNC_B_GPIO42>; 	/* KPCOL0 */
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
			input-enable;
		};
	};

	spi0_pins: spi0-pins {
		pins-spi {
			pinmux = <PINMUX_GPIO69__FUNC_O_SPIM0_CSB>,
				<PINMUX_GPIO70__FUNC_O_SPIM0_CLK>,
				<PINMUX_GPIO71__FUNC_B0_SPIM0_MOSI>,
				<PINMUX_GPIO72__FUNC_B0_SPIM0_MISO>;
			bias-disable;
		};
	};

	spi1_pins: spi1-pins {
		pins-spi {
			pinmux = <PINMUX_GPIO75__FUNC_O_SPIM1_CSB>,
				<PINMUX_GPIO76__FUNC_O_SPIM1_CLK>,
				<PINMUX_GPIO77__FUNC_B0_SPIM1_MOSI>,
				<PINMUX_GPIO78__FUNC_B0_SPIM1_MISO>;
			bias-disable;
		};
	};

	pcie_pins_default: pcie-default {
		mux {
			pinmux = <PINMUX_GPIO47__FUNC_I1_WAKEN>,
				 <PINMUX_GPIO48__FUNC_O_PERSTN>,
				 <PINMUX_GPIO49__FUNC_B1_CLKREQN>;
			bias-pull-up;
		};
	};

	uart0_pins: uart0-pins {
		pins {
			pinmux = <PINMUX_GPIO31__FUNC_O_UTXD0>,
				 <PINMUX_GPIO32__FUNC_I1_URXD0>;
			bias-pull-up;
		};
	};

	uart1_pins: uart1-pins {
		pins {
			pinmux = <PINMUX_GPIO33__FUNC_O_UTXD1>,
				 <PINMUX_GPIO34__FUNC_I1_URXD1>;
			bias-pull-up;
		};
	};

	uart2_pins: uart2-pins {
		pins {
			pinmux = <PINMUX_GPIO35__FUNC_O_UTXD2>,
				 <PINMUX_GPIO36__FUNC_I1_URXD2>;
			bias-pull-up;
		};
	};

	usbotg_pins: usbotg-pins {
		iddig-pin {
			pinmux = <PINMUX_GPIO83__FUNC_B_GPIO83>;
			input-enable;
			bias-pull-up;
		};

		vbus-pins {
			pinmux = <PINMUX_GPIO84__FUNC_O_USB_DRVVBUS>;
			output-high;
		};

		valid-pin {
			pinmux = <PINMUX_GPIO85__FUNC_I0_VBUSVALID>;
			input-enable;
		};
	};

	usb_hub_reset: usbhubresetgrp {
		reset-pin {
			pinmux = <PINMUX_GPIO147__FUNC_B_GPIO147>;
			output-low;
		};
	};

	usb1_default: usbp1default {
		valid_pin {
			pinmux = <PINMUX_GPIO88__FUNC_I0_VBUSVALID_1P>;
			input-enable;
		};
	};

	usb2_eth_reset: usb2resetdefault {
		reset-pin {
			pinmux = <PINMUX_GPIO80__FUNC_B_GPIO80>;	/* SPIM2_CLK */
			output-low;
		};
	};

	wifi_pwrseq_pin: wifi-pwrseq-pin {
		pins-wifi-enable {
			pinmux = <PINMUX_GPIO89__FUNC_B_GPIO89>;	/* USB2_IDDIG */
			output-low;
		};
	};

	pinctrl_watchdog: watchdoggrp {
		watchdog-pin {
			pinmux = <PINMUX_GPIO100__FUNC_O_WATCHDOG>;	/* PMIC_WATCHDOG */
			bias-pull-up;
		};
	};
};
