menu "Rpmsg drivers"

# RPMSG always gets selected by whoever wants it
config RPMSG
	tristate "RPMSG bus driver"
	select VIRTIO
	select VIRTUALIZATION

config IMX_RPMSG_PINGPONG
	tristate "IMX RPMSG pingpong driver"
	depends on RPMSG

config IMX_RPMSG_TTY
	tristate "IMX RPMSG tty driver"
	depends on RPMSG

endmenu
