#
# Amlogic VOUT_SERVE driver configuation
#

config AMLOGIC_VOUT_SERVE
	bool "Amlogic Vout_Serve Module"
	default n
	help
		Amlogic Video output Server support.
		Provide display mode service for all of the display modules.

config AMLOGIC_VOUT2_SERVE
	bool "Amlogic Vout2_Serve Module"
	default n
	help
		Amlogic Video output2 Server support.
		Provide 2nd display mode service for all of the display modules.

