menuconfig PWM
	bool "PWM Support"
	depends on !MACH_JZ4740 && !PUV3_PWM
	help
	  This enables PWM support through the generic PWM framework.
	  You only need to enable this, if you also want to enable
	  one or more of the PWM drivers below.

	  If unsure, say N.

if PWM

config PWM_IMX
	tristate "i.MX pwm support"
	depends on ARCH_MXC
	help
	  Generic PWM framework driver for i.MX.

	  To compile this driver as a module, choose M here: the module
	  will be called pwm-imx.

endif
