/*
 * Copyright 2013 Boundary Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-nit6xlite.dtsi"

/ {
	model = "Freescale i.MX6 Solo Nit6x-Lite access control Board";
	compatible = "fsl,imx6dl-nit6xlite", "fsl,imx6dl", "fsl,imx6q";
};

&ethphy {
	/delete-property/ reg;
};