/*
 * Copyright (C) 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "imx6q-sabreauto.dts"
#include "imx6qp.dtsi"

&sata {
	status = "okay";
};

&fec {
	pinctrl-assert-gpios = <&max7322 0 GPIO_ACTIVE_HIGH>;
};

&i2c2 {
	max7322: gpio@68 {
		compatible = "maxim,max7322";
		reg = <0x68>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&vgen3_reg {
	regulator-always-on;
};
