/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/include/ "imx6q.dtsi"

/ {
	model = "Freescale i.MX6Q SABRE Smart Device Board";
	compatible = "fsl,imx6q-sabresd", "fsl,imx6q";

	memory {
		reg = <0x10000000 0x40000000>;
	};

	soc {
		pcie@01000000 {
			pwr-gpios = <&gpio3 19 0>;
			rst-gpios = <&gpio7 12 0>;
			status = "okay";
		};

		aips-bus@02000000 { /* AIPS1 */
			spba-bus@02000000 {
				uart1: serial@02020000 {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_uart1_1>;
					status = "okay";
				};
			};

			iomuxc@020e0000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_hog>;

				hog {
					pinctrl_hog: hoggrp {
						fsl,pins = <
							1402 0x80000000	/* MX6Q_PAD_NANDF_D0__GPIO_2_0 */
							1410 0x80000000	/* MX6Q_PAD_NANDF_D1__GPIO_2_1 */
							1418 0x80000000	/* MX6Q_PAD_NANDF_D2__GPIO_2_2 */
							1426 0x80000000	/* MX6Q_PAD_NANDF_D3__GPIO_2_3 */
							184 0x80000000 /* MX6Q_PAD_EIM_D26__GPIO_3_26 */
						>;
					};
				};
			};
		};

		aips-bus@02100000 { /* AIPS2 */
			ethernet@02188000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_enet_1>;
				phy-mode = "rgmii";
				status = "okay";
			};

			usdhc@02194000 { /* uSDHC2 */
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usdhc2_1>;
				cd-gpios = <&gpio2 2 0>;
				wp-gpios = <&gpio2 3 0>;
				status = "okay";
			};

			usdhc@02198000 { /* uSDHC3 */
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usdhc3_1>;
				cd-gpios = <&gpio2 0 0>;
				wp-gpios = <&gpio2 1 0>;
				status = "okay";
			};

			i2c@021a4000 { /* I2C2 */
                                status = "okay";
                                clock-frequency = <100000>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_i2c2_2>;

				max11801@48 {
					compatible = "fsl,max11801";
					reg = <0x48>;
					int_input = <&gpio3 26 1>;
                                };

				pmic: pfuze100@08 {
					compatible = "fsl,pfuze100";
					reg = <0x08>;

					regulators {
						sw1a_reg: pfuze100__sw1a {
							regulator-min-microvolt = <300000>;
							regulator-max-microvolt = <1875000>;
							regulator-standby-microvolt = <18000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw1c_reg: pfuze100__sw1c {
							regulator-min-microvolt = <300000>;
							regulator-max-microvolt = <1875000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw2_reg: pfuze100__sw2 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <3950000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw3a_reg: pfuze100__sw3a {
							regulator-min-microvolt = <400000>;
							regulator-max-microvolt = <1975000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw3b_reg: pfuze100__sw3b {
							regulator-min-microvolt = <400000>;
							regulator-max-microvolt = <1975000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw4_reg: pfuze100__sw4 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <3950000>;
						};

						swbst_reg: pfuze100__swbst {
							regulator-min-microvolt = <5000000>;
							regulator-max-microvolt = <5150000>;
						};

						snvs_reg: pfuze100__vsnvs {
							regulator-min-microvolt = <1200000>;
							regulator-max-microvolt = <3000000>;
							regulator-boot-on;
							regulator-always-on;
						};

						vref_reg: pfuze100__vrefddr {
							regulator-boot-on;
							regulator-always-on;
						};

						vgen1_reg: pfuze100__vgen1 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <1550000>;
						};

						vgen2_reg: pfuze100__vgen2 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <1550000>;
						};

						vgen3_reg: pfuze100__vgen3 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};

						vgen4_reg: pfuze100__vgen4 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};

						vgen5_reg: pfuze100__vgen5 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};

						vgen6_reg: pfuze100__vgen6 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};
					};
				};
			};
		};

		ahci@02200000 { /* AHCI SATA */
			status = "okay";
		};
	};
};
