/*
 * Copyright 2011 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6q.dtsi"

/ {
	model = "Freescale i.MX6 Quad Armadillo2 Board";
	compatible = "fsl,imx6q-arm2", "fsl,imx6q";

	memory {
		reg = <0x10000000 0x80000000>;
	};

	soc {
		gpmi-nand@00112000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_gpmi_nand_1>;
			status = "disabled"; /* gpmi nand conflicts with SD */
		};

		aips-bus@02000000 { /* AIPS1 */
			spba-bus@02000000 {
				spdif: spdif@02004000 {
					compatible = "fsl,fsl-spdif";
					reg = <0x02004000 0x4000>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_spdif_2>;
					fsl,spdif-dma-events = <15 14>;
					clocks = <&clks 198>;
					clock-names = "spdif";
					interrupts = <0 52 0x04>;
					status = "okay";
				};
				esai: esai@02024000 {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_esai_1>;
					status = "okay";
				};
				asrc_p2p: asrc-p2p {
					compatible = "fsl,imx6q-asrc-p2p";
					output-rate = <44100>;
				};
			};

			can@02090000 { /* CAN1 */
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_flexcan1_2>;
				trx-en-gpio = <&gpio7 13 0>;
				trx-stby-gpio = <&gpio7 12 0>;
				status = "okay";
			};

			can@02094000 { /* CAN2 */
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_flexcan2_1>;
				trx-en-gpio = <&gpio5 24 0>;
				trx-stby-gpio = <&max7310_2 1 0>;
				status = "okay";
			};

			iomuxc@020e0000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_hog>;

				hog {
					pinctrl_hog: hoggrp {
						fsl,pins = <
							MX6Q_PAD_EIM_D25__GPIO3_IO25 0x80000000
							MX6Q_PAD_EIM_D31__GPIO3_IO31 0x80000000
							/*  CAN1 STBY */
							MX6Q_PAD_GPIO_17__GPIO7_IO12 0x80000000
							/*  CAN1 EN */
							MX6Q_PAD_GPIO_18__GPIO7_IO13 0x80000000
							/* CAN2 EN */
							MX6Q_PAD_CSI0_DAT6__GPIO5_IO24 0x80000000

						>;
					};
				};

				arm2 {
					pinctrl_usdhc3_arm2: usdhc3grp-arm2 {
						fsl,pins = <
							MX6Q_PAD_NANDF_CS0__GPIO6_IO11 0x80000000
							MX6Q_PAD_NANDF_CS1__GPIO6_IO14 0x80000000
						>;
					};
				};
			};
		};

		aips-bus@02100000 { /* AIPS2 */
			ethernet@02188000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_enet_2>;
				phy-mode = "rgmii";
				status = "okay";
			};

			i2c@021a0000 { /* I2C1 */
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_2>;
				status = "okay";
				codec: cs42888@048 {
					compatible = "fsl,cs42888";
					reg = <0x048>;
					mclk-source = <2>;
					sysclk = <16934400>;
					rates = <0xa40>;
					VA-supply = <&reg_3p3v>;
					VD-supply = <&reg_3p3v>;
					VLS-supply = <&reg_3p3v>;
					VLC-supply = <&reg_3p3v>;
				};
			};

			i2c@021a4000 { /* I2C2 */
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c2_2>;
				status = "okay";

				egalax_ts@04 {
					compatible = "eeti,egalax_ts";
					reg = <0x04>;
					interrupt-parent = <&gpio3>;
					interrupts = <31 2>;
					wakeup-gpios = <&gpio3 31 0>;
				};
			};

			i2c@021a8000 { /* I2C3 */
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c3_3>;
				status = "okay";

				max7310_1: gpio@1f{
					compatible = "maxim,max7310";
					reg = <0x1f>;
					gpio-controller;
					#gpio-cells = <2>;
				};

				max7310_2: gpio@1b{
					compatible = "maxim,max7310";
					reg = <0x1b>;
					gpio-controller;
					#gpio-cells = <2>;
				};

				egalax_ts@04 {
					compatible = "eeti,egalax_ts";
					reg = <0x4>;
					interrupt-parent = <&gpio3>;
					interrupts = <31 2>;
					wakeup-gpios = <&gpio3 31 0>;
				};
			};

			usdhc@02198000 { /* uSDHC3 */
				cd-gpios = <&gpio6 11 0>;
				wp-gpios = <&gpio6 14 0>;
				vmmc-supply = <&reg_3p3v>;
				pinctrl-names = "default", "state_100mhz", "state_200mhz";
				pinctrl-0 = <&pinctrl_usdhc3_1
					     &pinctrl_usdhc3_arm2>;
				pinctrl-1 = <&pinctrl_usdhc3_3
					     &pinctrl_usdhc3_arm2>;
				pinctrl-2 = <&pinctrl_usdhc3_4
					     &pinctrl_usdhc3_arm2>;
				bus-width = <8>;
				keep-power-in-suspend;
				enable-sdio-wakeup;
				status = "okay";
			};

			usdhc@0219c000 { /* uSDHC4 */
				non-removable;
				vmmc-supply = <&reg_3p3v>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usdhc4_1>;
				no-1-8-v;
				bus-width = <8>;
				keep-power-in-suspend;
				enable-sdio-wakeup;
				status = "okay";
			};

			uart2: serial@021e8000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart2_dte>;
				fsl,dte-mode;
				fsl,uart-has-rtscts;
				fsl,uart-dma-events = <27 28>;
				status = "okay";
			};

			uart4: serial@021f0000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart4_1>;
				status = "okay";
			};
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	sound-cs42888 {
		compatible = "fsl,imx6q-arm2-cs42888",
				"fsl,imx-audio-cs42888";
		model = "imx6q-arm2-cs42888";
		esai-controller = <&esai>;
		asrc-controller = <&asrc_p2p>;
		audio-codec = <&codec>;
	};

	leds {
		compatible = "gpio-leds";

		debug-led {
			label = "Heartbeat";
			gpios = <&gpio3 25 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	sound-spdif {
		compatible = "fsl,imx-audio-spdif",
			     "fsl,imx-arm2-spdif";
		model = "imx-spdif";
		spdif-controller = <&spdif>;
		spdif-tx = <1>;		/* 1:enable, 0:disable */
		spdif-rx = <1>;		/* 1:enable, 0:disable */
	};
};
