/*
 * Copyright 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

/ {
	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	soc {
		gpmi-nand@00112000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_gpmi_nand_1>;
			status = "okay";
		};

		aips-bus@02000000 { /* AIPS1 */
			spba-bus@02000000 {
				ssi2: ssi@0202c000 {
					fsl,mode = "i2s-master";
					status = "okay";
				};

				spdif: spdif@02004000 {
					compatible = "fsl,fsl-spdif";
					reg = <0x02004000 0x4000>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_spdif_1>;
					fsl,spdif-dma-events = <15 14>;
					clocks = <&clks 198>;
					clock-names = "spdif";
					interrupts = <0 52 0x04>;
					status = "okay";
			       };

				ecspi@02008000 { /* eCSPI1 */
					fsl,spi-num-chipselects = <1>;
					cs-gpios = <&gpio3 19 0>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_ecspi1_1 &pinctrl_ecspi1_sabreauto>;
					status = "okay"; /* pin conflict with WEIM NOR */

					flash: m25p80@0 {
						#address-cells = <1>;
						#size-cells = <1>;
						compatible = "st,m25p32";
						spi-max-frequency = <20000000>;
						reg = <0>;
					};
				};

				esai: esai@02024000 {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_esai_2>;
					status = "okay";
				};

				asrc_p2p: asrc-p2p {
					compatible = "fsl,imx6q-asrc-p2p";
					output-rate  = <48000>;
					output-width = <16>;
				};
			};

			pwm3: pwm@02088000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_pwm0_1>;
				status = "okay";
			};

			ldb@020e0000 {
				ipu_id = <1>;
				disp_id = <1>;
				ext_ref = <1>;
				mode = "sep0";
				sec_ipu_id = <1>;
				sec_disp_id = <1>;
				status = "okay";
			};
		};

		aips2: aips-bus@02100000 {
			ethernet@02188000 {
				phy-mode = "rgmii";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_enet_2>;
				status = "okay";
			};

			usdhc3: usdhc@02198000 {
				cd-gpios = <&gpio6 15 0>;
				wp-gpios = <&gpio1 13 0>;
				bus-width = <8>;
				pinctrl-names = "default", "state_100mhz", "state_200mhz";
				pinctrl-0 = <&pinctrl_usdhc3_1>;
				pinctrl-1 = <&pinctrl_usdhc3_3>;
				pinctrl-2 = <&pinctrl_usdhc3_4>;
				status = "okay";
			};

			weim: weim@021b8000{
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_weim_nor_1 &pinctrl_weim_cs0_1>;
				#address-cells = <2>;
				#size-cells = <1>;
				ranges = <0 0 0x08000000 0x08000000>;
				status = "okay"; /* pin conflict with SPI NOR */

				nor@0,0 {
					compatible = "cfi-flash";
					reg = <0 0 0x02000000>;
					#address-cells = <1>;
					#size-cells = <1>;
					bank-width = <2>;
					fsl,weim-cs-timing = <0x00620081 0x00000001 0x1c022000
							0x0000c000 0x1404a38e 0x00000000>;

					partition@0 {
						label = "U-Boot";
						reg = <0x0 0x80000>;
					};

					partition@80000 {
						label = "U-Boot-ENV";
						reg = <0x80000 0x20000>;
						read-only;
					};

					partition@a0000 {
						label = "Kernel DTB";
						reg = <0xa0000 0x20000>;
					};

					partition@c0000 {
						label = "Kernel";
						reg = <0xc0000 0x1f40000>;
					};
				};
			};

			uart4: serial@021f0000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart4_1>;
				status = "okay";
			};

			audmux: audmux@021d8000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_audmux_3>;
				status = "okay";
			};

			i2c@021a4000 { /* I2C2 */
                                status = "okay";
                                clock-frequency = <100000>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_i2c2_3>;

				si4763: si4763@63 {
					compatible = "fsl,si4763_i2c";
					reg = <0x63>;
				};

				hdmi_edid@50 {
					compatible = "fsl,imx6-hdmi-i2c";
					reg = <0x50>;
				};

				pmic: pfuze100@08 {
					compatible = "fsl,pfuze100";
					reg = <0x08>;

					regulators {
						sw1a_reg: pfuze100__sw1a {
							regulator-min-microvolt = <300000>;
							regulator-max-microvolt = <1875000>;
							regulator-standby-microvolt = <18000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw1c_reg: pfuze100__sw1c {
							regulator-min-microvolt = <300000>;
							regulator-max-microvolt = <1875000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw2_reg: pfuze100__sw2 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <3950000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw3a_reg: pfuze100__sw3a {
							regulator-min-microvolt = <400000>;
							regulator-max-microvolt = <1975000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw3b_reg: pfuze100__sw3b {
							regulator-min-microvolt = <400000>;
							regulator-max-microvolt = <1975000>;
							regulator-boot-on;
							regulator-always-on;
						};

						sw4_reg: pfuze100__sw4 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <3950000>;
						};

						swbst_reg: pfuze100__swbst {
							regulator-min-microvolt = <5000000>;
							regulator-max-microvolt = <5150000>;
						};

						snvs_reg: pfuze100__vsnvs {
							regulator-min-microvolt = <1200000>;
							regulator-max-microvolt = <3000000>;
							regulator-boot-on;
							regulator-always-on;
						};

						vref_reg: pfuze100__vrefddr {
							regulator-boot-on;
							regulator-always-on;
						};

						vgen1_reg: pfuze100__vgen1 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <1550000>;
						};

						vgen2_reg: pfuze100__vgen2 {
							regulator-min-microvolt = <800000>;
							regulator-max-microvolt = <1550000>;
						};

						vgen3_reg: pfuze100__vgen3 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};

						vgen4_reg: pfuze100__vgen4 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
							regulator-always-on;
						};

						vgen5_reg: pfuze100__vgen5 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
							regulator-always-on;
						};

						vgen6_reg: pfuze100__vgen6 {
							regulator-min-microvolt = <1800000>;
							regulator-max-microvolt = <3300000>;
						};
					};
				};

				codec: cs42888@048 {
					compatible = "fsl,cs42888";
					reg = <0x048>;
					sysclk = <24576000>;
					mclk-source = <1>;
					rates = <0x1480>;
					VA-supply = <&reg_3p3v>;
					VD-supply = <&reg_3p3v>;
					VLS-supply = <&reg_3p3v>;
					VLC-supply = <&reg_3p3v>;
				};
			};
		};

		ipu1: ipu@02400000 { /* IPU1 */
			bypass_reset = <0>;
		};
	};

	sound-spdif {
		compatible = "fsl,imx-audio-spdif",
			     "fsl,imx-sabreauto-spdif";
		model = "imx-spdif";
		spdif-controller = <&spdif>;
		spdif-tx = <0>;		/* 1:enable, 0:disable */
		spdif-rx = <1>;		/* 1:enable, 0:disable */
	};

	sound-fm {
		compatible = "fsl,imx-audio-si4763",
			"fsl,imx-tuner-si4763";
		model = "imx6q-sabreauto-si4763";

		ssi-controller = <&ssi2>;
		mux-int-port = <2>;
		mux-ext-port = <5>;
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-XGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-XGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";
		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	sound-cs42888 {
		compatible = "fsl,imx6-sabreauto-cs42888",
				"fsl,imx-audio-cs42888";
		model = "imx-cs42888";
		esai-controller = <&esai>;
		asrc-controller = <&asrc_p2p>;
		audio-codec = <&codec>;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};
};
