/ {
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		dummy_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "dummy-supply";
		};

		reg_usb_otg_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 0>;
			enable-active-high;
		};
	};

	chosen {
		linux,stdout-path = &uart1;
	};
};

&ecspi3 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 24 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

	flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "sst,sst25vf040b", "m25p80";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	status = "okay";
	phy-mode = "rgmii";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6qdl-dfi-fs700-m60 {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25 0x80000000
				MX6QDL_PAD_GPIO_18__GPIO7_IO13 0x80000000 /* PMIC irq */
				MX6QDL_PAD_EIM_D26__GPIO3_IO26 0x80000000 /* MAX11801 irq */
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05 0x000030b0 /* Backlight enable */
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <MX6QDL_ENET_PINGRP1>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <MX6QDL_I2C2_PINGRP1>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <MX6QDL_UART1_PINGRP1>;
		};

		pinctrl_usbotg: usbotggrp {
			fsl,pins = <MX6QDL_USBOTG_PINGRP2>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6QDL_USDHC2_PINGRP_D4
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02 0x80000000 /* card detect */
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <MX6QDL_USDHC3_PINGRP_D4>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <MX6QDL_USDHC4_PINGRP_D8>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX6QDL_ECSPI3_PINGRP1
				MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24 0x80000000 /* SPI NOR chipselect */
			>;
		};
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&usdhc2 { /* module slot */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	cd-gpios = <&gpio2 2 0>;
	status = "okay";
};

&usdhc3 { /* baseboard slot */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
};

&usdhc4 { /* eMMC */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};
