// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright 2013-2016 Boundary Devices, Inc.
 * Copyright 2011-2015 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_audmux: audmuxgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_DAT0__AUD4_RXD		0x130b0
			MX6QDL_PAD_SD2_DAT3__AUD4_TXC		0x130b0
			MX6QDL_PAD_SD2_DAT2__AUD4_TXD		0x110b0
			MX6QDL_PAD_SD2_DAT1__AUD4_TXFS		0x130b0
		>;
	};

	pinctrl_audmux_tc358743: audmux-tc358743grp {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT13__AUD5_RXFS	0x130b0
			MX6QDL_PAD_DISP0_DAT14__AUD5_RXC	0x130b0
			MX6QDL_PAD_DISP0_DAT19__AUD5_RXD	0x130b0
		>;
	};

	pinctrl_can1: can1grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX	0x1b0b0
			MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX	0x1b0b0
#define GP_CAN1_STANDBY		<&gpio1 2 GPIO_ACTIVE_HIGH>
			/* Flexcan XCVR enable */
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x0b0b0
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x000b1
#define GP_ECSPI1_NOR_CS	<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x0b0b1
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x100b0
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x100b0
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x100b0
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x100b0
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x100b0
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x100b0
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x100b0
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b0b0
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x1b0b0
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b0b0
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b0b0
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b0b0
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x1b0b0
#define GPIRQ_ENET_PHY		<&gpio1 28 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28	0x1b0b0
		>;
	};

	pinctrl_enet_reset: enet-resetgrp {
		fsl,pins = <
#define GP_ENET_PHY_RESET	<&gpio3 23 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D23__GPIO3_IO23		0x030b0
		>;
	};

	pinctrl_gpio_keys: gpio-keysgrp {
		fsl,pins = <
#define GP_GPIOKEY_POWER	<&gpio2 3 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D3__GPIO2_IO03		0x1b0b0
#define GP_GPIOKEY_MENU		<&gpio2 1 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x1b0b0
#define GP_GPIOKEY_HOME		<&gpio2 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D4__GPIO2_IO04		0x1b0b0
#define GP_GPIOKEY_BACK		<&gpio2 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x1b0b0
#define GP_GPIOKEY_VOL_UP	<&gpio7 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x1b0b0
#define GP_GPIOKEY_VOL_DN	<&gpio4 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x1b0b0
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D7__GPIO2_IO07		0x1b0b0		/* Spare */
			MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1b0b0		/* Spare */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_1: i2c1-1grp {
		fsl,pins = <
#define GP_I2C1_SCL	<&gpio3 21 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D21__GPIO3_IO21		0x4001b8b1
#define GP_I2C1_SDA	<&gpio3 28 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x4001b8b1
		>;
	};

	pinctrl_i2c1_sgtl5000: i2c1-sgtl5000grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* sys_mclk */
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c2_1: i2c2-1grp {
		fsl,pins = <
#define GP_I2C2_SCL	<&gpio4 12 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12		0x4001b8b1
#define GP_I2C2_SDA	<&gpio4 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		0x4001b8b1
		>;
	};

	pinctrl_i2c2_ov5640_mipi: i2c2-ov5640-mipigrp {
		fsl,pins = <
#define GP_OV5640_MIPI_POWER_DOWN	<&gpio6 9 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x0b0b0
#define GP_OV5640_MIPI_RESET		<&gpio2 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x000b0
		>;
	};

	pinctrl_i2c2_ov5642: i2c2-ov5642grp { /* parallel camera */
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT12__IPU1_CSI0_DATA12		0x1b0b0
			MX6QDL_PAD_CSI0_DAT13__IPU1_CSI0_DATA13		0x1b0b0
			MX6QDL_PAD_CSI0_DAT14__IPU1_CSI0_DATA14		0x1b0b0
			MX6QDL_PAD_CSI0_DAT15__IPU1_CSI0_DATA15		0x1b0b0
			MX6QDL_PAD_CSI0_DAT16__IPU1_CSI0_DATA16		0x1b0b0
			MX6QDL_PAD_CSI0_DAT17__IPU1_CSI0_DATA17		0x1b0b0
			MX6QDL_PAD_CSI0_DAT18__IPU1_CSI0_DATA18		0x1b0b0
			MX6QDL_PAD_CSI0_DAT19__IPU1_CSI0_DATA19		0x1b0b0
			MX6QDL_PAD_CSI0_DATA_EN__IPU1_CSI0_DATA_EN	0x1b0b0
			MX6QDL_PAD_CSI0_PIXCLK__IPU1_CSI0_PIXCLK	0x1b0b0
			MX6QDL_PAD_CSI0_MCLK__IPU1_CSI0_HSYNC		0x1b0b0
			MX6QDL_PAD_CSI0_VSYNC__IPU1_CSI0_VSYNC		0x1b0b0
			MX6QDL_PAD_GPIO_3__CCM_CLKO2			0x000b0		/* mclk */
#define GP_OV5642_POWER_DOWN	<&gpio1 6 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_6__GPIO1_IO06			0x000b0
#define GP_OV5642_RESET		<&gpio1 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_8__GPIO1_IO08			0x030b0
		>;
	};

	pinctrl_i2c2_tc358743_mipi: i2c2-tc358743_mipigrp {
		fsl,pins = <
#define GP_TC3587_RESET	<&gpio6 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x030b0
#define GP_TC3587_IRQ	<&gpio2 5 GPIO_ACTIVE_HIGH>
#define GPIRQ_TC3587	<&gpio2 5 IRQ_TYPE_LEVEL_HIGH>
			MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x130b0
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL		0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA		0x4001b8b1
#define GPIRQ_I2C3_J7	<&gpio1 9 IRQ_TYPE_EDGE_FALLING>
#define GP_I2C3_J7	<&gpio1 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0		/* I2C3 J7 interrupt */
		>;
	};

	pinctrl_i2c3_1: i2c3-1grp {
		fsl,pins = <
#define GP_I2C3_SCL	<&gpio1 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x4001b8b1
#define GP_I2C3_SDA	<&gpio7 11 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x4001b8b1
		>;
	};

	pinctrl_i2c3_adv7180_gpios: i2c3-adv7180-gpiosgrp {
		fsl,pins = <
			/* No data enable pin, make sure it is not selected */
			MX6QDL_PAD_EIM_DA10__GPIO3_IO10		0x0b0b1
#define GP_ADV7180_PWN		<&gpio3 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13		0x0b0b0
#define GP_ADV7180_RESET	<&gpio3 14 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA14__GPIO3_IO14		0x030b0
#define GPIRQ_ADV7180		<&gpio5 0 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_EIM_WAIT__GPIO5_IO00		0x1b0b0
		>;
	};

	pinctrl_i2c3_adv7180: i2c3-adv7180grp {
		/* parallel camera on CSI1, pins differ for iMX6Q/iMX6DL */
	};

	pinctrl_i2c3_adv7180_cea861: i2c3-adv7180-cea861grp {
		/* parallel camera on CSI1, pins differ for iMX6Q/iMX6DL */
	};

	pinctrl_i2c3_adv7180_no_cea861: i2c3-adv7180-no-cea861grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_DA11__GPIO3_IO11		0xb0b1  /* Hsync */
			MX6QDL_PAD_EIM_DA12__GPIO3_IO12		0xb0b1  /* Vsync */
		>;
	};

	pinctrl_i2c3_gt911: i2c3-gt911grp {
		fsl,pins = <
#define GPIRQ_GT911			<&gpio1 9 IRQ_TYPE_LEVEL_HIGH>
#define GP_GT911_IRQ			<&gpio1 9 GPIO_ACTIVE_HIGH>
/*			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0		*/
#define GP_GT911_RESET		<&gpio2 0 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_D0__GPIO2_IO00		0x030b0
		>;
	};

	pinctrl_i2c3_ov5640: i2c3-ov5640grp {
		/* parallel camera on CSI1, pins differ for iMX6Q/iMX6DL */
	};

	pinctrl_i2c3_ov5640_gpios: i2c3-ov5640-gpiosgrp {
		fsl,pins = <
#define GP_OV5640_POWER_DOWN	<&gpio3 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13		0x0b0b0
#define GP_OV5640_RESET		<&gpio3 14 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA14__GPIO3_IO14		0x030b0
		>;
	};

	pinctrl_i2c3_tsc2004: i2c3-tsc2004grp {
		fsl,pins = <
#define GPIRQ_TSC2004		<&gpio4 20 IRQ_TYPE_EDGE_FALLING>
#define GP_TSC2004		<&gpio4 20 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_DI0_PIN4__GPIO4_IO20		0x1b0b0		/* tsc2004 interrupt */
		>;
	};

	pinctrl_lcd0_rgb: lcd0-rgbgrp {
		fsl,pins = <
			MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK	0x10
			MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15		0x10	/* DRDY */
			MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02		0x10	/* HSYNC */
			MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03		0x10	/* VSYNC */
			MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00	0x10
			MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01	0x10
			MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02	0x10
			MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03	0x10
			MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04	0x10
			MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05	0x10
			MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06	0x10
			MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07	0x10
			MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08	0x10
			MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09	0x10
			MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10	0x10
			MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11	0x10
			MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12	0x10
			MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13	0x10
			MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14	0x10
			MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15	0x10
			MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16	0x10
			MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17	0x10
		>;
	};

	pinctrl_lcd0_rgb24: lcd0-rgb24grp {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18	0x10
			MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19	0x10
			MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20	0x10
			MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21	0x10
			MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22	0x10
			MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23	0x10
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT3__PWM1_OUT		0x1b0b1
		>;
	};

	pinctrl_pwm3: pwm3grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT1__PWM3_OUT		0x1b0b1
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__PWM4_OUT		0x1b0b1
		>;
	};

	pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
		fsl,pins = <
#define GP_REG_USBOTG	<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x030b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
#define GP_USBH1_HUB_RESET	<&gpio7 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x0b0b0
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x1b0b0
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
#define GP_USDHC3_CD	<&gpio7 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x1b0b0
#define GP_USDHC3_WP	<&gpio7 1 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_SD3_DAT4__GPIO7_IO01		0x1b0b0
		>;
	};

	pinctrl_usdhc4: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
#define GP_USDHC4_CD	<&gpio2 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x1b0b0
		>;
	};
};

/ {
	aliases {
		backlight_lcd = &backlight_lcd;
		backlight_lvds = &backlight_lvds;
		fb_hdmi = &fb_hdmi;
		fb_lcd = &fb_lcd;
		fb_lvds = &fb_lvds;
		lcd = &lcd;
		ldb = &ldb;
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
		mxcfb0 = &fb_lvds;
		mxcfb1 = &fb_lcd;
		mxcfb2 = &fb_hdmi;
		pwm_lcd = &pwm1;
		pwm_lvds = &pwm4;
		t_lvds = &t_lvds;
		ts_egalax = &ts_egalax;
		ts_ft5x06 = &ts_ft5x06;
		ts_goodix = &ts_goodix;
		ts_goodix2 = &ts_goodix2;
		ts_ili210x = &ts_ili210x;
		ts_tsc2004 = &ts_tsc2004;
	};

	backlight_lcd: backlight-lcd {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&fb_lcd>;
		power-supply = <&reg_3p3v>;
		pwms = <&pwm1 0 5000000 0>;
		status = "okay";
	};

	backlight_lvds: backlight-lvds {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&fb_lvds>;
		power-supply = <&reg_3p3v>;
		pwms = <&pwm4 0 5000000 0>;
		status = "okay";
	};

	chosen {
		stdout-path = &uart2;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};

		clk28_6363m: clk28_6363m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <28636300>;
		};
	};

	fb_lvds: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	fb_lcd: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	fb_hdmi: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1280x720M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		back {
			label = "Back";
			gpios = GP_GPIOKEY_BACK;
			linux,code = <KEY_BACK>;
		};

		home {
			label = "Home";
			gpios = GP_GPIOKEY_HOME;
			linux,code = <KEY_HOMEPAGE>;
		};

		menu {
			label = "Menu";
			gpios = GP_GPIOKEY_MENU;
			linux,code = <KEY_MENU>;
		};

		power {
			label = "Power Button";
			gpios = GP_GPIOKEY_POWER;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};

		volume-down {
			label = "Volume Down";
			gpios = GP_GPIOKEY_VOL_DN;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volume-up {
			label = "Volume Up";
			gpios = GP_GPIOKEY_VOL_UP;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	lcd: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB666";
		pinctrl-names = "default", "rgb24";
		pinctrl-0 = <&pinctrl_lcd0_rgb>;
		pinctrl-1 = <&pinctrl_lcd0_rgb &pinctrl_lcd0_rgb24>;
		status = "okay";
	};

	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x40000000>;
	};

	mipi_xclk: mipi-xclk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <22000000>;
		clock-output-names = "mipi_pwm3";
		pwms = <&pwm3 0 45 0>; /* 1 / 45 ns = 22 MHz */
	};

	reg_1p8v: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_2p5v: regulator-2v5 {
		compatible = "regulator-fixed";
		regulator-name = "2P5V";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
	};

	reg_3p3v: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
		regulator-name = "usb_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = GP_REG_USBOTG;
		enable-active-high;
	};

	sound {
		compatible = "fsl,imx6q-sabrelite-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "sgtl5000-audio";
		ssi-controller = <&ssi1>;
		audio-codec = <&sgtl5000>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <4>;
	};

	sound-hdmi {
		compatible = "fsl,imx6qdl-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	sound-hdmi-input {
		compatible = "fsl,imx-audio-tc358743";
		ssi-controller = <&ssi2>;
		model = "imx-audio-tc358743";
		mux-int-port = <2>;
		mux-ext-port = <5>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_audmux_tc358743>;
		status = "disabled";
	};

#if 0
	lcd_display: disp0 {
		compatible = "fsl,imx-parallel-display";
		#address-cells = <1>;
		#size-cells = <0>;
		interface-pix-fmt = "bgr666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_j15>;

		port@0 {
			reg = <0>;

			lcd_display_in: endpoint {
				remote-endpoint = <&ipu1_di0_disp0>;
			};
		};

		port@1 {
			reg = <1>;

			lcd_display_out: endpoint {
				remote-endpoint = <&lcd_panel_in>;
			};
		};
	};

	panel-lcd {
		compatible = "okaya,rs800480t-7x0gp";
		backlight = <&backlight_lcd>;

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&lcd_display_out>;
			};
		};
	};

	panel-lvds0 {
		compatible = "hannstar,hsd100pxn1";
		backlight = <&backlight_lvds>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
	};
#endif

	v4l2_cap_0: v4l2-cap-0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1: v4l2-cap-1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2: v4l2-cap-2 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_3: v4l2-cap-3 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2-out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&ipu1_csi0_from_ipu1_csi0_mux {
	bus-width = <8>;
	data-shift = <12>; /* Lines 19:12 used */
	hsync-active = <1>;
	vync-active = <1>;
};

&ipu1_csi0_mux_from_parallel_sensor {
	remote-endpoint = <&ov5642_to_ipu1_csi0_mux>;
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
	trx-stby-gpio = GP_CAN1_STANDBY;
	status = "okay";
};

&ecspi1 {
	cs-gpios = GP_ECSPI1_NOR_CS;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash: flash@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "bootloader";
			reg = <0x0 0xc0000>;
		};

		partition@c0000 {
			label = "env";
			reg = <0xc0000 0x2000>;
		};

		partition@c2000 {
			label = "splash";
			reg = <0xc2000 0x13e000>;
		};
	};
};

&fec {
	phy-handle = <&ethphy>;
	phy-mode = "rgmii-id";
#if 0
	phy-reset-gpios = GP_ENET_PHY_RESET;
#endif
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>, <&pinctrl_enet_reset>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy: ethernet-phy {
			compatible = "ethernet-phy-ieee802.3-c22";
			interrupts-extended = GPIRQ_ENET_PHY;
			rxc-skew-ps = <3000>;
			rxd0-skew-ps = <0>;
			rxd1-skew-ps = <0>;
			rxd2-skew-ps = <0>;
			rxd3-skew-ps = <0>;
			rxdv-skew-ps = <0>;
			txc-skew-ps = <3000>;
			txd0-skew-ps = <0>;
			txd1-skew-ps = <0>;
			txd2-skew-ps = <0>;
			txd3-skew-ps = <0>;
			txen-skew-ps = <0>;
		};
	};
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_1>;
	scl-gpios = GP_I2C1_SCL;
	sda-gpios = GP_I2C1_SDA;
	status = "okay";

	sgtl5000: codec@a {
		compatible = "fsl,sgtl5000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c1_sgtl5000>;
		reg = <0x0a>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_1>;
	scl-gpios = GP_I2C2_SCL;
	sda-gpios = GP_I2C2_SDA;
	status = "okay";

	edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

	ov5642: camera@3d {
		AVDD-supply = <&reg_2p5v>;
		DOVDD-supply = <&reg_1p8v>;
		DVDD-supply = <&reg_1p8v>;
		clocks = <&clks IMX6QDL_CLK_CKO2>;
		clock-names = "xclk";
		compatible = "ovti,ov5642";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_ov5642>;
		powerdown-gpios = GP_OV5642_POWER_DOWN;
		reg = <0x3d>;
		reset-gpios = GP_OV5642_RESET;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;

		port {
			ov5642_to_ipu1_csi0_mux: endpoint {
				remote-endpoint = <&ipu1_csi0_mux_from_parallel_sensor>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};

	ov5640_mipi: ov5640-mipi@3e {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3e>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_ov5640_mipi>;
		clocks = <&mipi_xclk>;
		clock-names = "xclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		powerdown-gpios = GP_OV5640_MIPI_POWER_DOWN;
		reset-gpios = GP_OV5640_MIPI_RESET;
		ipu_id = <0>;
		csi_id = <1>;
		mclk = <22000000>;
		mclk_source = <0>;
	};

	tc358743_mipi: tc358743-mipi@f {
		compatible = "tc358743_mipi";
		reg = <0x0f>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_tc358743_mipi>;
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		rst-gpios = GP_TC3587_RESET;
		irq-gpios = GP_TC3587_IRQ;
		interrupts-extended = GPIRQ_TC3587;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <27000000>;
		mclk_source = <0>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_1>;
	scl-gpios = GP_I2C3_SCL;
	sda-gpios = GP_I2C3_SDA;
	status = "okay";

	adv7180: adv7180@20 {
		clocks = <&clk28_6363m 0>;
		clock-names = "csi_mclk";
		compatible = "adv,adv7180";
		reg = <0x20>;
		pinctrl-names = "default", "no_cea861", "cea861";
		pinctrl-0 = <&pinctrl_i2c3_adv7180 &pinctrl_i2c3_adv7180_gpios>;
		pinctrl-1 = <&pinctrl_i2c3_adv7180_no_cea861>;
		pinctrl-2 = <&pinctrl_i2c3_adv7180_cea861>;
		cea861 = <0>;
		DOVDD-supply = <&reg_3p3v>; /* 3.3v, enabled via 2.8 VGEN6 */
		AVDD-supply = <&reg_3p3v>;  /* 1.8v */
		DVDD-supply = <&reg_3p3v>;  /* 1.8v */
		PVDD-supply = <&reg_3p3v>;  /* 1.8v */
		rst-gpios = GP_ADV7180_RESET;
		pwn-gpios = GP_ADV7180_PWN;
		interrupts-extended = GPIRQ_ADV7180;
		csi_id = <1>;
		mclk = <28636300>;
		mclk_source = <0>;
		cvbs = <1>;
	};

	ov5640: camera@3c {
		AVDD-supply = <&reg_2p5v>;
		DOVDD-supply = <&reg_1p8v>;
		DVDD-supply = <&reg_1p8v>;
		compatible = "ov5640_int";	/* "ovti,ov5640" */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ov5640 &pinctrl_i2c3_ov5640_gpios>;
		reg = <0x3c>;
		clocks = <&clk24m 0>;
		clock-names = "xclk";
		powerdown-gpios = GP_OV5640_POWER_DOWN;
		reset-gpios = GP_OV5640_RESET;
		csi_id = <1>;
		mclk = <24000000>;
		mclk_source = <0>;

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			ov5640_to_mipi_csi2: endpoint {
				remote-endpoint = <&mipi_csi2_in>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	ts_egalax: touchscreen@4 {
		compatible = "eeti,egalax_ts";
		interrupts-extended = GPIRQ_I2C3_J7;
		reg = <0x04>;
		status = "disabled";
		wakeup-gpios = GP_I2C3_J7;
	};

	ts_ft5x06: touchscreen@38 {
		compatible = "edt,ft5x06-ts";
		interrupts-extended = GPIRQ_I2C3_J7;
		reg = <0x38>;
		status = "disabled";
		wakeup-gpios = GP_I2C3_J7;
		wakeup-source;
	};

	ts_goodix: touchscreen@14 {
		compatible = "goodix,gt911";
		esd-recovery-timeout-ms = <2000>;
		interrupts-extended = GPIRQ_GT911;
		irq-gpios = GP_GT911_IRQ;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_gt911>;
		reg = <0x14>;
		reset-gpios = GP_GT911_RESET;
		status = "disabled";
	};

	ts_goodix2: touchscreen@5d {
		compatible = "goodix,gt911";
		esd-recovery-timeout-ms = <2000>;
		interrupts-extended = GPIRQ_GT911;
		irq-gpios = GP_GT911_IRQ;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_gt911>;
		reg = <0x5d>;
		reset-gpios = GP_GT911_RESET;
		status = "disabled";
	};

	ts_ili210x: touchscreen@41 {
		compatible = "ili210x";
		interrupts-extended = GPIRQ_I2C3_J7;
		reg = <0x41>;
		status = "disabled";
		wakeup-gpios = GP_I2C3_J7;
	};

	ts_tsc2004: touchscreen@48 {
		compatible = "tsc2004,tsc2004";
		interrupts-extended = GPIRQ_TSC2004;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_tsc2004>;
		reg = <0x48>;
		status = "disabled";
		wakeup-gpios = GP_TSC2004;
	};
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";
		primary;

		display-timings {
			t_lvds: t-lvds-default {
				/* lg1280x800 values may be changed in bootscript */
				clock-frequency = <72000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <48>;
				hfront-porch = <80>;
				vback-porch = <15>;
				vfront-porch = <2>;
				hsync-len = <32>;
				vsync-len = <6>;
			};
		};
	};
};

&mipi_csi {
	lanes = <2>;
	status = "okay";

	port@0 {
		reg = <0>;

		mipi_csi2_in: endpoint {
			remote-endpoint = <&ov5640_to_mipi_csi2>;
			clock-lanes = <0>;
			data-lanes = <1 2>;
		};
	};
};

&pcie {
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	disable-over-current;
	reset-gpios = GP_USBH1_HUB_RESET;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	cd-gpios = GP_USDHC3_CD;
	wp-gpios = GP_USDHC3_WP;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	cd-gpios = GP_USDHC4_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};
