/*
 * Copyright 2013 Boundary Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	iomuxc_imx6q_mtp: iomuxc-imx6q-mtpgrp {
		status = "okay";
	};
};

&iomuxc_imx6q_mtp {
	pinctrl_bt_rfkill: bt-rfkillgrp {
		fsl,pins = <
#define GP_BT_RFKILL_RESET		<&gpio6 16 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x000b0
			MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x1b0b0		/* wl1271 btfunc5 */
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
#define GP_ECSPI1_NOR_CS		<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x000b1	/* CS */
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x1b0b0		/* Pic GPIO2 */
			MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x1b0b0		/* Pic GPIO1 */
			MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x1b0b0		/* Pic IRQ */
			MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x1b0b0		/* Pic GPIO148 */
			MX6QDL_PAD_KEY_ROW2__GPIO4_IO11		0x1b0b0		/* Pic GPIO149 */
			MX6QDL_PAD_EIM_A16__GPIO2_IO22		0x1b0b0		/* BT_DC */
			MX6QDL_PAD_EIM_A17__GPIO2_IO21		0x1b0b0		/* BT_DD */
			MX6QDL_PAD_EIM_A18__GPIO2_IO20		0x1b0b0		/* BT_RESET */
			MX6QDL_PAD_EIM_A19__GPIO2_IO19		0x1b0b0		/* BT_CPU_GPIO */
			MX6QDL_PAD_EIM_A25__GPIO5_IO02		0x1b0b0		/* Gyro Irq - MPU9250, on I2C3 */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_rv4162: i2c1-rv4162grp {
		fsl,pins = <
#define GPIRQ_RTC_RV4162	<&gpio4 9 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x1b0b0
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL  0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA 0x4001b8b1
		>;
	};

	pinctrl_pcie: pciegrp {
		fsl,pins = <
#define GP_PCIE_RESET		<&gpio2 18 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A20__GPIO2_IO18		0x030b0
#define GP_PCIE_RESET2		<&gpio7 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x030b0
#define GP_PCIE_PON_RESET	<&gpio1 3 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_3__GPIO1_IO03		0x030b0
#define GP_PCIE_WAKE		<&gpio1 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x030b0
		>;
	};

	pinctrl_reg_usbotg_vbus: usb_otg_vbusgrp {
		fsl,pins = <
			/* power enable, high active */
#define GP_REG_USBOTG		<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22  0x000b0
		>;
	};

	pinctrl_reg_wlan_en: reg-wlan-engrp {
		fsl,pins = <
#define GP_REG_WLAN_EN	<&gpio6 15 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x030b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D23__UART3_CTS_B		0x1b0b1
			MX6QDL_PAD_EIM_D31__UART3_RTS_B		0x1b0b1
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D30__USB_H1_OC	0x1b0b0
		>;
	};

	pinctrl_usbh2_idle: usbh2_idlegrp {
		fsl,pins = <
			MX6QDL_PAD_RGMII_TX_CTL__USB_H2_STROBE	0x40013038
			MX6QDL_PAD_RGMII_TXC__USB_H2_DATA	0x40013038
#define GP_USBH2_HUB_RESET	<&gpio7 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x0b0b0		/* USB Hub Reset */
		>;
	};

	pinctrl_usbh2_active: usbh2_activegrp {
		fsl,pins = <
			MX6QDL_PAD_RGMII_TX_CTL__USB_H2_STROBE	0x40017038
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID	0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC	0x1b0b0
		>;
	};

	pinctrl_usdhc2_50mhz: usdhc2-50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CLK__SD2_CLK		0x10031
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x17031
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17031
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17031
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17031
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17031
			MX6QDL_PAD_SD1_CLK__OSC32K_32K_OUT	0x000b0		/* TiWi slow clock */
#define GPIRQ_WL1271	<&gpio6 14 IRQ_TYPE_LEVEL_HIGH>
			MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x100b0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x170B9
			MX6QDL_PAD_SD2_CLK__SD2_CLK		0x100B9
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x170B9
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1 		0x170B9
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2 		0x170B9
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3 		0x170B9
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x170F9
			MX6QDL_PAD_SD2_CLK__SD2_CLK 		0x100F9
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x170F9
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1 		0x170F9
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2 		0x170F9
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3 		0x170F9
		>;
	};

	pinctrl_usdhc3_50mhz: usdhc3_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
#define GP_SD3_CD		<&gpio7 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00 0x1b0b0	/* CD */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3_100mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x170b9
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x100b9
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x170b9
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x170b9
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x170b9
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x170b9
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3_200mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x170f9
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x100f9
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x170f9
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x170f9
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x170f9
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x170f9
		>;
	};

	pinctrl_usdhc4_50mhz: usdhc4_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
#define GP_EMMC_RESET	<&gpio6 11 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_CS0__GPIO6_IO11 0x1b0b0
		>;
	};

	pinctrl_usdhc4_100mhz: usdhc4_100mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x170b9
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x100b9
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x170b9
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x170b9
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x170b9
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x170b9
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x170b9
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x170b9
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x170b9
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x170b9
		>;
	};

	pinctrl_usdhc4_200mhz: usdhc4_200mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x170f9
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x100f9
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x170f9
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x170f9
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x170f9
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x170f9
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x170f9
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x170f9
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x170f9
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x170f9
		>;
	};
};

/ {
	aliases {
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
	};

	bt_rfkill: bt_rfkill {
		compatible = "net,rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		name = "bt_rfkill";
		type = <2>;     /* bluetooth */
		reset-gpios = GP_BT_RFKILL_RESET;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usbotg_vbus: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_USBOTG;
			enable-active-high;
		};

		reg_wlan_en: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_wlan_en>;
			regulator-name = "wlan-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = GP_REG_WLAN_EN;
			startup-delay-us = <70000>;
			enable-active-high;
		};
	};
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = GP_ECSPI1_NOR_CS;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};


&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	rv4162@68 {
		compatible = "mcrystal,rv4162";
		reg = <0x68>;
		interrupts-extended = GPIRQ_RTC_RV4162;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c1_rv4162>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&i2c3 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c3>;
        status = "okay";
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = GP_PCIE_PON_RESET,GP_PCIE_RESET,GP_PCIE_RESET2;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

/* TiWi(wl1271) bluetooth */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	status = "okay";
};

&usbh2 {
	pinctrl-names = "idle", "active";
	pinctrl-0 = <&pinctrl_usbh2_idle>;
	pinctrl-1 = <&pinctrl_usbh2_active>;
	reset-gpios = GP_USBH2_HUB_RESET;
	osc-clkgate-delay = <0x3>;
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	vbus-supply = <&reg_usbotg_vbus>;
	disable-over-current;
	status = "okay";
};

&usdhc2 {	/* uSDHC2, silex/TiWi wl1271 */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	bus-width = <4>;
	non-removable;
	vmmc-supply = <&reg_wlan_en>;
	vqmmc-1-8-v;
	cap-power-off-card;
	keep-power-in-suspend;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
		compatible = "ti,wl1271";
		interrupts-extended = GPIRQ_WL1271;
		reg = <2>;
		ref-clock-frequency = <38400000>;
	};
};

/* Micro SD */
&usdhc3 {
#if 0
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
#else
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_50mhz>;
#endif
	cd-gpios = GP_SD3_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

/* eMMC */
&usdhc4 {
#if 0
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc4_50mhz>;
	pinctrl-1 = <&pinctrl_usdhc4_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc4_200mhz>;
#else
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_50mhz>;
#endif
	bus-width = <8>;
	non-removable;
	vmmc-supply = <&reg_3p3v>;
	keep-power-in-suspend;
	status = "okay";
};
