/*
 * Copyright 2015 Boundary Devices, Inc.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

        iomuxc_imx6q_cob2: iomuxc-imx6q-cob2grp {
                status = "okay";
        };
};

&iomuxc_imx6q_cob2 {
	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
#define GP_ECSPI1_NOR_CS	<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x000b1
		>;
	};

	pinctrl_ecspi5: ecspi5grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT0__ECSPI5_MISO	0x100b1
			MX6QDL_PAD_SD1_CMD__ECSPI5_MOSI		0x100b1
			MX6QDL_PAD_SD1_CLK__ECSPI5_SCLK		0x100b1
#define GP_ECSPI5_CS0		<&gpio5 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A25__GPIO5_IO02		0x000b1
#define GP_ECSPI5_CS1		<&gpio5 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A24__GPIO5_IO04		0x000b1
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x100b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC		0x100b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x10030
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x10030
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x10030
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x10030
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x10030
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x10030
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x100b0
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b030
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x1b030
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b030
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b030
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b030
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x1b030
#define GP_ENET_PHY_RESET	<&gpio1 27 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_ENET_RXD0__GPIO1_IO27	0x030b0
#define GPIRQ_ENET_PHY		<&gpio1 28 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28	0x1b0b0
#define GPIRQ_ENET		<&gpio1 6 IRQ_TYPE_LEVEL_HIGH>
			MX6QDL_PAD_GPIO_6__ENET_IRQ		0x000b1
		>;
	};

	pinctrl_gpio_keys: gpio-keysgrp {
		fsl,pins = <
#define GP_GPIOKEYS_MENU	<&gpio1 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x1b0b0
#define GP_GPIOKEYS_HOME	<&gpio1 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1b0b0
#define GP_GPIOKEYS_PB1_I	<&gpio1 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_8__GPIO1_IO08		0x1b0b0
#define GP_GPIOKEYS_PB2_I	<&gpio7 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x1b0b0
#define GP_GPIOKEYS_SW2		<&gpio3 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA9__GPIO3_IO09		0x1b0b0
#define GP_GPIOKEYS_A		<&gpio3 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA12__GPIO3_IO12		0x1b0b0
#define GP_GPIOKEYS_B		<&gpio3 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13		0x1b0b0
#define GP_GPIOKEYS_EXP_RDY	<&gpio3 14 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA14__GPIO3_IO14		0x1b0b0
#define GP_GPIOKEYS_DAY_BL_OPEN	<&gpio7 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x1b0b0
#define GP_GPIOKEYS_DAY_BL_SHORT <&gpio4 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x1b0b0
#define GP_GPIOKEYS_NIGHT_BL_OPEN <&gpio4 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x1b0b0
#define GP_GPIOKEYS_NIGHT_BL_SHORT <&gpio1 3 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_3__GPIO1_IO03		0x1b0b0
		>;
	};

	pinctrl_gpio_leds: gpio-ledsgrp {
		fsl,pins = <
#define GP_GPIOLEDS_1		<&gpio2 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A19__GPIO2_IO19		0x0b0b0
#define GP_GPIOLEDS_2		<&gpio2 18 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A20__GPIO2_IO18		0x0b0b0
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
#define GP_HEATER_EN		<&gpio4 10 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x0b0b0
#define GP_LCD_DAY_BACKLIGHT_EN	<&gpio4 15 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x0b0b0
#define GP_LCD_NIGHT_BACKLIGHT_EN <&gpio4 11 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW2__GPIO4_IO11		0x0b0b0
#define GP_EXPAN_EN		<&gpio3 15 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA15__GPIO3_IO15	0x030b0

#define GP_TX			<&gpio2 30 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x1b0b0
#define GP_RX			<&gpio2 31 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_EB3__GPIO2_IO31		0x1b0b0

#define GP_HEATER_FAULT		<&gpio5 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_WAIT__GPIO5_IO00		0x1b0b0

#define GP_DA1_OUTA		<&gpio3 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA0__GPIO3_IO00		0x1b0b0
#define GP_DA1_OUTB		<&gpio3 1 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA1__GPIO3_IO01		0x1b0b0
#define GP_DB1_OUTA		<&gpio3 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA2__GPIO3_IO02		0x1b0b0
#define GP_DB1_OUTB		<&gpio3 3 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA3__GPIO3_IO03		0x1b0b0
#define GP_DA2_OUTA		<&gpio3 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA4__GPIO3_IO04		0x1b0b0
#define GP_DA2_OUTB		<&gpio3 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA5__GPIO3_IO05		0x1b0b0
#define GP_DB2_OUTA		<&gpio3 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA6__GPIO3_IO06		0x1b0b0
#define GP_DB2_OUTB		<&gpio3 7 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA7__GPIO3_IO07		0x1b0b0
#define GP_DIS_FPGA_RESET	<&gpio1 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_4__GPIO1_IO04	0x130b0
#define GP_I2C_DIG_SEL		<&gpio4 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x1b0b0
#define GP_FPGA_READY		<&gpio4 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x1b0b0

#define GP_HOG_TP71		<&gpio1 30 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_ENET_TXD0__GPIO1_IO30	0x1b0b0
#define GP_HOG_TP74		<&gpio2 7 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D7__GPIO2_IO07		0x130b0
#define GP_HOG_TP78		<&gpio1 7 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_7__GPIO1_IO07		0x1b0b0
#define GP_TP79			<&gpio7 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT2__GPIO7_IO06		0x1b0b0
#define GP_TP80			<&gpio5 29 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29	0x1b0b0
#define GP_TP81			<&gpio7 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x1b0b0
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_1: i2c1_1grp {
		fsl,pins = <
#define GP_I2C1_SCL	<&gpio3 21 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D21__GPIO3_IO21		0x4001b8b1
#define GP_I2C1_SDA	<&gpio3 28 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c2_1: i2c2_1grp {
		fsl,pins = <
#define GP_I2C2_SCL	<&gpio4 12 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12		0x4001b8b1
#define GP_I2C2_SDA	<&gpio4 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		0x4001b8b1
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL		0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c3_1: i2c3_1grp {
		fsl,pins = <
#define GP_I2C3_SCL	<&gpio1 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x4001b8b1
#define GP_I2C3_SDA	<&gpio7 11 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x4001b8b1
		>;
	};

	pinctrl_i2c3_crtouch: i2c3-crtouchgrp {
		fsl,pins = <
#define GPIRQ_I2C3_CRTOUCH	<&gpio1 9 IRQ_TYPE_EDGE_FALLING>
#define GP_I2C3_CRTOUCH		<&gpio1 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0

#define GP_I2C3_CRTOUCH_WAKE	<&gpio2 27 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27		0x1b0b0
#define GP_I2C3_CRTOUCH_RESET	<&gpio2 26 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_RW__GPIO2_IO26		0x130b0

		>;
	};

	pinctrl_lcd0: lcd0grp {
		fsl,pins = <
			MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK	0x10
			MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02		0x10
			MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03		0x10
			MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15		0x10
			MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00	0x10
			MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01	0x10
			MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02	0x10
			MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03	0x10
			MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04	0x10
			MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05	0x10
			MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06	0x10
			MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07	0x10
			MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08	0x10
			MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09	0x10
			MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10	0x10
			MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11	0x10
			MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12	0x10
			MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13	0x10
			MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14	0x10
			MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15	0x10
			MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16	0x10
			MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17	0x10
			MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18	0x10
			MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19	0x10
			MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20	0x10
			MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21	0x10
			MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22	0x10
			MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23	0x10
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT3__PWM1_OUT		0x030b0
		>;
	};

	pinctrl_pwm2: pwm2grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT2__PWM2_OUT		0x030b0
		>;
	};

	pinctrl_pwm3: pwm3grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT1__PWM3_OUT		0x030b0
		>;
	};

	pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
		fsl,pins = <
#define GP_REG_USBOTG		<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x030b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT0__UART1_CTS_B	0x1b0b1
			MX6QDL_PAD_SD3_DAT1__UART1_RTS_B	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT4__GPIO7_IO01		0x100b0
		>;
	};

	pinctrl_uart2_j57: uart2-j57grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT4__UART2_RX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__GPIO3_IO27		0x100b0
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT3__UART3_CTS_B	0x1b0b1
			MX6QDL_PAD_SD3_RST__UART3_RTS_B		0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
			MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	0x0b0b1
			MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
#define GP_USBH1_SOURCE		<&gpio2 28 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_EB0__GPIO2_IO28		0x030b0
#define GP_USBH1_FP_OC		<&gpio4 7 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x1b0b0
			MX6QDL_PAD_EIM_D30__USB_H1_OC		0x1b0b0
#define GP_USBH1_HUB_RESET      <&gpio2 29 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_EB1__GPIO2_IO29	0x130b0
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x17059
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CLK__SD2_CLK		0x10071
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x17071
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17071
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17071
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17071
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17071
		>;
	};

	pinctrl_usdhc4: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
#define GP_EMMC_RESET		<&gpio2 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x0b0b0
		>;
	};
};

/ {
	aliases {
		backlight_lcd = &backlight_lcd_day;
		fb_lcd = &fb_lcd;
		lcd = &lcd;
		mmc0 = &usdhc4;
		mxcfb0 = &fb_lcd;
		pwm_lcd = &pwm1;
	};

	backlight_lcd_day: backlight_lcd_day {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <5>;
		display = <&fb_lcd>;
		pwms = <&pwm1 0 3333333>;
	};

	backlight_lcd_night {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <0>;
		display = <&fb_lcd>;
		pwms = <&pwm2 0 3333333>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		menu {
			gpios = GP_GPIOKEYS_MENU;
			label = "Menu";
			linux,code = <KEY_MENU>;
		};

		home {
			gpios = GP_GPIOKEYS_HOME;
			label = "Home";
			linux,code = <KEY_HOMEPAGE>;
		};

		pb1 {
			gpios = GP_GPIOKEYS_PB1_I;
			label = "PB1_I";
			linux,code = <KEY_VOLUMEUP>;
		};

		pb2 {
			gpios = GP_GPIOKEYS_PB2_I;
			label = "PB2_I";
			linux,code = <KEY_VOLUMEDOWN>;
		};

		sw2 {
			gpios = GP_GPIOKEYS_SW2;
			label = "sw2";
			linux,code = <KEY_FN_F2>;
		};

		a {
			gpios = GP_GPIOKEYS_A;
			label = "a";
			linux,code = <KEY_FN_F3>;
		};

		b {
			gpios = GP_GPIOKEYS_B;
			label = "b";
			linux,code = <KEY_FN_F4>;
		};

		exp_rdy {
			gpios = GP_GPIOKEYS_EXP_RDY;
			label = "exp_rdy";
			linux,code = <KEY_FN_F5>;
		};

		day_bl_open {
			gpios = GP_GPIOKEYS_DAY_BL_OPEN;
			label = "day_bl_open";
			linux,code = <KEY_FN_F6>;
		};

		day_bl_short {
			gpios = GP_GPIOKEYS_DAY_BL_SHORT;
			label = "day_bl_short";
			linux,code = <KEY_FN_F7>;
		};

		night_bl_open {
			gpios = GP_GPIOKEYS_NIGHT_BL_OPEN;
			label = "night_bl_open";
			linux,code = <KEY_FN_F8>;
		};

		night_bl_short {
			gpios = GP_GPIOKEYS_NIGHT_BL_SHORT;
			label = "night_bl_short";
			linux,code = <KEY_FN_F9>;
		};
	};

	gpio_leds: leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		led1 {
			default-state = "off";
			gpios = GP_GPIOLEDS_1;
			retain-state-suspended;
		};
		led2 {
			default-state = "off";
			gpios = GP_GPIOLEDS_2;
			retain-state-suspended;
		};
	};

	fb_lcd: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		default_bpp = <16>;
		disp_dev = "lcd";
		int_clk = <0>;
		interface_pix_fmt = "RGB24";
		late_init = <0>;
		mode_str ="DC050WX";
		status = "disabled";
	};

	lcd: lcd@0 {
		compatible = "fsl,lcd";
		default_ifmt = "RGB24";
		disp_id = <0>;
		ipu_id = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd0>;
		status = "okay";
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "1P8V";
	};

	reg_2p5v: regulator-2p5v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <2500000>;
		regulator-min-microvolt = <2500000>;
		regulator-name = "2P5V";
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "3P3V";
	};

	reg_usbotg_vbus: regulator-usbotg {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = GP_REG_USBOTG;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "usb_otg_vbus";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&ecspi1 {
	cs-gpios = GP_ECSPI1_NOR_CS;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		reg = <0>;
		spi-max-frequency = <20000000>;

		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&ecspi5 {
	cs-gpios = GP_ECSPI5_CS0, GP_ECSPI5_CS1;
	fsl,spi-num-chipselects = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi5>;
	status = "okay";

};

&fec {
	interrupts-extended = GPIRQ_ENET,
			      <&gpc 0 119 IRQ_TYPE_LEVEL_HIGH>;
	phy-handle = <&ethphy>;
	phy-mode = "rgmii";
#if 0
	phy-reset-gpios = GP_ENET_PHY_RESET;
#endif
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	status = "okay";

	mdio {
		#address-cells = <0>;
		#size-cells = <1>;

		ethphy: ethernet-phy@4 {
			reg = <4>;
			interrupts-extended = GPIRQ_ENET_PHY;
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_1>;
	scl-gpios = GP_I2C1_SCL;
	sda-gpios = GP_I2C1_SDA;
	status = "okay";
};


&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_1>;
	scl-gpios = GP_I2C2_SCL;
	sda-gpios = GP_I2C2_SDA;
	status = "okay";

	ads1000@49 {
		compatible = "ti,ads1000";
		reg = <0x49>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_1>;
	scl-gpios = GP_I2C3_SCL;
	sda-gpios = GP_I2C3_SDA;
	status = "okay";

        crtouch@49 {
		compatible = "crtouch";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_crtouch>;
		reg = <0x49>;
#if 0
		interrupts-extended = GPIRQ_I2C3_CRTOUCH;
		wakeup-gpios = GP_I2C3_CRTOUCH;
#endif
		reset-gpios = GP_I2C3_CRTOUCH_RESET;
		wake-gpios = GP_I2C3_CRTOUCH_WAKE;
	};
};

&pcie {
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default", "alt1";
	pinctrl-0 = <&pinctrl_uart2>;
	pinctrl-1 = <&pinctrl_uart2_j57>;
	status = "okay";
};

&uart3 {
	fsl,uart-has-rtscts;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	reset-gpios = GP_USBH1_HUB_RESET, GP_USBH1_SOURCE;
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	status = "okay";
	vbus-supply = <&reg_usbotg_vbus>;
};

&usdhc2 {	/* uSDHC2, sdio */
	bus-width = <4>;
	cap-power-off-card;
	keep-power-in-suspend;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	status = "okay";
	vmmc-supply = <&reg_3p3v>;
};

&usdhc4 {
	bus-width = <8>;
	keep-power-in-suspend;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	reset-gpios = GP_EMMC_RESET;
	status = "okay";
	vqmmc-1-8-v;
	vmmc-supply = <&reg_1p8v>;
};
