/*
 * Copyright 2013 Boundary Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	aliases {
		backlight_lcd = &backlight_lcd;
		fb_hdmi = &fb_hdmi;
		fb_lcd = &fb_lcd;
		lcd = &lcd;
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
		mxcfb0 = &fb_hdmi;
		mxcfb1 = &fb_lcd;
		pwm_lcd = &pwm1;
	};

	memory {
		reg = <0x10000000 0x80000000>;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usbotg_vbus: usbotg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		reg_usbh1_vbus: usbh1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

	gpio_keys: gpio_keysgrp {
		compatible = "gpio-keys";
	};

	sound_sgtl5000: sound_sgtl5000 {
		compatible = "fsl,imx6q-vp-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6q-vp-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Line Out Jack", "LINE_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};
	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	fb_hdmi: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	fb_lcd: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB24";
		mode_str ="480x272MR@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB565";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_di0>;
		status = "okay";
	};

	backlight_lcd: backlight_lcd {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <10>;
		display = <&fb_lcd>;
		pwms = <&pwm1 0 50000>;
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

	i2c3mux: i2c3muxgrp {
		compatible = "i2c-mux-gpio";
	};

	uart4_gps_rfkill: uart4_gps_rfkill {
		compatible = "net,rfkill-gpio";
	};

	wlan_bt_rfkill: wlan_bt_rfkillgrp {
		compatible = "net,rfkill-gpio";
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	iomuxc_imx6q_vp: iomuxc-imx6q-vpgrp {
		status = "okay";
	};
};

&iomuxc_imx6q_vp {
	pinctrl_hog: hoggrp {
		fsl,pins = <
	/* Main power on, high shuts down system */
#define GP_MAIN_POWER_EN		<&gpio1 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD1_DAT2__GPIO1_IO19		0x030b0
#define GP_LED_BLUE			<&gpio2 24 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_CS1__GPIO2_IO24		0x0b0b0
		>;
	};

	pinctrl_audmux3: audmux3grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT7__AUD3_RXD  0x130b0
			MX6QDL_PAD_CSI0_DAT4__AUD3_TXC  0x130b0
			MX6QDL_PAD_CSI0_DAT5__AUD3_TXD  0x110b0
			MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS 0x130b0
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
#define GP_ECSPI1_NOR_CS		<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x000b1	/* CS */
		>;
	};

	pinctrl_gpiokeys: gpiokeysgrp {
		fsl,pins = <
#define GP_MAIN_POWER_BUTTON		<&gpio1 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x0b0b0
#define GP_MENU				<&gpio2 1 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x0b0b0
#define GP_BACK				<&gpio4 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x0b0b0
#define GP_SEARCH			<&gpio2 3 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D3__GPIO2_IO03		0x0b0b0
#define GP_VOLUME_UP			<&gpio7 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x0b0b0
#define GP_INPUT1			<&gpio4 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x0b0b0
#define GP_INPUT2			<&gpio4 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x0b0b0
		>;
	};

	pinctrl_hdmi_cec: hdmi_cecgrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_A25__HDMI_TX_CEC_LINE 0x1f8b0
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL	0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA	0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL	0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA	0x4001b8b1
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL	0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA	0x4001b8b1
		>;
	};

	pinctrl_i2c3mux: i2c3muxgrp {
		fsl,pins = <
#define GP_I2C3_PCIE_EN			<&gpio2 25 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_OE__GPIO2_IO25		0x0b0b0
#define GP_I2C3_MAX77818_EN		<&gpio3 2 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA2__GPIO3_IO02		0x0b0b0
		>;
	};

	pinctrl_i2c3_max77818: i2c3_max77818grp {
		fsl,pins = <
#define GPIRQ_MAX77818_INOKB		<&gpio3 4 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_EIM_DA4__GPIO3_IO04		0x1b0b0
#define GPIRQ_MAX77818_WCINOKB		<&gpio3 5 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_EIM_DA5__GPIO3_IO05		0x1b0b0
#define GPIRQ_MAX77818_INTB		<&gpio3 6 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_EIM_DA6__GPIO3_IO06		0x1b0b0
		>;
	};

	pinctrl_i2c3_touchscreen: i2c3_touchscreengrp {
		fsl,pins = <
#define GP_TOUCH_RESET	<&gpio2 22 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_A16__GPIO2_IO22		0x0b0b0
#define GPIRQ_TOUCH			<&gpio2 27 IRQ_TYPE_LEVEL_LOW>
#define GP_TOUCH			<&gpio2 27 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_LBA__GPIO2_IO27		0x1b0b0
		>;
	};

	pinctrl_ipu1_di0: ipu1_di0grp {
		fsl,pins = <
			MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x10
			MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15       0x10		/* DRDY */
			MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02        0x10		/* HSYNC */
			MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03        0x10		/* VSYNC */
			MX6QDL_PAD_DI0_PIN4__IPU1_DI0_PIN04        0x10		/* Contrast */
			MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00   0x10
			MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01   0x10
			MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02   0x10
			MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03   0x10
			MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04   0x10
			MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05   0x10
			MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06   0x10
			MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07   0x10
			MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08   0x10
			MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09   0x10
			MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10  0x10
			MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11  0x10
			MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12  0x10
			MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13  0x10
			MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14  0x10
			MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15  0x10
			MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x10
			MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x10
			MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x10
			MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x10
			MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x10
			MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x10
			MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x10
			MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x10
			>;
		};

	pinctrl_pcie: pciegrp {
		fsl,pins = <
#define GP_PCIE_RESET			<&gpio6 31 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_BCLK__GPIO6_IO31		0x0b0b0
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT3__PWM1_OUT		0x030b0
		>;
	};

	pinctrl_rv4162: rv4162grp {
		fsl,pins = <
#define GPIRQ_RTC_RV4162		<&gpio4 6 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x1b0b0
		>;
	};

	pinctrl_sgtl5000: sgtl5000grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* sys_mclk */
#define GP_SGTL5000_MUTE		<&gpio1 29 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_ENET_TXD1__GPIO1_IO29	0x030b0
#define GP_HEADPHONE_DET		<&gpio4 7 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x1b0b0
#define GP_LINE_IN_JACK_DETECT		<&gpio1 17 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD1_DAT1__GPIO1_IO17		0x1b0b0
#define GP_MIC_DETECT			<&gpio7 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_RST__GPIO7_IO08		0x1b0b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		/* Bluetooth */
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D23__UART3_CTS_B		0x1b0b1
			MX6QDL_PAD_EIM_D31__UART3_RTS_B		0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		/* GPS */
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
			MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
#define GP_GPS_IRQ			<&gpio6 1 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_CSI0_DAT15__GPIO6_IO01	0x1b0b0
#define GP_GPS_HEARTBEAT		<&gpio6 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02	0x1b0b0
#define GP_GPS_ANT_ON			<&gpio3 1 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA1__GPIO3_IO01		0x0b0b0
		>;
	};

	pinctrl_uart4_gps_rfkill: uart4_gps_rfkillgrp {
		/* GPS */
		fsl,pins = <
#define GP_GPS_RESET			<&gpio6 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00	0x0b8b0
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
#define GP_USB_HUB_RESET		<&gpio7 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x030b0
#define GP_5V_EN			<&gpio1 7 GPIO_ACTIVE_HIGH>		/* usb and hdmi 5v*/
			MX6QDL_PAD_GPIO_7__GPIO1_IO07		0x030b0
		>;
	};

	pinctrl_usbh1_vbus: usbh1_vbusgrp {
		fsl,pins = <
			/* power enable, high active */
#define GP_USB_DN1_PWR_EN		<&gpio1 4 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x030b0
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID	0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC	0x1b0b0
		>;
	};

	pinctrl_usbotg_vbus: usbotg_vbusgrp {
		fsl,pins = <
			/* power enable, high active */
#define GP_USB_OTG_PWR		<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22  0x030b0
		>;
	};

	/* USDHC2:  Broadcom Wifi */
	pinctrl_usdhc2_50mhz: usdhc2_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x17031
			MX6QDL_PAD_SD2_CLK__SD2_CLK		0x10031
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17031
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17031
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17031
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17031
#define GP_BRM_WL_WAKE_IRQ		<&gpio6 11 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x1b0b0
#define GP_BRM_CLOCK_REQUEST		<&gpio6 9 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x0b0b0
#define GP_BRM_WL_EN			<&gpio6 7 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x0b0b0
			MX6QDL_PAD_SD1_CLK__OSC32K_32K_OUT	0x000b0		/* slow clock */
		>;
	};

	/* USDHC3 - micro sd */
	pinctrl_usdhc3_50mhz: usdhc3_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10031
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17031
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17031
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17031
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17031
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17031
#define GP_SD3_CD			<&gpio7 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00 0x1b0b0	/* CD */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3_100mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x100b9
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x170b9
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x170b9
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x170b9
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x170b9
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x170b9
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3_200mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x100f9
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x170f9
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x170f9
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x170f9
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x170f9
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x170f9
		>;
	};

	pinctrl_usdhc4_50mhz: usdhc4_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10031
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17031
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17031
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17031
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17031
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17031
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17031
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17031
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17031
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17031
#define GP_EMMC_RESET	<&gpio2 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x1b0b0
		>;
	};

	pinctrl_usdhc4_100mhz: usdhc4_100mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x100b9
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x170b9
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x170b9
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x170b9
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x170b9
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x170b9
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x170b9
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x170b9
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x170b9
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x170b9
		>;
	};

	pinctrl_usdhc4_200mhz: usdhc4_200mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x100f9
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x170f9
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x170f9
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x170f9
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x170f9
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x170f9
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x170f9
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x170f9
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x170f9
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x170f9
		>;
	};

	pinctrl_wlan_bt_rfkill: wlan_bt_rfkillgrp {
		fsl,pins = <
#define GP_BRM_BT_RESET			<&gpio6 8 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	0x0b0b0		/* BT reset(Broadcom) */
#define GP_BRM_BT_SHUTDOWN		<&gpio6 15 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x030b0		/* BT reg en(Broadcom) */
#define GP_BRM_BT_WAKE_IRQ		<&gpio2 7 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_NANDF_D7__GPIO2_IO07		0x1b0b0
#define GP_BRM_BT_WAKEUP		<&gpio6 16 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x0f0b0
		>;
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux3>;
	status = "okay";
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = GP_ECSPI1_NOR_CS;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&gpio_keys {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpiokeys>;
	power {
		label = "Power Button";
		gpios = GP_MAIN_POWER_BUTTON;
		linux,code = <KEY_POWER>;
		gpio-key,wakeup;
	};

	menu {
		label = "Menu";
		gpios = GP_MENU;
		linux,code = <KEY_MENU>;
	};

	back {
		label = "Back";
		gpios = GP_BACK;
		linux,code = <KEY_BACK>;
	};

	search {
		label = "Search";
		gpios = GP_SEARCH;
		linux,code = <KEY_SEARCH>;
	};

	volume-up {
		label = "Volume Up";
		gpios = GP_VOLUME_UP;
		linux,code = <KEY_VOLUMEUP>;
	};

	input1 {
		label = "Input 1";
		gpios = GP_INPUT1;
		linux,code = <KEY_VOLUMEUP>;
	};

	input2 {
		label = "Input 2";
		gpios = GP_INPUT2;
		linux,code = <KEY_VOLUMEDOWN>;
	};
};

&hdmi_audio {
	status = "okay";
};

&hdmi_cec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi_cec>;
	status = "okay";
};

&hdmi_core {
	ipu_id = <1>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sgtl5000>;
		reg = <0x0a>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};
	rv4162@68 {
		compatible = "mcrystal,rv4162";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rv4162>;
		reg = <0x68>;
		interrupts-extended = GPIRQ_RTC_RV4162;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c3>;
        status = "okay";

        egalax_ts@04 {
                compatible = "eeti,egalax_ts";
                reg = <0x04>;
		interrupts-extended = GPIRQ_TOUCH;
		wakeup-gpios = GP_TOUCH;
        };

        ft5x06_ts@38 {
		compatible = "ft5x06-ts";
		reg = <0x38>;
		interrupts-extended = GPIRQ_TOUCH;
		wakeup-gpios = GP_TOUCH;
	};

        ili210x@41 {
		compatible = "ili210x";
		reg = <0x41>;
		interrupts-extended = GPIRQ_TOUCH;
		wakeup-gpios = GP_TOUCH;
	};
};

&i2c3mux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3mux>;
	#address-cells = <1>;
	#size-cells = <0>;

	mux-gpios = GP_I2C3_PCIE_EN, GP_I2C3_MAX77818_EN;

	i2c-parent = <&i2c3>;
	idle-state = <0>;

	i2c3a: i2c3@1 {
		/* PCIe */
		reg = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c3b: i2c3@2 {
		/* MAX77818 */		
		reg = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&i2c3b {
	max77818@66 {
		compatible = "maxim,max77823";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_max77818>;
		reg = <0x66>;
		interrupts-extended = GPIRQ_MAX77818_INTB;
		max77823,irq-gpio = GPIRQ_MAX77818_INTB;
		max77823,wakeup = <1>;
		max77823_battery: battery {
			compatible = "samsung,sec-battery";
		};

		max77823_charger: charger {
			compatible = "samsung,max77823-charger";
		};

		max77823_fuelgauge: fuelgauge {
			compatible = "samsung,max77823-fuelgauge";
		};
	};
};

&max77823_battery {
	status = "okay";
	battery,vendor = "SDI SDI";
	battery,charger_name = "max77823-charger";
	battery,fuelgauge_name = "max77823-fuelgauge";
	battery,technology = <2>; /* POWER_SUPPLY_TECHNOLOGY_LION */
	battery,bat_irq_attr = <0x3>;

	battery,chip_vendor = "QCOM";
	battery,temp_adc_type = <1>; /* SEC_BATTERY_ADC_TYPE_AP */

	battery,polling_time = <10 30 30 30 3600>;

	battery,adc_check_count = <6>;

	/* SEC_BATTERY_CABLE_CHECK_PSY | SEC_BATTERY_CABLE_CHECK_NOINCOMPATIBLECHARGE */
	battery,cable_check_type = <6>;
	battery,cable_source_type = <1>; /* SEC_BATTERY_CABLE_SOURCE_EXTERNAL */
	battery,event_check;
	battery,event_waiting_time = <600>;
	battery,polling_type = <1>; /* SEC_BATTERY_MONITOR_ALARM */
	battery,monitor_initial_count = <3>;

	battery,battery_check_type = <6>; /* SEC_BATTERY_CHECK_INT */
	battery,check_count = <0>;
	battery,check_adc_max = <1440>;
	battery,check_adc_min = <0>;

	battery,ovp_uvlo_check_type = <3>; /* SEC_BATTERY_OVP_UVLO_CHGPOLLING */

	battery,thermal_source = <0>; /* SEC_BATTERY_THERMAL_SOURCE_FG */

	battery,temp_check_type = <2>; /* _BATTERY_TEMP_CHECK_TEMP */
	battery,temp_check_count = <1>;
	battery,full_check_type = <7>; /* SEC_BATTERY_FULLCHARGED_CHGPSY */
	battery,full_check_type_2nd = <3>; /* SEC_BATTERY_FULLCHARGED_TIME */
	battery,full_check_count = <1>;
	battery,chg_gpio_full_check = <0>;
	battery,chg_polarity_full_check = <1>;

	/* SEC_BATTERY_FULL_CONDITION_SOC |
	   SEC_BATTERY_FULL_CONDITION_NOTIMEFULL |
	   SEC_BATTERY_FULL_CONDITION_VCELL */
	battery,full_condition_type = <13>;
	battery,full_condition_soc = <97>;
	battery,full_condition_vcell = <4350000>;

	battery,recharge_check_count = <1>;
	battery,recharge_condition_type = <4>; /* SEC_BATTERY_RECHARGE_CONDITION_VCELL */
	battery,recharge_condition_soc = <98>;
	battery,recharge_condition_vcell = <4350000>;

	battery,charging_total_time = <21600>;
	battery,recharging_total_time = <5400>;
	battery,charging_reset_time = <0>;
};

&max77823_charger {
	battery,charger_name = "max77823-charger";
	battery,chg_gpio_en = <0>;
	battery,chg_polarity_en = <0>;
	battery,chg_gpio_status = <0>;
	battery,chg_polarity_status = <0>;
	battery,chg_float_voltage = <4400>;
	battery,ovp_uvlo_check_type = <3>; /* SEC_BATTERY_OVP_UVLO_CHGPOLLING */
	battery,full_check_type = <7>; /* SEC_BATTERY_FULLCHARGED_CHGPSY */

	battery,input_current_limit    = <1800 460  460 4000  460  900 1000  460 460 1000  760 1800 1800 460 1300  300  700 1300 1800  300   80 1800 460 1000 1633 1000 1000 4000>;
	battery,fast_charging_current  = <2100   0  460 2100  460 1200 1000  460   0 1200  900 2100 2100   0 1300  300  700 1300 1800  300   80 2100   0 1000 2800 1000 1000 1000>;
	battery,full_check_current_1st = <200    0  200  200  200  200  200  200   0  200  200  200  200   0  200  200  200  200  200  200  200  200   0  200  200  200  200  200>;
	battery,full_check_current_2nd = <2400   0 2400 2400 2400 2400 2400 2400   0 2400 2400 2400 2400   0 2400 2400 2400 2400 2400 2400 2400 2400   0 2400 2400 2400 2400 2400>;
	usbotg-supply = <&reg_usbotg_vbus>;
};

&max77823_fuelgauge {
	compatible = "samsung,max77823-fuelgauge";
	fuelgauge,capacity_max = <990>;
	fuelgauge,capacity_max_margin = <50>;
	fuelgauge,capacity_min = <0>;
	fuelgauge,capacity_calculation_type = <0x17>;
	fuelgauge,fuel_alert_soc = <1>;
	empty_detect_voltage = <2900>;
	empty_recovery_voltage = <3100>;
	/* fuelgauge,repeated_fuelalert; */
	temp-calibration = <0 (-6763) 9858>;
	/* if temp-calibration defined, temp-calibration-data not used */
	temp-calibration-data = <250 0x7cde
				 255 0x7c50
				 260 0x7aa0
				 265 0x792e
				 270 0x788e
				 275 0x7714
				 280 0x761a
				 285 0x7536
				 290 0x73ca
				 295 0x7326
				 300 0x726c
				 305 0x71cc
				 310 0x71b2
				 315 0x70a4
				 320 0x6f6a
				 325 0x6eae
				 330 0x6a2e
				 335 0x6800
				 340 0x673c
				 345 0x665a
				 350 0x65b4
				 355 0x6478
				 360 0x6318
				 365 0x6270
				 370 0x614e
				 375 0x5f56
				 380 0x5ed2
				 385 0x5d9e
				 390 0x5b38
				 395 0x5ae0
				 400 0x59ce
				 405 0x57b2
				 410 0x55f2
				 415 0x53c2
				 420 0x505a>;
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpios = GP_PCIE_RESET;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&reg_usbh1_vbus {
	gpio = GP_USB_DN1_PWR_EN;
	enable-active-high;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1_vbus>;
};

&reg_usbotg_vbus {
	gpio = GP_USB_OTG_PWR;
	enable-active-high;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_vbus>;
};

&sound_sgtl5000 {
	line-out-mute-gpios = GP_SGTL5000_MUTE;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart4_gps_rfkill {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_gps_rfkill>;
	type = <6>;	/* gps */
	gpios = GP_GPS_RESET;
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	reset-gpios = GP_USB_HUB_RESET;
	vbus-supply = <&reg_usbh1_vbus>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usbotg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	status = "okay";
};

&usdhc2 {	/* uSDHC2, Broadcom */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_50mhz>;
	bus-width = <4>;
	non-removable;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-1-8-v;
	power-gpio = GP_BRM_WL_EN;
	cap-power-off-card;
	keep-power-in-suspend;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_50mhz>;
	bus-width = <4>;
	cd-gpios = GP_SD3_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_50mhz>;
	bus-width = <8>;
	non-removable;
	vqmmc-1-8-v;
	vmmc-supply = <&reg_1p8v>;
	keep-power-in-suspend;
	status = "okay";
};

&wlan_bt_rfkill {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wlan_bt_rfkill>;
	type = <2>;	/* bluetooth */
	reset-gpios = GP_BRM_BT_RESET;
	shutdown-gpios = GP_BRM_BT_SHUTDOWN;
};
