/*
 * Copyright 2014 Boundary Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	aliases {
		backlight_lvds = &backlight_lvds;
		fb_lvds = &fb_lvds;
		ldb = &ldb;
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mxcfb0 = &fb_lvds;
		pwm_lvds = &pwm4;
		t_lvds = &t_lvds;
	};

	backlight_lvds: backlight_lvds {
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		compatible = "pwm-backlight";
		default-brightness-level = <10>;
		display = <&fb_lvds>;
		pwms = <&pwm4 0 5000000>;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
	};

	memory {
		reg = <0x10000000 0x80000000>;
	};

	fb_lvds: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-WXGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	regulators {
		compatible = "simple-bus";

		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usbh1_vbus: usbh1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usbh1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

	sound {
		compatible = "fsl,imx6q-ta-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6q-ta-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;
        iomuxc_imx6q_ta: iomuxc-imx6q-tagrp {
                status = "okay";
        };
};

&iomuxc_imx6q_ta {
	pinctrl_hog_1: hoggrp {
		fsl,pins = <
#define GP_EXCH_OFF			<&gpio3 11 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA11__GPIO3_IO11		0x130b0
	/* Heater */
#define GP_HEATER_OFF			<&gpio3 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_DA4__GPIO3_IO04		0x130b0
	/* LEDS */
#define GP_LED_RED			<&gpio3 0 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA0__GPIO3_IO00		0x030b0
	/* dry contact relays */
#define GP_RELAY_EVENT			<&gpio3 7 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA7__GPIO3_IO07		0x030b0
#define GP_RELAY_GAS			<&gpio3 9 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA9__GPIO3_IO09		0x030b0
		>;
	};

	pinctrl_audmux3: audmux3grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT7__AUD3_RXD		0x130b0
			MX6QDL_PAD_CSI0_DAT4__AUD3_TXC		0x130b0
			MX6QDL_PAD_CSI0_DAT5__AUD3_TXD		0x110b0
			MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS		0x130b0
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
#define GP_ECSPI1_NOR_CS		<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x0b0b1
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x100b0
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x100b0
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x100b0
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x100b0
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x100b0
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x100b0
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x100b0
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b0b0
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x1b0b0
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b0b0
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b0b0
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b0b0
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x1b0b0
#define GP_ENET_PHY_RESET		<&gpio1 27 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_ENET_RXD0__GPIO1_IO27	0x030b0
#define GPIRQ_ENET_PHY			<&gpio1 28 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28	0x1b0b0
#define GPIRQ_ENET		<&gpio1 6 IRQ_TYPE_LEVEL_HIGH>
			MX6QDL_PAD_GPIO_6__ENET_IRQ		0x000b1
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX	0x1b0b0
			MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX	0x1b0b0
		>;
	};

	pinctrl_gpio_keys: gpio_keysgrp {
		fsl,pins = <
#define GP_INTERLOCK_IRQ		<&gpio2 20 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_A18__GPIO2_IO20		0x1b0b0
#define GP_ZERO_CROSSING_IRQ		<&gpio2 19 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_A19__GPIO2_IO19		0x1b0b0
#define GP_SYNC_IRQ			<&gpio3 12 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA12__GPIO3_IO12		0x1b0b0
#define GP_HEATER_FAULT_IRQ		<&gpio3 3 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA3__GPIO3_IO03		0x1b0b0
#define GP_EXCH_FAULT1			<&gpio3 6 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA6__GPIO3_IO06		0x1b0b0
#define GP_EXCH_FAULT2			<&gpio3 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA5__GPIO3_IO05		0x1b0b0
#define GP_EXCH_FAULT_IRQ		<&gpio3 10 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA10__GPIO3_IO10		0x1b0b0
#define GP_CAN_CONNECT			<&gpio3 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_DA13__GPIO3_IO13		0x130b0
#define GP_UART1_DTR			<&gpio3 24 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D24__GPIO3_IO24		0x1b0b1
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_1: i2c1_1grp {
		fsl,pins = <
#define GP_I2C1_SCL	<&gpio3 21 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D21__GPIO3_IO21		0x4001b8b1
#define GP_I2C1_SDA	<&gpio3 28 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c2_1: i2c2_1grp {
		fsl,pins = <
#define GP_I2C2_SCL	<&gpio4 12 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12		0x4001b8b1
#define GP_I2C2_SDA	<&gpio4 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		0x4001b8b1
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL		0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA		0x4001b8b1
#define GPIRQ_I2C3_TOUCH	<&gpio1 9 IRQ_TYPE_EDGE_FALLING>
#define GP_I2C3_TOUCH		<&gpio1 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0
		>;
	};

	pinctrl_i2c3_1: i2c3_1grp {
		fsl,pins = <
#define GP_I2C3_SCL	<&gpio1 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x4001b8b1
#define GP_I2C3_SDA	<&gpio7 11 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x4001b8b1
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__PWM4_OUT		0x1b0b1
		>;
	};

	pinctrl_sgtl5000: sgtl5000grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* sys_mclk */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL1__UART5_TX_DATA	0x0b0b1
			MX6QDL_PAD_KEY_ROW1__UART5_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D30__USB_H1_OC		0x1b0b0
		>;
	};

	pinctrl_usbh1_vbus: usbh1_vbusgrp {
		fsl,pins = <
#define GP_USBH1_PWR			<&gpio2 28 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_EB0__GPIO2_IO28          0x030b0
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x1b0b0
		>;
	};

	pinctrl_usbotg_vbus: usbotg_vbusgrp {
		fsl,pins = <
#define GP_USB_OTG_PWR			<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22          0x030b0
		>;
	};

	pinctrl_usdhc3_50mhz: usdhc3_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
			MX6QDL_PAD_NANDF_CS1__SD3_VSELECT	0x100b0
#define GP_SD3_CD			<&gpio7 0 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x1b0b0
		>;
	};

	pinctrl_usdhc4_50mhz: usdhc4_50mhzgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
#define GP_EMMC_RESET	<&gpio2 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x1b0b0
		>;
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux3>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = GP_ECSPI1_NOR_CS;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&fec {
	interrupts-extended = GPIRQ_ENET,
			      <&gpc 0 119 IRQ_TYPE_LEVEL_HIGH>;
	phy-handle = <&ethphy>;
	phy-mode = "rgmii";
#if 0
	phy-reset-gpios = GP_ENET_PHY_RESET;
#endif
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	status = "okay";

	mdio {
		#address-cells = <0>;
		#size-cells = <1>;

		ethphy: ethernet-phy@6 {
			reg = <6>;
			interrupts-extended = GPIRQ_ENET_PHY;
		};
	};
};

&gpio_keys {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_keys>;
	interlock {
		label = "interlock";
		gpios = GP_INTERLOCK_IRQ;
		linux,code = <KEY_POWER>;
		gpio-key,wakeup;
	};

	zero_crossing {
		label = "zero_crossing";
		gpios = GP_ZERO_CROSSING_IRQ;
		linux,code = <KEY_MENU>;
	};

	sync {
		label = "sync";
		gpios = GP_SYNC_IRQ;
		linux,code = <KEY_HOMEPAGE>;
	};

	heater_fault {
		label = "heater_fault";
		gpios = GP_HEATER_FAULT_IRQ;
		linux,code = <KEY_BACK>;
	};

	exch_fault1 {
		label = "exch_fault1";
		gpios = GP_EXCH_FAULT1;
		linux,code = <KEY_VOLUMEUP>;
	};

	exch_fault2 {
		label = "exch_fault2";
		gpios = GP_EXCH_FAULT2;
		linux,code = <KEY_VOLUMEDOWN>;
	};

	exch_fault_irq {
		label = "exch_fault_irq";
		gpios = GP_EXCH_FAULT_IRQ;
		linux,code = <KEY_MINUS>;
	};

	can_connected {
		label = "can_connect";
		gpios = GP_CAN_CONNECT;
		linux,code = <KEY_EQUAL>;
	};

	uart1_dtr {
		label = "uart1_dtr";
		gpios = GP_UART1_DTR;
		linux,code = <KEY_1>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_1>;
	scl-gpios = GP_I2C1_SCL;
	sda-gpios = GP_I2C1_SDA;
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sgtl5000>;
		reg = <0x0a>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_1>;
	scl-gpios = GP_I2C2_SCL;
	sda-gpios = GP_I2C2_SDA;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_1>;
	scl-gpios = GP_I2C3_SCL;
	sda-gpios = GP_I2C3_SDA;
	status = "okay";

        egalax_ts@04 {
                compatible = "eeti,egalax_ts";
                reg = <0x04>;
                interrupts-extended = GPIRQ_I2C3_TOUCH;
                wakeup-gpios = GP_I2C3_TOUCH;
        };

        ft5x06_ts@38 {
		compatible = "ft5x06-ts";
		reg = <0x38>;
		interrupts-extended = GPIRQ_I2C3_TOUCH;
		wakeup-gpios = GP_I2C3_TOUCH;
	};

        ili210x@41 {
		compatible = "ili210x";
		reg = <0x41>;
		interrupts-extended = GPIRQ_I2C3_TOUCH;
		wakeup-gpios = GP_I2C3_TOUCH;
	};
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		primary;
		status = "okay";
		crtc = "ipu1-di0";

		display-timings {
			t_lvds: t_lvds_default {
				/* values may be changed in bootscript */
				clock-frequency = <75000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <40>;
				hfront-porch = <40>;
				vback-porch = <3>;
				vfront-porch = <80>;
				hsync-len = <10>;
				vsync-len = <10>;
			};
		};
	};
};

&reg_usbh1_vbus {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1_vbus>;
	gpio = GP_USBH1_PWR;
	enable-active-high;
};

&reg_usb_otg_vbus {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_vbus>;
	gpio = GP_USB_OTG_PWR;
	enable-active-high;
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usbh1_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	disable-over-current;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_50mhz>;
	bus-width = <4>;
	cd-gpios = GP_SD3_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_50mhz>;
	bus-width = <8>;
	non-removable;
	vqmmc-1-8-v;
	vmmc-supply = <&reg_1p8v>;
	keep-power-in-suspend;
	status = "okay";
};
