
#include "imx7d-12x12-lpddr3-arm2.dts"

/ {
	memory {
		linux,usable-memory = <0x80000000 0x3ff00000>;
	};

	gpio-keys {
		status = "disabled";
	};
};

&adc1 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&gpt3 {
	status = "disabled";
};

&gpt4 {
	status = "disabled";
};

&mcctest{
	status = "okay";
};

&mcctty{
	status = "okay";
};

&rpmsg{
	status = "okay";
};

&uart2 {
	status = "disabled";
};

&wdog3{
	status = "disabled";
};
