#
# HDMI Rx Device Driver Configuration
#


config AMLOGIC_MEDIA_TVIN_HDMI
    tristate "Amlogic HDMI RX device driver"
    default n
    help
      HDMI RX device driver.
      HDMI RX device driver.
      HDMI RX device driver.
      HDMI RX device driver.
