#
# Bluetooth configuration
#

menu "MXC AMD GPU support"
	depends on ARCH_MX35 || ARCH_MX51 || ARCH_MX53 || ARCH_MX50

config MXC_AMD_GPU
	tristate "MXC AMD GPU support"
	---help---
         Say Y to get the GPU driver support.

endmenu
